#page-welcome-to-erpnext ul li {
	margin: 7px 0px;
}

#page-welcome-to-erpnext .video-placeholder-image {
	width: 100%;
	cursor: pointer;
}

#page-welcome-to-erpnext .youtube-icon {
	width: 10%;
	cursor: pointer;
}
