{% extends "templates/web.html" %}

{% block title %} Payment {% endblock %}

{%- block header -%}{% endblock %}

{%- block page_content -%}
<div class="affirm-container">
    <h1>Please wait while we redirect you to Affirm <span class="loader__dot">.</span><span class="loader__dot">.</span><span class="loader__dot">.</span></h1>
    {{checkout_data|json }}
</div>
{% endblock %}

{% block style %}
<style>
    @keyframes blink {
        50% {
            color: transparent
        }
    }

    .loader__dot {
        animation: 1s blink infinite
    }

    .loader__dot:nth-child(2) {
        animation-delay: 250ms
    }

    .loader__dot:nth-child(3) {
        animation-delay: 500ms
    }

    .affirm-container {
        margin: 50px auto;
        width: 50%;
    }
</style>
{% endblock %}

{% block script %}
<!-- BOF - AFFIRM -->
<script>
    _affirm_config = {
      public_api_key:  "{{ affirm_api_config.public_api_key }}",
      script:          "{{ affirm_api_config.checkout_url }}"
    };
   (function(m,g,n,d,a,e,h,c){var b=m[n]||{},k=document.createElement(e),p=document.getElementsByTagName(e)[0],l=function(a,b,c){return function(){a[b]._.push([c,arguments])}};b[d]=l(b,d,"set");var f=b[d];b[a]={};b[a]._=[];f._=[];b._=[];b[a][h]=l(b,a,h);b[c]=function(){b._.push([h,arguments])};a=0;for(c="set add save post open empty reset on off trigger ready setProduct".split(" ");a<c.length;a++)f[c[a]]=l(b,d,c[a]);a=0;for(c=["get","token","url","items"];a<c.length;a++)f[c[a]]=function(){};k.async=
   !0;k.src=g[e];p.parentNode.insertBefore(k,p);delete g[e];f(g);m[n]=b})(window,_affirm_config,"affirm","checkout","ui","script","ready","jsReady");
</script>

<!-- EOF - AFFIRM -->

<script>
	affirm.checkout({{ checkout_data|json }});
	affirm.checkout.open();
</script>
{% endblock %}
