.authorizenet #payment-form {
    margin-top: 5rem;
}

.authorizenet #payment-form .form-row {
    justify-content: center;
}

.authorizenet h2 {
    margin-top: 30px;
}

.authorizenet .submit_row .row {
    justify-content: flex-end;
}

.authorizenet input[type="number"]::-webkit-outer-spin-button,
.authorizenet input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.authorizenet button {
    float: right;
    background: #5e64ff;
    color: white;
    border-radius: 4px;
    border: 0;
    font-size: 17px;
    font-weight: 400;
    padding: 10px 20px;
}

.authorizenet button:hover,
.authorizenet button:focus {
    background: #2b33ff;
    border-color: #0711ff;
}

.authorizenet button:active {
    background: #5e64ff;
}

.authorizenet button:disabled {
    background: #515e80;
}

.authorizenet .group {
    background: white;
    box-shadow: 2px 7px 14px 2px rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 5px 20px;
}

.authorizenet label {
    position: relative;
    color: #8898AA;
    font-weight: 300;
    height: 40px;
    line-height: 40px;
    display: block;
    margin-bottom: 0;
}

.authorizenet .group label:not(:last-child) {
    border-bottom: 1px solid #F0F5FA;
}

.authorizenet label>span {
    width: 20%;
}

.field {
    background: transparent;
    font-weight: 300;
    border: 0;
    color: #31325F;
    outline: none;
    cursor: text;
    padding: 10px;
}

@media screen and (max-width: 576px) {
    .field {
        padding-left: 0;
    }
}