{% extends "templates/web.html" %}

{% block title %} Payment {% endblock %}

{% block script %}
<script>
	{
		%
		include "templates/includes/integrations/authorizenet_checkout.js" %
	}
</script>
<script>
	context = "{{ payment_context }}"
</script>
{% endblock %}

{%- block page_content -%}

<div class="authorizenet">
	<div class="col-md-12">
		<h2 class="text-center">{{ payment_context.description }}</h2>
		<form id="payment-form">
			<div class="form-row row">

				<div class="col-md-8 col-sm-12">
					<div class="group row">
						<div class="col-md-4 col-sm-6">
							<label>{{ _("Name") }}</label>
						</div>
						<div class="col-md-8 col-sm-6">
							<input id="cardholder-name" name="cardholder-name" class="field" placeholder="{{ _('John Doe') }}"
								value="{{ payment_context.payer_name }}" />
						</div>
					</div>

					<div class="group row">
						<div class="col-md-4 col-sm-6">
							<label>{{ _("Email") }}</label>
						</div>
						<div class="col-md-8 col-sm-6">
							<input id="cardholder-email" name="cardholder-email" class="field" placeholder="{{ _('john@doe.com') }}"
								value="{{ payment_context.payer_email }}" />
						</div>
					</div>

					<div class="group row">
						<div class="col-md-4 col-sm-6">
							<label>{{ _("Card Number") }}</label>
						</div>
						<div class="col-md-8 col-sm-6">
							<input type="number" id="card-number" name="card-number" class="field"
								placeholder="{{ _('XXXX-XXXX-XXXX-XXXX') }}" />
						</div>

						<div class="col-md-4 col-sm-6">
							<label>{{ _("Card Expiry") }}</label>
						</div>
						<div class="col-md-8 col-sm-6">
							<input type="text" id="card-expiry" maxlength="7" name="card-expiry" class="field"
								placeholder="{{ _('YYYY-MM') }}" />
						</div>

						<div class="col-md-4 col-sm-6">
							<label>{{ _("Card Code") }}</label>
						</div>
						<div class="col-md-8 col-sm-6">
							<input type="password" id="card-code" maxlength="4" name="card-code" class="field"
								placeholder="{{ _('****') }}" />
						</div>

					</div>

				</div>
				<div class="col-md-8 col-sm-12 submit_row">
					<div class="row">
					<button type="submit" class="submit" id="submit">{{_('Pay')}} {{ amount }}</button>
				</div>
				</div>
			</div>
		</form>
	</div>
</div>


{% endblock %}
