# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.nyc_output

# Next.js
.next
out
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local
.env.example

# IDE
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db
.Thumbs.db

# Build
dist
build

# Prisma
prisma/migrations

# Coverage
.coverage
