<div class="patient-progress-sidebar">
	<div class="patient-image-container">
		{% if patient_image %}
			<div class="patient-image" src={{patient_image}} style="background-image: url(\'{%= patient_image %}\')"></div>
		{% endif %}
	</div>
	<div class="patient-details">
		{% if patient_name %}
		<p class="patient-name bold">{{patient_name}}</p>
		{% endif %}
		{% if patient_gender %}
		<p class="patient-gender text-muted">{%=__("Gender: ") %} {{patient_gender}}</p>
		{% endif %}
		{% if patient_mobile %}
		<p class="patient-mobile text-muted">{%=__("Contact: ") %} {{patient_mobile}}</p>
		{% endif %}
		{% if total_therapy_sessions %}
		<p class="patient-sessions text-muted">{%=__("Total Therapy Sessions: ") %} {{total_therapy_sessions}}</p>
		{% endif %}
		{% if therapy_sessions_this_month %}
		<p class="patient-sessions text-muted">{%=__("Monthly Therapy Sessions: ") %} {{therapy_sessions_this_month}}</p>
		{% endif %}
	</div>
	<div class="important-links">
		<p><a class="patient-profile-link">{%=__("Patient Profile") %}</a></p>
		<p><a class="therapy-plan-link">{%=__("Therapy Plan") %}</a></p>
		<p><a class="patient-history">{%=__("Patient History") %}</a></p>
	</div>
</div>
