<div class="web-list-item transaction-list-item">
  <a href="/lab-test?name={{ doc.name }}">
    <div class="row">
        <div class="col-xs-3">
            <span class="indicator {{ "green" if doc.status=="Completed" else "red"}}">
                {{ doc.name }}
            </span>
        </div>
        <div class="col-xs-3">
          {{ doc.test_name }}
        </div>
        <div class="col-xs-3">
          {{ doc.practitioner }}
        </div>
        <div class="col-xs-3 text-right small text-muted">
          {{ frappe.format_date(doc.result_date) }}
        </div>
    </div>
  </a>
</div>
