.todoitem {
	padding-bottom: 3px;
	clear: both;
}

.todoitem div {
	float: left;
	display: inline-block;
	padding: 3px;
}

.todoitem .label {
	width: 50px;
	margin-right: 11px;
	margin-top: 3px;
	text-align: center;
}

.todoitem .todo-date {
	margin-top: -2px;
	margin-right: 7px;
	color: #aaa;
}

.todoitem .close {
	margin-left: 5px;
	font-size: 17px;
}

.todoitem .close-span {
	float: right;
}

.todo-separator {
	border-bottom: 1px solid #DEB85F;
	margin-bottom: 5px;
	clear: both;
}

.todo-content {
	padding-right: 15px;
}

.todo-layout {
	background-color: #FFFDC9;
	min-height: 300px;
}

.todoitem .popup-on-click {
	margin: 0px 6px;
}