<div class="layout_wrapper">
	<div class="web-content" id="content-{{ doc.name }}" 
		style="text-align: {{ doc.text_align }};">
		{% if doc.head_section and doc.layout=='Two column with header' %}
		<div class="web-head-section">
			{{ doc.head_section_html }}
		</div>
		{% endif %}
		
		{% if doc.layout.startswith('Two column') %}
		<div class="web-main-section">
		{% endif %}
			{{ doc.main_section_html }}
			{% if doc.next_page_html %}
				{{ doc.next_page_html }}
			{% endif %}

		{% if doc.layout.startswith('Two column') %}
		</div>
		{% endif %}
		
		{% if doc.layout.startswith('Two column') %}
		<div class="web-side-section">
			{{ doc.side_section_html }}
			{% if doc.see_also %}
			<div class="info-box">
				<h4>See Also</h4>
				{{ doc.see_also }}
			</div>
			{% endif %}
		</div>
		{% endif %}
		<div style="clear: both"></div>
	</div>
</div>
<div class="web-page-status small">
	Last Modified: {{ doc.updated }} <a href="#contact">Feedback</a>
</div>
