<div class="layout-wrapper layout-wrapper-background">
	<div class="web-content" 
		style="text-align: {{ doc.text_align }};">
		
		{% if doc.layout and doc.layout.startswith('Two column') %}
		<div class="layout-main-section">
		{% else %}
		<div class="layout-main">
		{% endif %}
			{{ doc.main_section_html }}
		</div>
		
		{% if doc.layout and doc.layout.startswith('Two column') %}
		<div class="layout-side-section">
			{{ doc.side_section_html }}
		</div>
		{% endif %}
		<div style="clear: both"></div>
	</div>
</div>
