{% extends base_template %}

{% set title="Product Search" %}

{% block javascript %}
<script>{% include "app/stock/doctype/item/templates/includes/product_list.js" %}</script>
{% endblock %}

{% block content %}
<script>
$(document).ready(function() {
	var txt = get_url_arg("q");
	$(".search-results").html("Search results for: " + txt);
	window.search = txt;
	window.start = 0;
	window.get_product_list();
});
</script>

{% include "app/stock/doctype/item/templates/includes/product_search_box.html" %}
<div class="container content">
	<h3 class="search-results">Search Results</h3>
	<div id="search-list" class="row">
		
	</div>
	<div style="text-align: center;">
		<div class="more-btn" 
			style="display: none; text-align: center;">
			<button class="btn">More...</button>
		</div>
	</div>
</div>
{% endblock %}