div.home-status {
	margin: 7px;
	padding: 5px;
	color: #666;
}

span.home-status-link {
	cursor: pointer;
	text-decoration: underline;
}

span.home-status-unread {
	padding: 2px 3px;
	font-size: 11px;
	color: #FFF;
	background-color: RED;
}

div.setup-wizard {
	display: none;
	margin: 13px 0px;
	background-color: #FED;
	padding: 13px;
}

div.setup-wizard .header {
	font-size: 12px;
	font-weight: bold;
	color: #322;
	margin-bottom: 7px;
}


div.setup-wizard .percent-outer {
	height: 17px;
	background-color: #FFF;
	border: 2px solid #322;
}

div.setup-wizard .percent-inner {
	height: 17px;
	background-color: GREEN;
}

div.setup-wizard .suggestion {
	margin: 7px 0px;
	color: #322;	
}

div.setup-wizard .prev-next {
	height: 13px;
}

div.setup-wizard .prev-next span {
	display: none;
	float: right;
	margin-left: 13px;
	color: #877;
	font-size: 11px;
}


