.user-card {
	border-radius: 5px;
	width: 200px;
	margin: 11px;
	padding: 11px;
	background-color: #FFEDBD;
	box-shadow: 3px 3px 5px #888;
	float: left;
	overflow: hidden;
}

.user-card.disabled {
	background-color: #eee;
}

.user-card img {
	height: 60px;
}

.user-role {
	padding: 5px;
	width: 45%;
	float: left;
}

table.user-perm {
	border-collapse: collapse;
}

table.user-perm td, table.user-perm th {
	padding: 5px;
	text-align: center;
	border-bottom: 1px solid #aaa;
	min-width: 30px;
}

.subscription-info-box {
	margin: 0px 11px;
	background-color: #EEEEEE;
    border: 1px solid #DDDBDB;
    padding: 5px 3px;
}

.subscription-info {
	padding: 0px 10px;
}