[flake8]
ignore =
    E121,
    E126,
    E127,
    E128,
    E203,
    E225,
    E226,
    E231,
    E241,
    E251,
    E261,
    E265,
    E302,
    E303,
    E305,
    E402,
    E501,
    E741,
    W291,
    W292,
    W293,
    W391,
    W503,
    W504,
    F403,
    B007,
    B950,
    W191,
    E124, # closing bracket, irritating while writing QB code
    E131, # continuation line unaligned for hanging indent
    E123, # closing bracket does not match indentation of opening bracket's line
    E101, # ensured by use of black

max-line-length = 200
exclude=.github/helper/semgrep_rules
