*.pyc
*.comp.js
.DS_Store
patch.log
lib
conf.py
version.num
public/*.html
!public/blank.html
!public/unsupported.html
!public/app.html
public/js/lib
public/images/lib
public/files
public/backups
public/css/wn-web.css
public/js/wn-web.js