exclude: 'node_modules|.git'
default_stages: [commit]
fail_fast: false


repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        files: "erpnext.*"
      - id: end-of-file-fixer
        files: "erpnext.*"
        exclude: ".*json$|.*txt$"
      - id: check-yaml
      - id: no-commit-to-branch
        args: ['--branch', 'develop']
      - id: check-merge-conflict
      - id: check-ast

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies: [flake8-isort]
        exclude: ".*setup.py$"

ci:
    autoupdate_schedule: weekly
    skip: []
    submodules: false
