{
	"branches": ["version-13"],
	"plugins": [
		"@semantic-release/commit-analyzer", {
			"preset": "angular",
			"releaseRules": [
				{"breaking": true, "release": false}
			]
		},
		"@semantic-release/release-notes-generator",
		[
			"@semantic-release/exec", {
				"prepareCmd": 'toml set --toml-path pyproject.toml project.version ${nextRelease.version}'
			}
		],
		[
			"@semantic-release/git", {
				"assets": ["pyproject.toml"],
				"message": "chore(release): Bumped to Version ${nextRelease.version}\n\n${nextRelease.notes}"
			}
		],
		"@semantic-release/github"
	]
}
