# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

erpnext/accounts/               @ruthra-kumar
erpnext/assets/                 @khushi8112
erpnext/regional                @ruthra-kumar
erpnext/selling                 @ruthra-kumar

erpnext/buying/                 @rohitwaghchaure @mihir-kandoi
erpnext/maintenance/            @rohitwaghchaure @mihir-kandoi
erpnext/manufacturing/          @rohitwaghchaure @mihir-kandoi
erpnext/quality_management/     @rohitwaghchaure @mihir-kandoi
erpnext/stock/                  @rohitwaghchaure @mihir-kandoi
erpnext/subcontracting/         @mihir-kandoi
erpnext/projects/               @nishkagosalia

erpnext/controllers/            @ruthra-kumar @rohitwaghchaure @mihir-kandoi
erpnext/patches/                @ruthra-kumar @rohitwaghchaure @mihir-kandoi

.github/                        @ruthra-kumar @mihir-kandoi
pyproject.toml                  @ruthra-kumar
