braintree==3.57.1
frappe
gocardless-pro==1.11.0
googlemaps==3.1.1
pandas>=1.0.5
plaid-python>=7.0.0
pycountry==19.8.18
PyGithub==1.44.1
python-stdnum==1.12
python-youtube==0.6.0
taxjar==1.9.0
tweepy==3.8.0
Unidecode==1.1.1
WooCommerce==2.1.1
pycryptodome==3.9.8
