# frappe   # https://github.com/frappe/frappe is installed during bench-init
gocardless-pro~=1.22.0
googlemaps  # used in ERPNext, but dependency is defined in Frappe
pandas~=1.1.5
plaid-python~=7.2.1
pycountry~=20.7.3
PyGithub~=1.54.1
python-stdnum~=1.16
python-youtube~=0.8.0
taxjar~=1.9.2
tweepy~=3.10.0
Unidecode~=1.2.0
