<div class="grid-row">
	<div class="row">
		<div class="col-xs-12">
			<label class="control-label">{{ name }}</label>
		</div>
		<div class="col-xs-5 ellipsis hidden-xs">
			<h4>{{ __("Date") }}</h4><h6> {%= frappe.datetime.str_to_user(posting_date) %}</h6>
			{% if (typeof reference_date !== "undefined") %}
			<h4>{{ __("Reference Date") }}</h4><h6>{%= frappe.datetime.str_to_user(reference_date) %}</h6>
			{% endif %}
		</div>
		<div class="col-xs-7 ellipsis list-subject">
			<h4>{{ __("Amount") }}</h4><h6>{{ format_currency(paid_amount, currency) }}</h6>
			{% if (typeof party !== "undefined") %}
			<h4>{{ __("Party") }}</h4><h6>{{ party }}</h6>
			{% endif %}
			{% if (typeof reference_no !== "undefined") %}
			<h4>{{ __("Reference") }}</h4><h6>{{ reference_no }}</h6>
			{% endif %}
		</div>
		<div class="text-right margin-bottom">
			<button class="btn btn-primary btn-xs reconciliation-btn" data-doctype={{ doctype }} data-name={{ name }}>{{ __("Reconcile") }}</button>
		</div>
	</div>
</div>
