.erpnext-footer {
	margin: 11px auto;
	text-align: center;
}

.show-all-reports {
	margin-top: 5px;
	font-size: 11px;
}

/* toolbar */
.toolbar-splash {
	width: 32px;
	height: 32px;
	margin: -10px auto;
}

/* pos */
.pos {
}

.pos-item {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	padding: 5px;
	height: 0px;
	padding-bottom: 38%;
	width: 30%;
	margin: 1.6%;
	border: 1px solid #d1d8dd;
}

.pos-item-text {
	padding: 0px 5px;
}

.pos-item .item-code {
	margin-bottom: 0px;
}

.pos-item .no-image {
	background-color: #fafbfc;
	border: 1px dashed #d1d8dd;
}

.pos-item-image {
	padding-bottom: 100%;
	background-size: cover;
	border: 1px solid transparent;
}

.pos-item-area {
	border: 1px solid #d1d8dd;
	border-top: none;
}

.pos-item-toolbar {
	padding: 10px 0px;
	border-bottom: 1px solid #d1d8dd;
}

.item-list-area {
	padding: 15px 0px;
}

.pos-toolbar, .pos-bill-toolbar {
	padding: 10px 0px;
	border-bottom: 1px solid #d1d8dd;
	height: 51px;
}

.pos-item-toolbar .form-group {
	margin-bottom: 0px;
}

.pos-bill-wrapper {
	border: 1px solid #d1d8dd;
	border-top: none;
	margin-right: -1px;
}

.pos-bill {
	margin-left: -15px;
	margin-right: -15px;
}

.pos-bill-row {
	margin: 0px;
	padding: 7px 0px;
	border-top: 1px solid #d1d8dd;
}

.pos-bill-header {
	border: none !important;
	background-color: #f5f7fa;
}

.pos-item-qty {
	display: inline-block;
}

.pos-qty-row > div {
	padding: 5px 0px;
}

.pos-qty-btn {
	margin-top: 3px;
	cursor: pointer;
	font-size: 120%;
}

.pos .search-area .form-group {
	max-width: 100% !important;
}

.pos .tax-table {
	margin-bottom: 10px;
}

