@import "../../../../frappe/frappe/public/less/variables.less";

body[data-route^="Hub/"] {
	.hub-icon {
		width: 40px;
	}

	.hub-page-title {
		margin-left: 10px;
	}

	.img-wrapper {
		border: 1px solid #d1d8dd;
		border-radius: 3px;
		padding: 12px;
		overflow: hidden;
		text-align: center;
		white-space: nowrap;

		.helper {
			height: 100%;
			display: inline-block;
			vertical-align: middle;
		}
	}

	.tree {
		margin: 10px 0px;
		padding: 0px;
		height: 100%;
		position: relative;
	}

	.tree.with-skeleton.opened::before {
		left: 9px;
		top: 14px;
		height: calc(~"100% - 32px");
	}

	.list-header-icon {
		width: 72px;
		border-radius: 4px;
		flex-shrink: 0;
		margin: 10px;
		padding: 1px;
		border: 1px solid @border-color;
		height: 72px;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			border-radius: 4px;
		}
	}

	.star-icon.fa-star {
		color: @indicator-orange;
	}

	.octicon-heart.liked {
		color: @indicator-red;
	}

	.margin-vertical-10 {
		margin: 10px 0px;
	}

	.margin-vertical-15 {
		margin: 15px 0px;
	}

	.frappe-list .result {
		min-height: 100px;
	}
}

.image-view-container {
	.image-view-body {
		&:hover .like-button {
			opacity: 0.7;
		}
	}

	.like-button {
		bottom: 10px !important;
		left: 10px !important;
		width: 36px;
		height: 36px;
		opacity: 0;
		font-size: 16px;
		color: @text-color;
		position: absolute;

		// show zoom button on mobile devices
		@media (max-width: @screen-xs) {
			opacity: 0.5
		}
	}

	.image-view-body:hover .like-button {
		opacity: 0.7;
	}
}

.rating-area .star-icon {
	cursor: pointer;
	font-size: 15px;
}
