@brand-primary:			#5E64FF;
@erpnext-blue:			#7575ff;
@border-color:			#d1d8dd;
@light-border-color:	#EBEFF2;
@text-color:			#36414C;
@text-light:			#6c7680;
@text-muted:			#8D99A6;
@btn-bg:				#F0F4F7;
@panel-bg:				#F7FAFC;
@grey-link-color:		#212a33;
@disabled-background:   #f2f5f7;
@navbar-bg:				#f5f7fa;
@light-bg:				#fafbfc;
@modal-backdrop-bg:		#334143;
@light-yellow:			#fffce7;
@extra-light-yellow:	#fffdf4;
@text-extra-muted:		@border-color;
@text-regular:			14px;
@text-medium:			12px;
@text-small:			10px;
@text-dark:				#2E3338;

@indicator-blue:		#5e64ff;
@indicator-red:			#ff5858;
@indicator-green:		#98d85b;
@indicator-orange:		#ffa00a;
@indicator-purple:		#743ee2;
@indicator-darkgrey:	#b8c2cc;
@indicator-yellow:		#FEEF72;
@indicator-light-blue:	#7CD6FD;

@heart-color:	@indicator-red;

@navbar-default-color:		#6C7680;
@navbar-inverse-color:		#9D9D9D;
@navbar-default-bg:			#f5f7fa;
@navbar-default-border:		#EBEFF2;
@breadcrumb-divider-color:	#C0C9D2;

@label-primary-bg:			#D9F6FF;
@label-success-bg:			#E4FFC1;
@label-info-bg:				#E8DDFF;
@label-warning-bg:			#FFE6BF;
@label-danger-bg:			#FFDCDC;

@checkbox-color:			#3b99fc;

@screen-xs:				767px;
@screen-sm:				991px;
@screen-md:				1199px;

@font-stack:	-apple-system, BlinkMacSystemFont,
	"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
	"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

//	palette	colors
@red:						#FC4F51;
@red-light:					#FD8B8B;
@red-extra-light:			#FEC3C5;
@red-dark: 					#A63336;

@blue: 						#7679FC;
@blue-light: 				#A3A5FC;
@blue-extra-light: 			#D1D3FC;
@blue-dark: 				#4C51A2;

@green: 					#C6EA6C;
@green-light: 				#D9F29E;
@green-extra-light: 		#EBF7CF;
@green-dark: 				#7C9142;

@yellow: 					#FEEF72;
@yellow-light: 				#FFF5A0;
@yellow-extra-light: 		#FEF9CF;
@yellow-dark: 				#A99E4C;

@orange: 					#FD784F;
@orange-light: 				#FDA688;
@orange-extra-light: 		#FDD2C2;
@orange-dark: 				#A64F33;

@skyblue: 					#7BD7FC;
@skyblue-light: 			#AAE3FE;
@skyblue-extra-light: 		#D4F1FF;
@skyblue-dark: 				#548DA8;










