<div class="row" style="max-height: 30px;">
	<div class="col-xs-8">
		<div class="text-ellipsis">
			{%= list.get_avatar_and_id(doc) %}
		</div>
	</div>
    <div class="col-xs-2">
		{% if(doc.outstanding_amount > 0 && doc.docstatus==1) { %}
			{% if(frappe.datetime.get_diff(doc.due_date) < 0) { %}
			<span class="indicator red filterable"
				title="{%= doc.get_formatted("due_date")%}"
				data-filter="outstanding_amount,>,0|due_date,<,Today">
					{%= __("Overdue") %}
			</span>
			{% } else { %}
			<span class="indicator orange filterable"
				data-filter="outstanding_amount,>,0|due_date,>=,Today"
				title="{%= __("Payment Pending") %}">
				{%= doc.get_formatted("due_date") %}</span>
			{% } %}
		{% } %}
		{% if(doc.outstanding_amount==0 && doc.docstatus==1) { %}
			<span class="indicator green filterable"
				title="{%= doc.get_formatted("due_date")%}"
				data-filter="outstanding_amount,=,0">
					{%= __("Paid") %}
			</span>
		{% } %}
		{% if(doc.docstatus===0) { %}
			<span class="indicator red filterable"
				data-filter="docstatus,=,0">{%= __("Draft") %}</span>
		{% } %}
    </div>
    <!-- <div class="col-xs-1 text-right">
        {% var completed = cint((doc.grand_total - doc.outstanding_amount) * 100 / doc.grand_total), title = __("Outstanding Amount") + ": " + doc.get_formatted("outstanding_amount") %}
        {% include "templates/form_grid/includes/progress.html" %}
    </div> -->
	<div class="col-xs-2 text-right">
		<div class="text-ellipsis" title="{%= doc.get_formatted("grand_total_export") %}">
			{%= doc.get_formatted("grand_total_export") %}
		</div>
	</div>
</div>
