{% extends "app/website/templates/html/page.html" %}

{% set title="Partners" %}

{% block content %}
	<div class="col-md-12">
		<h2 id="blog-title">{{ title }}</h2>
		<hr>
		{% for partner_info in partners %}
		<div class="row">
			<div class="col-md-3">
				{% if partner_info.logo -%}
				<a href="{{ partner_info.page_name }}">
					<img itemprop="brand" src="{{ partner_info.logo }}" class="partner-logo" 
						alt="{{ partner_info.partner_name }}" title="{{ partner_info.partner_name }}" />
				</a>
				{%- endif %}
			</div>
			<div class="col-md-9">
				<a href="{{ partner_info.page_name }}">
					<h4>{{ partner_info.partner_name }}</h4>
				</a>
				<p style="color: #999">{{ partner_info.territory }} - {{ partner_info.partner_type }}</p>
				<p>{{ partner_info.introduction }}</p>
			</div>
		</div>
		<hr>
		{% endfor %}
	</div>
{% endblock %}