{% extends "product/product_list.js" %}

{% block title %}Products{% endblock %}

{% block content %}
	<div class="layout-wrapper layout-wrapper-background">
		<div class="web-content" id="content-products">
			
			<div class="layout-main-section">
				<h1 class="products-category"></h1>
				<div id="product-list">
					<!-- product list will be generated dynamically -->
				</div>
			</div>
			
			<div class="layout-side-section">
				<h3>Categories</h3>
				<div class="more-categories"></div>
			</div>
			<div style="clear: both"></div>
		</div>
	</div>
{% endblock %}