{% extends "product/product.js" %}

{% block title %}{{ item_name }} [{{ name }}]{% endblock %}

{% block content %}
	<div class="layout-wrapper layout-wrapper-background">
		<div class="web-content" id="content-product-{{ name }}">
			<div class="layout-main-section">
				<h1>{{ item_name }}</h1>
				<div style="float: left;">
					<br><br>
					{% if website_image %}
					<image src="files/{{ website_image }}" style="width: 300px; 
						margin-left: 15px;" />
					<br><br>
					{% endif %}
					{{ web_description_html }}
					<button class="btn primary product-inquiry" 
						data-product="{{ name }}"
						data-description="{{ description }}">Send Inquiry</button>
				</div>
			</div>
			<div class="layout-side-section">
				<h4>More Categories</h4>
				<div class="more-categories"></div>
				<br>
				<h4>Similar Products</h4>
				<div class="similar-products"></div>
			</div>
			<div style="clear: both"></div>
		</div>
	</div>
{% endblock %}
