<div class="row" style="max-height: 30px;">
	<div class="col-xs-12 col-sm-8">
		<div class="text-ellipsis">
			{%= list.get_avatar_and_id(doc) %}
		</div>
	</div>
    <div class="col-sm-4 hidden-xs">
 		{% if(doc.from_warehouse) { %}
			<span class="label label-default filterable"
				data-filter="from_warehouse,=,{%= doc.from_warehouse %}">
				{%= doc.from_warehouse %}
			</span>
		{% } %}
		{% if(doc.from_warehouse || doc.to_warehouse) { %}
			<i class="octicon octicon-arrow-right text-muted"></i>
		{% } %}
		{% if(doc.to_warehouse) { %}
			<span class="label label-primary filterable"
				data-filter="to_warehouse,=,{%= doc.to_warehouse %}">
				{%= doc.to_warehouse %}
			</span>
		{% } %}
    </div>
</div>
