{% extends "templates/base.html" %}

{% block content %}

<div class='container mb-5 mt-5'>
    <h3 class="h3 pb-3 col-sm-12 col-md-10">New Issue</h3>
	<form>
        <label for="fname">Subject</label><br>
        <input type="text" id="subject" name="subject"><br>
        <label for="lname">Raised By (Email)</label><br>
        <input type="text" id="raisedby" name="raisedby"><br>
        <label for="lname">Description</label><br>
        <textarea rows="4" id="description" name="description">
        </textarea><br>
        <label for="myfile">Attachment</label><br>
        <input type="file" class="myfile" id="myfile" name="myfile">
      </form>
</div>

<style>
    .myfile {
        content: 'Attach';
    }
	.selectable-card {
		cursor: pointer;
	}

	.selectable-card:hover {
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	}

	.status-pill {
		padding: 2px 8px;
		font-size: 85%;
		border-radius: 1000px;
	}

	.Open {
		background: #C6F6D5;
		color: #2F855A !important;
	}

	.status-orange {
		background: #FBD38D;
		color: #C05621 !important;
	}

	.status-red {
		background: #FEB2B2;
		color: #C53030 !important;
	}

</style>
{% endblock %}