{% extends "html/page.html" %}

{% block javascript %}
	{% include "js/blog_page.js" %}
	{% include "js/blog_subscribe.js" %}
{% endblock %}

{% block css %}
	{% include "css/blog_page.css" %}
{% endblock %}

{% block content %}
	<div class="layout-wrapper layout-wrapper-background">
		<div class="web-content" id="blog-{{ name }}">

			<div class="layout-main-section">
				
				<h2>{{ title }}</h2>

				<!-- begin blog content -->
				<div class="help">By {{ full_name }} on {{ updated }}</div>
				<br>
				{{ content_html }}
				<!-- end blog content -->

				<hr>
				<h3>Comments</h3><br>
				<div class="blog-comments">
					
					{% if not comment_list %}
					<div class="no-result help hide">
						<p>Be the first one to comment</p>
						<br />
					</div>
					{% endif %}
					
					{% include 'html/comment.html' %}
				</div>
				<button class="btn add-comment">Add Comment</button>
			</div>

			<div class="layout-side-section">
				<p><a href="blog.html">All Blogs</a></p>
				<br />
				{% block blog_subscribe %}
					{% include "html/blog_subscribe.html" %}
				{% endblock %}
				<br />
				<h4>Recent Posts</h4>
				<div class="recent-posts" style="min-height: 100px;"></div>
			</div>

			<div style="clear: both"></div>
		</div>
	</div>
{% endblock %}