h1, h2, h3, h4, h5 {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

span, div, td, input, textarea, button, select {
	font-family: inherit;
}

.small {
	font-size: 11.5px;
}

.erpnext-footer {
	margin: 11px auto;
	text-align: center;
}

.navbar-new-comments {
	margin: -3px 0px;
	padding: 2px;
	min-width: 20px;
	text-align: center;
	display: inline-block;
	border-radius: 2px;
	color: #999999;
	background-color: #333131;
}

.navbar-new-comments:hover,
.navbar-new-comments:active,
.navbar-new-comments:focus {
	color: #fff;
}

.navbar-new-comments-true {
	color: #fff;
	background-color: #B00D07;
}

/*extra size menus for recent*/
.dropdown-menu#toolbar-recent, .dropdown-menu#toolbar-options, .dropdown-menu#toolbar-help{
	min-width: 160px !important;
	max-width: 260px !important;
}

.expiry-info {
	margin-top: 40px;
	margin-bottom: -40px;
	text-align: center;
	background-color: rgb(255, 255, 204);
	padding: 7px;
	z-index: 1;
}

.show-all-reports {
	margin-top: 5px;
	font-size: 11px;
}

/* toolbar */
.toolbar-splash {
	width: 32px; 
	height: 32px; 
	margin: -11px auto;
}