h1, h2, h3, h4, h5 {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

span, div, td, input, textarea, button, select {
	font-family: inherit;
}

.small {
	font-size: 11.5px;
}

.erpnext-footer {
	margin: 11px auto;
	text-align: center;
}

.expiry-info {
	margin-top: 40px;
	margin-bottom: -40px;
	text-align: center;
	background-color: rgb(255, 255, 204);
	padding: 7px;
	z-index: 1;
}

.show-all-reports {
	margin-top: 5px;
	font-size: 11px;
}

/* toolbar */
.toolbar-splash {
	width: 32px; 
	height: 32px; 
	margin: -10px auto;
}