<div class="card address-card h-100">
	<div class="btn btn-sm btn-default btn-change-address font-md" style="position: absolute; right: 0; top: 0;">
		{{ _('Change') }}
	</div>
	<div class="card-body p-0">
		<div class="card-title">{{ address.title }}</div>
		<div class="card-text mb-2">
			{{ address.display }}
		</div>
		<a href="/addresses?name={{address.name}}" class="card-link">
			<svg class="icon icon-sm">
				<use href="#icon-edit"></use>
			</svg>
			{{ _('Edit') }}
		</a>
	</div>
</div>
