{% for d in doc.items %}
<tr data-name="{{ d.name }}">
	<td>
		<div class="font-weight-bold">
			{{ d.item_name }}
		</div>
		<div>
			{{ d.item_code }}
		</div>
		{%- set variant_of = frappe.db.get_value('Item', d.item_code, 'variant_of') %}
		{% if variant_of %}
		<span class="text-muted">
			{{ _('Variant of {0}').format(variant_of) }}
		</span>
		{% endif %}
		<div class="mt-2">
			<textarea data-item-code="{{d.item_code}}" class="form-control" rows="2" placeholder="Add notes">{{d.additional_notes or ''}}</textarea>
		</div>
	</td>
	<td class="text-right">
		<div class="input-group number-spinner">
			<span class="input-group-prepend d-none d-sm-inline-block">
				<button class="btn btn-outline-secondary cart-btn" data-dir="dwn">–</button>
			</span>
			<input class="form-control text-right cart-qty border-secondary" value="{{ d.get_formatted('qty') }}" data-item-code="{{ d.item_code }}">
			<span class="input-group-append d-none d-sm-inline-block">
				<button class="btn btn-outline-secondary cart-btn" data-dir="up">+</button>
			</span>
		</div>
	</td>
	<td class="text-right">
		<div>
			{{ d.get_formatted('amount') }}
		</div>
		<span class="text-muted">
			{{ _('Rate:') }} {{ d.get_formatted('rate') }}
		</span>
	</td>
</tr>
{% endfor %}
