<div class="cart-dropdown-container">
	<div id="cart-error" class="alert alert-danger"
		style="display: none;"></div>
	<div class="row cart-items-dropdown cart-item-header text-muted">
		<div class="col-sm-6 col-xs-6 h6 text-uppercase">
		{{ _("Item") }}
		</div>
		<div class="col-sm-6 col-xs-6 text-right h6 text-uppercase">
		{{ _("Price") }}
		</div>
	</div>

	{% if doc.items %}
	<div class="cart-items-dropdown">
		{% include "templates/includes/cart/cart_items_dropdown.html" %}
	</div>
	<div class="checkout-btn">
		<a href="/cart" class="btn btn-block btn-primary">{{ _("Checkout") }}</a>
	</div>
	{% else %}
	<p>{{ _("Cart is Empty") }}</p>
	{% endif %}
</div>
