@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,600,800';

.stopwatch {
	text-align: center;
	padding: 1em;
	padding-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stopwatch span {
	display: inline-block;
	position: relative;
	font-size: 3em;
	font-family: menlo;
}

.stopwatch .colon {
	margin-top: -8px;
}
.playpause {
	border-right: 1px dashed #fff;
	border-bottom: 1px dashed #fff;
}

.playpause .play {
	display: inline-block;
	border-top: 19px solid transparent;
	border-left: 28px solid #000;
	border-bottom: 19px solid transparent;
}

.playpause .pause {
	display: inline-block;
	border-right: 3px solid #000;
	border-left: 3px solid #000;
	padding: 20px 11px;
}