{% extends "templates/web.html" %}

{% block title %}Update GSTIN{% endblock %}

{% block header %}<h2>Update GSTIN</h2>{% endblock %}

{% block page_content %}
<h3>{{ party_name }}</h3>
{% if not_found %}
	<p class='alert alert-danger' style='max-width: 300px;'>
		Company Not Found
	</p>
	<p>
		If this problem persists, please contact the company.
	</p>

{% elif invalid_gstin %}
	<p class='alert alert-danger' style='max-width: 300px;'>
		Invalid GSTIN
	</p>
	<p>
		<a href="?party={{ party.name }}">Edit Again</a>
	</p>
{% elif updated %}
	<p class='alert alert-success' style='max-width: 300px;'>
		<i class='octicon octicon-check'></i> GSTIN Updated
	</p>
	<p>
		<a href="?party={{ party.name }}">Edit Again</a>
	</p>
{% else %}
	<p class='text-muted'>Please update your GSTIN for us to issue correct tax invoice</p>
	<form method='GET' action='/regional/india/update-gstin.html'>
		<input type='hidden' value='{{ party.name }}' name='party'>
		{% for address in party.get_onload('addr_list') %}
		<div class='bordered' style='max-width: 300px; margin-bottom: 15px;'>
			{{ address.display }}
			<p><input type='text' class='form-control'
				value='{{ address.gstin or "" }}' name='{{ address.name }}' placeholder='GSTIN'></p>
		</div>
		{% endfor %}
		<p><input type='submit' class='btn btn-primary' value='Update'></p>
	</form>
{% endif %}
{% endblock %}
