.todoitem {
	padding-bottom: 11px;
	border-bottom: 1px solid #DEB85F;
	margin-bottom: 5px;
	height: 14px;
	clear: both;
}

.todoitem .label {
	width: 50px;
	display: inline-block;
	text-align: center;
	margin-right: 7px;
}

.todoitem .close {
	margin-left: 14px;
	font-size: 14px;
	float: left;
}

.todoitem .ref_link {
	float: left;
	margin-left: 10px;
	display: inline-block;
	line-height: 18px;
}

.todoitem .description {
	cursor: pointer;
	float: left;
}
