.todoitem {
	padding-bottom: 3px;
	min-height: 45px;
	clear: both;
}

.todoitem .label {
	width: 50px;
	display: inline-block;
	text-align: center;
	margin-right: 11px;
	margin-top: 3px;
	float: left;
}

.todoitem .close {
	margin-left: 5px;
	font-size: 17px;
}

.todoitem .close-span {
	display: inline-block;
	float: right;
}

.todoitem .ref_link {
	line-height: 18px;
}

.todoitem .description {
	padding: 3px 0px;
	display: inline-block;
	width: 80%;
}

#todo-list, #assigned-todo-list {
	float: left;
	width: 50%;
}

.todo-separator {
	border-bottom: 1px solid #DEB85F;
	margin-bottom: 5px;
	clear: both;
}

.todo-content {
	padding-right: 15px;
}

.todo-layout {
	background-color: #FFFDC9;
	min-height: 300px;
}