<div class="row" style="max-height: 30px;">
	<div class="col-xs-8">
		<div class="text-ellipsis">
			{%= list.get_avatar_and_id(doc) %}
    		{% if(doc.transporter_name) { %}
    			<span style="margin-right: 8px;"
    				title="{%= doc.transporter_name %}" class="filterable"
    				data-filter="transporter_name,=,{%= doc.transporter_name %}">
    				<i class="icon-truck text-muted"></i>
    			</span>
    		{% } %}
		</div>
	</div>
	<div class="col-sm-2 hidden-xs">
		{% if(doc.docstatus===0) { %}
			<span class="indicator red filterable"
				data-filter="docstatus,=,0">{%= __("Draft") %}</span>
		{% } else if(doc.docstatus===1) { %}
			<span class="indicator blue filterable"
				data-filter="docstatus,=,1">{%= __("Delivered") %}</span>
        {% } %}
    </div>
	<div class="col-sm-2 hidden-xs text-right">
		<div class="text-ellipsis" title="{%= doc.get_formatted('grand_total_export') %}">
			{%= doc.get_formatted("grand_total_export") %}
		</div>
	</div>
</div>
