<div class="row" style="max-height: 30px;">
	<div class="col-xs-9">
		<div class="text-ellipsis">
			{%= list.get_avatar_and_id(doc) %}
			<span style="margin-right: 8px; display: inline-block">
				<span class="filterable"
					data-filter="customer,=,{%= doc.customer %}">
					{%= doc.customer_name %}</span></span>
			{% if(doc.transporter_name) { %}
			<span style="margin-right: 8px;"
				title="{%= doc.transporter_name %}" class="filterable"
				data-filter="transporter_name,=,{%= doc.transporter_name %}">
				<i class="icon-truck text-muted"></i>
			</span>
			{% } %}
			{% if(doc.docstatus===0) { %}
				<span class="label label-danger filterable"
					data-filter="docstatus,=,0">{%= __("Draft") %}</span>
			{% } %}
		</div>
	</div>
	<div class="col-xs-1 text-right">
		{% var completed = doc.per_installed, title=__("% Installed") %}
		{% include "templates/form_grid/includes/progress.html" %}
	</div>
	<div class="col-xs-2 text-right">
		<div class="text-ellipsis" title="{%= doc.get_formatted('grand_total_export') %}">
			{%= doc.get_formatted("grand_total_export") %}
		</div>
	</div>
</div>
