<div class="clearfix"></div>
<div class="box">
	<div class="grid-body">
		<div class="row text-center">

			<!-- Sales summary section -->
			<div class="col-md-4">
				<h6 class="text-center uppercase" style="color: #8D99A6">{{ _("Sales Summary") }}</h6>
				<div class="tax-break-up" style="overflow-x: auto;">
					<table class="table table-bordered table-hover">
						<thead>
						</thead>
						<tbody>
						<tr>
							<td class="text-left">{{ _('Grand Total') }}</td>
							<td class='text-right'>{{ data.get_formatted('grand_total') or '' }}</td>
						</tr>
						<tr>
							<td class="text-left">{{ _('Net Total') }}</td>
							<td class='text-right'>{{ data.get_formatted('net_total') or '' }}</td>
						</tr>
						<tr>
							<td class="text-left">{{ _('Total Quantity') }}</td>
							<td class='text-right'>{{ data.get_formatted('total_quantity') or '' }}</td>
						</tr>

						</tbody>
					</table>
				</div>
			</div>
			<!-- Section end -->

			<!-- Mode of payment section -->
			<div class="col-md-4">
				<h6 class="text-center uppercase" style="color: #8D99A6">{{ _("Mode of Payments") }}</h6>
				<div class="tax-break-up" style="overflow-x: auto;">
					<table class="table table-bordered table-hover">
						<thead>
						<tr>
							<th class="text-left">{{ _("Mode of Payment") }}</th>
							<th class="text-right">{{ _("Amount") }}</th>
						</tr>
						</thead>
						<tbody>
						{% for d in data.payment_reconciliation %}
						<tr>
							<td class="text-left">{{ d.mode_of_payment }}</td>
							<td class='text-right'>{{ d.get_formatted('expected_amount') }}</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<!-- Section end -->

			<!-- Taxes section -->
			<div class="col-md-4">
				<h6 class="text-center uppercase" style="color: #8D99A6">{{ _("Taxes") }}</h6>
				<div class="tax-break-up" style="overflow-x: auto;">
					<table class="table table-bordered table-hover">
						<thead>
						<tr>
							<th class="text-left">{{ _("Rate") }}</th>
							<th class="text-right">{{ _("Amount") }}</th>
						</tr>
						</thead>
						<tbody>
						{% for d in data.taxes %}
						<tr>
							<td class="text-left">{{ d.get_formatted('rate') }}</td>
							<td class='text-right'>{{ d.get_formatted('amount') }}</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<!-- Section end -->

		</div>
	</div>
</div>
</div>
