<div>
    <button class="btn btn-primary btn-configure"
        data-item-code="{{ doc.name }}"
        data-item-name="{{ doc.item_name }}"
    >
        {{ _('Configure') }}
    </button>
</div>
<script>
    frappe.ready(() => {
        $('.btn-configure').on('click', (e) => {
            const { itemCode, itemName } = $(e.target).data();
            configure_item(itemCode, itemName);
        });

        function configure_item(item_code, item_name) {
            get_attributes_and_values(item_code)
                .then(attribute_data => {
                    const fields = attribute_data.map((a, i) => {
                        return {
                            fieldtype: 'Select',
                            label: a.attribute,
                            fieldname: a.attribute,
                            options: a.values,
                            change: () => {
                                const values = d.get_values();
                                get_next_attribute_and_values(item_code, values)
                                    .then(data => {
                                        console.log(data)

                                        const [
                                            next_attribute,
                                            valid_options_for_attributes,
                                            filtered_items_count,
                                            exact_match
                                        ] = data;

                                        const item_status = `
                                            ${filtered_items_count} items found.
                                            ${exact_match.length > 0 ? `${exact_match.length} exact match.` : ''}
                                        `;

                                        d.set_df_property(a.attribute, 'description', item_status);

                                        for (let attribute in valid_options_for_attributes) {
                                            d.set_df_property(attribute, 'options',
                                                valid_options_for_attributes[attribute] || []);
                                        }

                                        d.get_field(next_attribute).$wrapper.show();

                                        if (exact_match.length > 0) {
                                            d.set_primary_action('View Item', () => {
                                                console.log(exact_match);
                                            })
                                        }
                                    })
                            }
                        }
                    });
                    const d = new frappe.ui.Dialog({
                        title: 'Configure ' + item_name,
                        fields
                    });

                    fields.forEach((df, i) => {
                        if (i !== 0) {
                            d.get_field(df.fieldname).$wrapper.hide();
                        }
                    });

                    d.show();
                })
        }

        function get_next_attribute_and_values(item_code, selected_attributes) {
            return new Promise(resolve => {
                frappe.call('erpnext.www.products.index.get_next_attribute_and_values', {
                    item_code,
                    selected_attributes
                })
                .then(r => resolve(r.message))
            })
        }

        function get_attributes_and_values(item_code) {
            return new Promise(resolve => {
                frappe.call('erpnext.www.products.index.get_attributes_and_values', {
                    item_code
                })
                .then(r => resolve(r.message))
            })
        }
    })
</script>