{{ product_image(website_image) }}
{% if slides %}
<div class="item-slideshow mt-2">
    {% for item in slides %}
    <img class="item-slideshow-image {% if website_image == item.image %}active{% endif %}"
            src="{{ item.image }}" alt="{{ item.heading }}">
    {% endfor %}
</div>
<script>
    frappe.ready(() => {
        $('.page_content').on('click', '.item-slideshow-image', (e) => {
            const $img = $(e.currentTarget);
            const link = $img.prop('src');
            const $product_image = $('.product-image');
            $product_image.find('a').prop('href', link);
            $product_image.find('img').prop('src', link);

            $('.item-slideshow-image').removeClass('active');
            $img.addClass('active');
        });
    })
</script>
{% endif %}