<!-- Is reused to render within tabs as well as independently -->
{% if website_specifications %}
<div class="mt-5 item-website-specification">
	<div class="col-md-11">
		{% if not show_tabs %}
			<h3 class="product-title mb-5 mt-8">Product Details</h3>
		{% endif %}
		<table class="table table-bordered table-hover">
		{% for d in website_specifications -%}
			<tr>
				<td class="text-muted" style="width: 30%; font-weight: bold;">{{ d.label }}</td>
				<td>{{ d.description }}</td>
			</tr>
		{%- endfor %}
		</table>
	</div>
</div>
{% endif %}