{%- set show_amounts = doc.doctype not in ["Delivery Note", "Purchase Receipt"] -%}
{%- set show_discount = doc.doctype not in ["Supplier Quotation", "Purchase Order", "Purchase Receipt", "Purchase Invoice"] -%}

{%- set company = frappe.get_cached_doc("Company", doc.company) -%}
{%- set address = doc.company_address_doc -%}

{% macro row(label, value, value_border=True, hide_empty=True, empty_value=None, style=None) -%}
	{% if not hide_empty or (value and value != empty_value) %}
	<div class="print-row"{% if style %}{{ style }}{% endif %}>
		<div class="print-col">{{ _(label) }}:</div>
		<div class="value {% if value_border %}value-border{% endif %}">{{ value }}</div>
	</div>
	{% endif %}
{%- endmacro %}

<div class="transaction-pf page-break">

	<!-- Header Section -->
	<div id="header-html" class="hidden-pdf">
		<div class="transaction-pf">
			<div class="letter-head">
			{% if not no_letterhead %}
				<div class="clearfix" style="width:100%;border-bottom:#000 1px solid;">
					{% if company.invoice_letterhead  %}
						{{ company.invoice_letterhead }}
					{% else %}
						<div class="visible-pdf" style="line-height:0.8">&nbsp;</div>
						<div class="pull-left"><h1 style="margin:0;font-size:24pt;">
							{{ doc.company }}
						</h1></div>
						<div class="pull-right"></div>
					{% endif %}
				</div>
			{% endif %}

				<div class="clearfix">
					<div class="pull-right text-right" style="width:30%">
						<h2 style="margin:0;font-size:18pt;">{{ doc.select_print_heading or doc.doctype }}{% if doc.docstatus == 0 %} (Draft){% endif %}</h2>
						<h6 style="margin:0;font-size:10pt;">{% if doc.get("stin") %}<strong>Invoice #:</strong> {% endif %}{{ frappe.original_name(doc) }}</h6>
						<p class="small page-number visible-pdf">
							{{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
						</p>
					</div>
					{% if not no_letterhead %}
					<div class="pull-left" style="width:70%;margin-bottom:2mm;">
						{% if address %}<div>{{ address.address_line1 }}, {{ address.city }}, {{ address.country }}</div>{% endif %}
						<div>Tel: {{ company.phone_no }}, Fax: {{ company.fax }}, Email: {{ company.email }}</div>
						{% if company.tax_strn %}<div>Sales Tax Reg No: {{ company.tax_strn }}</div>{% endif %}
						{% if company.tax_id %}<div>NTN: {{ company.tax_id }}</div>{% endif %}
						{% if doc.order_type == "Maintenance" and company.provincial_strn %}<div>Sindh STRN: {{ company.provincial_strn }}</div>{% endif %}
					</div>
					{% endif %}
				</div>
			</div>

			<div class="sec-details clearfix">
				<div class="party">
					<strong>{{ row('Customer', doc.customer_name) }}</strong>
					{{ row('Address', doc.address_display, style="line-height:1.3;") }}
					{{ row('Port Of Loading', doc.pol_address_display, style="line-height:1.3;") }}
					{{ row('Port Of Arrival', doc.poa_address_display, style="line-height:1.3;") }}
					{{ row('Description', doc.remarks, empty_value="No Remarks") }}
					{% if doc.delivery_notes -%}
						{{ row('Delivery', frappe.list_original_names("Delivery Note", doc.delivery_notes)|join(', ')) }}
					{%- endif %}
				</div>
				<div class="doc">
					{{ row('Date', frappe.format_date(doc.posting_date, "d MMMM, Y")) }}
					{{ row('STRN', doc.tax_strn) }}
					{{ row('NTN/CNIC', doc.tax_id or doc.tax_cnic) }}
					{{ row('PO #', doc.po_no) }}
					{{ row('Original', '<div class="print-checkbox"></div>', value_border=False) }}
					{{ row('Duplicate', '<div class="print-checkbox"></div>', value_border=False) }}
				</div>
			</div>
		</div>
	</div>

{% include template_file or 'templates/print_formats/includes/tax_exclusive_transaction.html' %}

	<!-- Footer Section -->
	<div id="footer-html" class="visible-pdf" style="display: block !important; order: 1;">
		<div class="letter-head-footer">
			<div class="sec-terms">
				<div><strong>{{ _("Amount") }}:</strong> {{ doc.in_words }}</div>
				<div><strong>{{ _("Payment Instructions") }}:</strong> {{ _("Please mention the invoice number at the back of the cheque.") }}</div>
			</div>

			<div class="sec-signature" style="text-align:center;margin-top:15mm;">
				<div class="clearfix">
					<div class="pull-left" style="width:25%;margin-top:-3.75mm;font-size:11pt;">{{ frappe.get_fullname(doc.owner) }}</div>
				</div>
				<div class="clearfix">
					<div class="pull-left" style="width:25%; border-top:#000 1px solid">{{ _("Prepared By") }}</div>
					<div class="pull-right" style="width:25%; border-top:#000 1px solid">{{ _("Received By") }}</div>
					<div style="width:25%; margin:0 auto; border-top:#000 1px solid">{{ _("Checked By") }}</div>
				</div>
			</div>
		</div>
	</div>

</div>