{% macro empty_columns() -%}
	<td class="no-border" style="width: 3%;"></td>
	<td class="no-border" style="width: 62%;"></td>
{%- endmacro %}

{% macro totals_colspan() -%}
	{%- set columns = {"len": 2} -%}
	{{ columns['len'] }}
{%- endmacro %}

<!-- Items Section -->
{%- for item_tax_template, item_tax_group in doc.items_by_item_tax_and_item_group.items() -%}
<table class="table table-bordered section-break">
<!-- Items Header -->
<thead>
	<tr>
		<th style="width: 3%;">Sr</th>
		<th style="width: 62%;">{{ _("Description") }}</th>
		<th style="width: 8%;">{{ _("Qty") }}</th>
		<th style="width: 12%;">{{ _("Rate") }}</th>
		<th style="width: 15%;">{{ _("Amount") }}</th>
	</tr>
</thead>

<tbody>
{%- for item_group, group_data in item_tax_group['item_groups'].items() -%}
	<!-- Item Group Header -->
	<tr>
		<td></td>
		<td><strong>{{ item_group }}</strong></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>

	<!-- Line Items -->
	{%- for row in group_data['items'] -%}
	<tr{% if row.page_break %} class="page-break"{% endif %}>
		<td class="text-center">{{ row.g_idx }}</td>

		<td>
			{{ format_item_name(row) }}
		</td>
		<td class="text-right text-nowrap">{{ row.get_formatted('qty') }}</td>
		<td class="text-right text-nowrap">{{ row.get_formatted('net_rate') }}</td>
		<td class="text-right text-nowrap">{{ row.get_formatted('net_amount') }}</td>
	</tr>
	{%- endfor -%}
{%- endfor -%}
</tbody>

<!-- Taxes and Totals -->
<tfoot>
	<!-- Totals -->
	<tr>
		<td></td>
		<td><strong>{{ _("Totals") }}</strong></td>
		<td class="text-right text-nowrap"><strong>{{ frappe.format(item_tax_group.total_qty, df=doc.meta.get_field('total_qty')) }}</strong></td>
		<td></td>
		<td class="text-right text-nowrap">{{ frappe.format(item_tax_group.net_total, df=doc.meta.get_field('net_total')) }}</td>
	</tr>

{%- set total_rows = {} -%}
{%- for charge in item_tax_group.taxes -%}
	{%- if charge.charge_type == "On Previous Row Total" and charge.row_id -%}
		{%- set x=total_rows.update({frappe.utils.cint(charge.row_id): item_tax_group.taxes[frappe.utils.cint(charge.row_id)-1].total }) -%}
	{%- endif -%}
{%- endfor -%}

{%- for charge in item_tax_group.taxes -%}
	{% if charge.tax_amount_after_discount_amount %}
	<!-- Charge Row -->
	<tr>
		{{ empty_columns() }}
		<td colspan="{{ totals_colspan() }}" class="text-nowrap">
			{% if charge.charge_type != "Actual" %}
				<span class="pull-right">{{ frappe.format_value(charge.rate, {'fieldtype':'Percent'}) }}</span>
			{% endif %}
			<strong>{{ charge.description or '' }}</strong>
		</td>
		<td class="text-right text-nowrap">{{ frappe.format(charge.tax_amount_after_discount_amount, df=doc.meta.get_field('total_taxes_and_charges')) }}</td>
	</tr>
	{% endif %}

	<!-- Total for Charge on Previous Row Total -->
	{%- if total_rows.get(charge.idx) and charge != item_tax_group.taxes[-1] -%}
	<tr>
		{{ empty_columns() }}
		<td colspan="{{ totals_colspan() }}" class="total-border text-nowrap">
			<strong>{{ _("Total") }}</strong>
		</td>
		<td class="text-right text-nowrap total-border">{{ frappe.format_value(total_rows.get(charge.idx), doc.meta.get_field("grand_total")) }}</td>
	</tr>
	{%- endif -%}
{% endfor %}

{%- if item_tax_group.taxes -%}
	<tr>
		{{ empty_columns() }}
		<td colspan="{{ totals_colspan() }}" class="total-border text-nowrap"><strong>{{ _("Total After Taxes") }}</strong></td>
		<td class="text-right text-nowrap total-border">{{ frappe.format_value(item_tax_group.taxes[-1].total, doc.meta.get_field("net_total")) }}</td>
	</tr>
{%- endif -%}
</tfoot>
</table>
{%- endfor -%}

<table class="table table-bordered section-break table-narrow table-last-row-bold" style="border: 0 !important;">
	<tr>
		{{ empty_columns() }}
		<td colspan="{{ totals_colspan() }}" class="text-nowrap"><strong>Grand Total</strong></td>
		<td class="text-right text-nowrap">{{ doc.get_formatted("grand_total") }}</td>
	</tr>
	{% if doc.rounded_total != doc.grand_total %}
	<tr>
		{{ empty_columns() }}
		<td colspan="{{ totals_colspan() }}" class="text-nowrap" style="width: 20%"><strong>Rounded Total</strong></td>
		<td class="text-right text-nowrap" style="width: 15%">{{ doc.get_formatted("rounded_total") }}</td>
	</tr>
	{% endif %}
</table>

{% if doc.is_pos %}
<table class="table table-bordered section-break table-narrow table-last-row-bold" style="border: 0 !important;">
	<tr>
		{{ empty_columns() }}
		<th>Payment</th>
		<th>Amount</th>
	</tr>
	{% for p in doc.payments %}
	<tr>
		{{ empty_columns() }}
		<td>{{ p.mode_of_payment }} Amount</td>
		<td class="text-right">{{ p.get_formatted('amount') }}</td>
	</tr>
	{% endfor %}
	{% if doc.payments|len > 1 %}
	<tr>
		{{ empty_columns() }}
		<td class="total-border">Total Paid Amount</td>
		<td class="text-right total-border">{{ doc.get_formatted('paid_amount') }}</td>
	</tr>
	{% endif %}
	{% if doc.change_amount %}
	<tr>
		{{ empty_columns() }}
		<td>Change Amount</td>
		<td class="text-right">{{ doc.get_formatted('change_amount') }}</td>
	</tr>
	{% endif %}
	{% if doc.write_off_amount %}
	<tr>
		{{ empty_columns() }}
		<td>Write Off Amount</td>
		<td class="text-right">{{ doc.get_formatted('write_off_amount') }}</td>
	</tr>
	{% endif %}
	<tr>
		{{ empty_columns() }}
		<td>Outstanding Amount</td>
		<td class="text-right">{{ doc.get_formatted('outstanding_amount') }}</td>
	</tr>
</table>
{% endif %}