<!-- Items Section -->
{%- for item_group, group_data in doc.items_by_item_group.items() -%}
<h4 style="margin: 0; margin-top: 10px;">{{ item_group }}</h4>

<table class="table table-bordered section-break">
<!-- Items Header -->
<thead>
	<tr>
		<th style="width: 3%;">Sr</th>
		<th style="width: 62%;">{{ _("Description") }}</th>
		<th style="width: 8%;">{{ _("Qty") }}</th>
		<th style="width: 12%;">{{ _("Rate") }}</th>
		<th style="width: 15%;">{{ _("Amount") }}</th>
	</tr>
</thead>

<!-- Line Items -->
<tbody>
{%- for row in group_data['items'] -%}
	<tr{% if row.page_break %} class="page-break"{% endif %}>
		<td class="text-center">{{ loop.index }}</td>

		<td>
			{{ format_item_name(row) }}
		</td>
		<td class="text-right text-nowrap">{{ row.get_formatted('qty') }}</td>
		<td class="text-right text-nowrap">{{ row.get_formatted('net_rate') }}</td>
		<td class="text-right text-nowrap">{{ row.get_formatted('net_amount') }}</td>
	</tr>
{%- endfor -%}
</tbody>

<!-- Taxes and Totals -->
<tfoot>
	<!-- Totals (with total Taxable Amount) -->
	<tr>
		<td></td>
		<td><strong>{{ _("Totals") }}</strong></td>
		<td class="text-right text-nowrap"><strong>{{ frappe.format(group_data.total_qty, df=doc.meta.get_field('total_qty')) }}</strong></td>
		<td></td>
		<td class="text-right text-nowrap">{{ frappe.format(group_data.net_total, df=doc.meta.get_field('net_total')) }}</td>
	</tr>
</tfoot>
</table>
{%- endfor -%}

<!-- Summary Section -->
<h4 style="margin: 0; margin-top: 10px;">Summary</h4>

<table class="table table-bordered section-break table-narrow table-last-row-bold">
	<tbody>
		{%- for item_group, group_data in doc.items_by_item_group.items() -%}
		<tr>
			<td style="width: 65%;">{{ item_group }} Total</td>
			<td style="width: 17.5%;" class="text-right text-nowrap">{{ frappe.format(group_data.net_total, df=doc.meta.get_field('net_total')) }}</td>
			<td style="width: 17.5%;"></td>
		</tr>
		{%- endfor -%}
		<tr class="total-border">
			<td>Net Total</td>
			<td></td>
			<td class="text-right text-nowrap">{{ doc.get_formatted("net_total") }}</td>
		</tr>
		{%- for tax in doc.taxes -%}
		<tr>
			<td>{{ frappe.format(tax.description, df=doc.meta.get_field('description')) }}</td>
			<td></td>
			<td class="text-right text-nowrap">{{ frappe.format(tax.tax_amount_after_discount_amount, df=doc.meta.get_field('net_total')) }}</td>
		</tr>
		{%- endfor -%}
		<tr class="total-border">
			<td>Grand Total</td>
			<td></td>
			<td class="text-right text-nowrap">{{ doc.get_formatted("grand_total") }}</td>
		</tr>
		{% if doc.rounded_total != doc.grand_total %}
		<tr>
			<td>Rounded Total</td>
			<td></td>
			<td class="text-right text-nowrap">{{ doc.get_formatted("rounded_total") }}</td>
		</tr>
		{% endif %}
	</tbody>
</table>
