<table class="table table-bordered">
	<tbody>
		<tr>
			<th>Sr</th>
			<th>Item Name</th>
			<th>Description</th>
			<th>Qty</th>
			<th>UoM</th>
			<th>Basic Rate</th>
			<th>Amount</th>
		</tr>
		{%- for row in data -%}
		<tr>
			<td style="width: 3%;">{{ row.idx }}</td>
			<td style="width: 20%;">
				{{ row.item_name }}
				{% if row.item_code != row.item_name -%}
				<br>Item Code: {{ row.item_code}}
				{%- endif %}
			</td>
			<td style="width: 37%;">
				<div style="border: 0px;">{{ row.description }}</div></td>
			<td style="width: 5%; text-align: right;">{{ row.qty }}</td>
			<td style="width: 5%;">{{ row.stock_uom }}</td>
			<td style="width: 15%; text-align: right;">{{
				format(row.rate, table_meta.get_field("rate"), doc) }}</td>
			<td style="width: 15%; text-align: right;">{{ format(row.amount, table_meta.get_field("amount"), doc) }}</td>
		</tr>
		{%- endfor -%}
	</tbody>
</table>
