{% set qty_first=print_settings.print_uom_after_quantity %}
{% if qty_first %}
	{{ doc.get_formatted("qty", doc) }}
	{% if (doc.uom and not doc.is_print_hide("uom")) %} {{ _(doc.uom) }}
	{% elif (doc.stock_uom and not doc.is_print_hide("stock_uom")) %} {{ _(doc.stock_uom) }}
	{%- endif %}
{% else %}
	{% if (doc.uom and not doc.is_print_hide("uom")) %}
		<small class="pull-left">{{ _(doc.uom) }}</small>
	{% elif (doc.stock_uom and not doc.is_print_hide("stock_uom")) %}
		<small class="pull-left">{{ _(doc.stock_uom) }}</small>
	{%- endif %}
	{{ doc.get_formatted("qty", doc) }}
{%- endif %}
