{%- set compact = doc.flags.compact_item_print -%}
{%- set compact_fields = doc.flags.compact_item_fields -%}

{% if doc.in_format_data("image") and doc.get("image") and not doc.is_print_hide("image")-%}
<div class="pull-left" style="width: 20%; margin-right: 10px;">
	<div class="square-image" style="background-image: url('{{ doc.image }}')">
	</div>
</div>
{%- endif %}

<div>
	{% if doc.in_format_data("item_code") and not doc.is_print_hide("item_code") -%}
		<div class="primary">
			{% if compact %}<strong>{% endif %}
				{{ _(doc.item_code) }}
			{% if compact %}</strong>{% endif %}
		</div>
	{%- endif %}

	{% if (doc.in_format_data("item_name") and not doc.is_print_hide("item_name") and
		(not doc.in_format_data("item_code") or doc.is_print_hide("item_code")
			or doc.item_code != doc.item_name)) -%}
		<div class="primary">{{ doc.get_formatted("item_name", translated=True) }}</div>
	{%- endif %}

	{% if (doc.in_format_data("description") and doc.description and
		(
			(
				(not doc.in_format_data("item_code") or doc.is_print_hide("item_code")) and
				(not doc.in_format_data("item_name") or doc.is_print_hide("item_name"))
			) or not (doc.item_code == doc.item_name == doc.description)
		))
	-%}
	<p>{{ doc.get_formatted("description", translated=True) }}</p>
	{%- endif %}

	{% if compact -%}
		{%- for fieldname in doc.flags.show_in_description -%}
			{% if doc.get(fieldname) and doc.in_format_data(fieldname) -%}
			<p>
				<strong>{{ _(doc.meta.get_label(fieldname)) }}:</strong>
				{{ doc.get_formatted(fieldname, translated=True)  }}
			</p>
			{% endif %}
		{%- endfor -%}
	{%- endif %}
</div>
