{%- macro account_name(row) -%}
	{%- set account = frappe.get_cached_doc("Account", row.account) -%}
	{%- if row.party -%}
		{%- if not row.party_type in ['Customer', 'Supplier', 'Letter of Credit'] -%}
			{{ account.account_name }}{{ " - " }}
		{%- endif -%}
		{{ row.party }}
	{%- else -%}
		{{ account.account_name }}
	{%- endif -%}
{%- endmacro -%}

{% set df = doc.meta.get_field("paid_amount" if doc.doctype == "Payment Entry" else "total_debit") %}
{% set in_words = frappe.utils.money_in_words(doc.paid_amount if doc.doctype == "Payment Entry" else doc.total_debit) %}

<div class="voucher-pf page-break">

	<!-- Header Section -->
	<div id="header-html" class="hidden-pdf">
		<div class="voucher-pf">
			<div class="visible-pdf" style="line-height:2">&nbsp;</div>
			<div class="letter-head text-center" style="border:#000 1px solid;width:100%;">
				<h1 class="company-name" style="margin:0;padding:3px;">{{ doc.company }}</h1>
				<h4 style="margin:0;border-top:#000 1px solid;padding:3px;">{{ doc.select_print_heading or doc.print_heading or doc.doctype }}{% if doc.docstatus == 0 %} (Draft){% endif %} - {{ frappe.original_name(doc) }}</h4>
			</div>
			<div class="clearfix" style="margin-top:0.1in;">
				<div class="pull-left" style="width:33%;">
					{{ _("Printed On") }}: {{ frappe.utils.format_datetime(frappe.utils.now(), "d MMMM, Y h:mm a") }}
				</div>
				<div class="pull-right text-right" style="width:33%;">
					<strong>{{ _("Voucher Date") }}:</strong> {{ frappe.format_date(doc.posting_date, "d MMMM, Y") }}
				</div>
				<div class="text-center page-number visible-pdf" style="width:33%; margin:0 auto;">
					{{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
				</div>
			</div>
		</div>
	</div>

	<!-- Items Section -->
	<table class="table table-bordered section-break">
		<thead>
			<tr>
				<th>{{ _("Reference") }}</th>
				<th>{{ _("Account Name & Description") }}</th>
				<th>{{ _("Debit") }}</th>
				<th>{{ _("Credit") }}</th>
			</tr>
		</thead>
		{%- for row in doc.gl_entries -%}
		<tbody>
			<tr>
				<th class="text-center">{% if row.reference_no %}{{ row.reference_no }}{% endif %}</td>
				<th><strong>{{ account_name(row) }}</strong></td>
				<th class="text-right text-nowrap">{{ frappe.format_value(row.debit, df) }}</td>
				<th class="text-right text-nowrap">{{ frappe.format_value(row.credit, df) }}</td>
			</tr>
			<tr>
				<td class="text-center text-nowrap">{{ frappe.format_date(row.reference_date or doc.posting_date, "d MMMM, Y") }}</td>
				<td>
					{{ row.remarks or "" }}
					{% if row.against_voucher %}<p>{{ _("Against") }}: {{ row.against_voucher }}</p>{% endif %}
				</td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
		{%- endfor -%}
		<tfoot>
			<tr>
				<td colspan="2"><strong>Total:</strong> {{ in_words }}</td>
				<td class="text-right text-nowrap">{{ frappe.format_value(doc.total_debit, df) }}</td>
				<td class="text-right text-nowrap">{{ frappe.format_value(doc.total_credit, df) }}</td>
			</tr>
		</tfoot>
	</table>

	<!-- Signature Section -->
	<div style="margin-top:20mm; text-align:center;">
		<div class="clearfix">
			<div class="pull-left" style="width:22%;margin-top:-3.75mm;font-size:11pt;">{{ frappe.get_fullname(doc.owner) }}</div>
		</div>
		<div class="clearfix">
			<div class="pull-left" style="width:22%; border-top:#000 1px solid">{{ _("Prepared By") }}</div>
			<div class="pull-left" style="width:4%;height:1px"></div>
			<div class="pull-left" style="width:22%; border-top:#000 1px solid">{{ _("Checked By") }}</div>
			<div class="pull-left" style="width:4%;height:1px"></div>
			<div class="pull-left" style="width:22%; border-top:#000 1px solid">{{ _("Approved By") }}</div>
			<div class="pull-left" style="width:4%;height:1px"></div>
			<div class="pull-left" style="width:22%; border-top:#000 1px solid">{{ _("Paid To") }}</div>
		</div>
	</div>

</div>