/*
.print-format {
	margin-left:8mm;
	margin-right:8mm;
}
*/

@media screen {
	.print-format {
		padding: 8mm;
	}
}

@media screen, print {
	.voucher-pf .voucher-date {
		width:100%;
		text-align:right;
	}

	.voucher-pf .section-break {
		margin-top: 0.1in;
	}

	.voucher-pf table {
		margin: 0;
		border: none !important;
		border-top: #000 1px solid !important;
		section-break-after:always;
	}
	.voucher-pf th, .voucher-pf td {
		vertical-align: middle !important;
	}

	.voucher-pf thead {
		border-bottom: #000 2px solid !important;
		display:table-header-group;
	}
	.voucher-pf thead th {
		text-align: center;
	}

	.voucher-pf tfoot {
		border-top: #000 2px solid !important;
	}
	.voucher-pf tfoot td:nth-last-child(-n+2) {
		font-weight: bold;
	}

	.voucher-pf tbody {
		display: table-row-group;
		border:0 !important;
		page-break-after: auto !important;
		page-break-inside: avoid !important;
		page-break-before: avoid !important;
	}
	.voucher-pf tr {
		page-break-after: auto !important;
		page-break-inside: avoid !important;
		page-break-before: avoid !important;
	}
	.voucher-pf tbody th {
		font-weight: normal;
		background: #ccc;
		border-bottom: transparent !important;
	}
	.voucher-pf tbody td {
		border-top: transparent !important;
	}

	.voucher-pf .no-border {
		border: transparent !important;
	}
}