{%- set uoms = doc.items|map(attribute='uom')|unique|list -%}
{%- set alt_uoms = doc.items|map(attribute='alt_uom')|unique|list -%}
{%- set show_alt_uom_cols = alt_uoms and alt_uoms != [None] and alt_uoms != [''] and alt_uoms != ['', None] and alt_uoms != [None, ''] -%}

{%- set total_qty = doc.items|map(attribute='qty')|sum -%}
{%- set total_alt_uom_qty = doc.items|map(attribute='alt_uom_qty')|sum -%}

<!-- Items Section -->
<table class="table table-bordered section-break">
	<!-- Items Header -->
	<thead>
		<tr>
			<th>Sr</th>
			<th>{{ _("Description") }}</th>
			<th {% if not uoms|length == 1 %}colspan="2"{% endif %}>{{ _("Qty") }}{% if uoms|length == 1 %}<div>({{ doc.items[0].uom }})</div>{% endif %}</th>
			{% if show_alt_uom_cols %}
				<th>{{ _("Size") }}</th>
				<th {% if not alt_uoms|length == 1 %}colspan="2"{% endif %}>{{ _("Qty") }}{% if alt_uoms|length == 1 %}<div>({{ doc.items[0].alt_uom }})</div>{% endif %}</th>
			{% endif %}
		</tr>
	</thead>

	<!-- Line Items -->
	<tbody>
	{%- for row in doc.items -%}
		<tr{% if row.page_break %} class="page-break"{% endif %}>
			<td class="text-center">{{ row.idx }}</td>
			<td>{{ row.item_name }}</td>
			<td class="text-right">{{ row.qty }}</td>
			{% if not uoms|length == 1 %}<td>{{ row.uom }}</td>{% endif %}
			{% if show_alt_uom_cols %}
				<td class="text-right">{{ row.get_formatted("alt_uom_size") }}</td>
				<td class="text-right">{{ row.get_formatted("alt_uom_qty") }}</td>
				{% if not alt_uoms|length == 1 %}<td>{{ row.alt_uom or row.stock_uom }}</td>{% endif %}
			{% endif %}
		</tr>
	{%- endfor -%}
	</tbody>

	<!-- Taxes and Totals -->
	<tfoot>
		<!-- Totals (with total Tax Exclusive Amount) -->
		<tr>
			<td></td>
			<td><strong>{{ _("Totals") }}</strong></td>
			<td class="text-right">{{ frappe.format_value(total_qty, doc.items[0].meta.get_field("qty")) }}</td>
			{% if not uoms|length == 1 %}<td></td>{% endif %}
			{% if show_alt_uom_cols %}
				<td></td>
				<td class="text-right">{{ frappe.format_value(total_alt_uom_qty, doc.items[0].meta.get_field("alt_uom_qty")) }}</td>
				{% if not alt_uoms|length == 1 %}<td></td>{% endif %}
			{% endif %}
		</tr>
	</tfoot>
</table>