{%- set uoms = doc.items|map(attribute='alt_uom_or_uom')|unique|list -%}
{%- set total_alt_uom_qty = doc.items|map(attribute='alt_uom_qty')|sum -%}

<!-- Items Section -->
<table class="table table-bordered section-break">
	<!-- Items Header -->
	<thead>
		<tr>
			<th>Sr</th>
			<th>{{ _("Description") }}</th>
			<th {% if not uoms|length == 1 %}colspan="2"{% endif %}>{{ _("Qty") }}{% if uoms|length == 1 %}<div>({{ doc.items[0].alt_uom_or_uom }})</div>{% endif %}</th>
			<th>{{ _("Rate") }}</th>
			<th>{{ _("Amount") }}</th>
		</tr>
	</thead>

	<!-- Line Items -->
	<tbody>
	{%- for row in doc.items -%}
		<tr{% if row.page_break %} class="page-break"{% endif %}>
			<td class="text-center">{{ row.idx }}</td>
			<td>{{ row.item_name }}</td>
			<td class="text-right">{{ row.get_formatted("alt_uom_qty") }}</td>
			{% if not uoms|length == 1 %}<td>{{ row.alt_uom_or_uom }}</td>{% endif %}
			<td class="text-right text-nowrap">{{ frappe.format_value(row.tax_inclusive_amount / row.alt_uom_qty if row.alt_uom_qty else 0, row.meta.get_field("rate")) }}</td>
			<td class="text-right text-nowrap">{{ row.get_formatted("tax_inclusive_amount") }}</td>
		</tr>
	{%- endfor -%}
	</tbody>

	<!-- Taxes and Totals -->
	<tfoot>
		<!-- Totals -->
		<tr>
			<td></td>
			<td><strong>{{ _("Totals") }}</strong></td>
			<td class="text-right text-nowrap">{{ doc.get_formatted("total_alt_uom_qty") }}</td>
			{% if not uoms|length == 1 %}<td></td>{% endif %}
			<td></td>
			<td class="text-right text-nowrap">{{ doc.get_formatted("grand_total") }}</td>
		</tr>

		<!-- Rounded Total -->
	{% if doc.rounded_total and doc.grand_total != doc.rounded_total %}
		<tr>
			<td class="no-border"></td>
			<td class="no-border"></td>
			<td class="text-nowrap" colspan="{% if not alt_uom_or_uoms|length == 1 %}2{% else %}1{% endif %}"><strong>{{ _("Rounded Total") }}</strong></td>
			<td class="text-right text-nowrap">{{ doc.get_formatted("rounded_total") }}</td>
		</tr>
	{% endif %}
	</tfoot>
</table>