{%- set uoms = doc.items|map(attribute='uom')|unique|list -%}
{%- set alt_uoms = doc.items|map(attribute='alt_uom')|unique|list -%}
{%- set show_alt_uom_cols = alt_uoms and alt_uoms != [None] and alt_uoms != [''] and alt_uoms != ['', None] and alt_uoms != [None, ''] -%}

{% macro empty_columns() -%}
	<td class="no-border"></td>
	<td class="no-border"></td>
	{% if not doc.doctype.startswith('Purchase') %}
		<td class="no-border"></td>
		{% if not uoms|length == 1 %}
			<td class="no-border"></td>
		{% endif %}
		{% if show_alt_uom_cols %}
			<td class="no-border"></td>
			<td class="no-border"></td>
			{% if not alt_uoms|length == 1 %}
				<td class="no-border"></td>
			{% endif %}
		{% endif %}
	{% endif %}
{%- endmacro %}

{% macro totals_colspan() -%}
	{% set columns = {"len": 2-1} %}

	{% if doc.doctype.startswith('Purchase') %}
		{%- set x=columns.update({"len": columns['len'] + 1 }) -%}
		{% if not uoms|length == 1 %}
			{%- set x=columns.update({"len": columns['len'] + 1 }) -%}
		{% endif %}
		{% if show_alt_uom_cols %}
			{%- set x=columns.update({"len": columns['len'] + 2 }) -%}
		{% endif %}
		{% if not alt_uoms|length == 1 %}
			{%- set x=columns.update({"len": columns['len'] + 1 }) -%}
		{% endif %}
	{% endif %}

	{% if show_discount %}
		{%- set x=columns.update({"len": columns['len'] + 3 }) -%}
	{% endif %}

	{{ columns['len'] }}
{%- endmacro %}

<!-- Items Section -->
<table class="table table-bordered section-break">
<!-- Items Header -->
<thead>
	<tr>
		<th>Sr</th>
		<th>{{ _("Description") }}</th>
		<th {% if not uoms|length == 1 %}colspan="2"{% endif %}>{{ _("Qty") }}{% if uoms|length == 1 %}<div>({{ doc.items[0].uom }})</div>{% endif %}</th>
		{% if show_alt_uom_cols %}
			<th>{{ _("Size") }}</th>
			<th {% if not alt_uoms|length == 1 %}colspan="2"{% endif %}>{{ _("Qty") }}{% if alt_uoms|length == 1 %}<div>({{ doc.items[0].alt_uom }})</div>{% endif %}</th>
		{% endif %}
		{% if force_show_amounts or show_amounts %}
			<th>{{ _("List Rate") if show_discount else _("Rate") }}</th>
			{% if show_discount %}
				<th>{{ _("Amount") }}</th>
				<th colspan="2">{{ _("Discount") }}</th>
			{% endif %}
			<th>{{ _("Taxable Amount") if show_discount else _("Amount") }}</th>
		{% endif %}
	</tr>
</thead>

<!-- Line Items -->
<tbody>
{%- for row in doc.items -%}
	<tr{% if row.page_break %} class="page-break"{% endif %}>
		<td class="text-center">{{ row.idx }}</td>
		<td>
			{{ format_item_name(row) }}
			{% if row.serial_no %}<div>Serial #: {{ row.serial_no.split('\n')|join(', ') }}</div>{% endif %}
		</td>
		<td class="text-right">{{ row.get_formatted('qty') }}</td>
		{% if not uoms|length == 1 %}<td>{{ row.uom }}</td>{% endif %}
		{% if show_alt_uom_cols %}
			<td class="text-right">{{ row.get_formatted('alt_uom_size') }}</td>
			<td class="text-right">{{ row.get_formatted('alt_uom_qty') }}</td>
			{% if not alt_uoms|length == 1 %}<td>{{ row.alt_uom or row.stock_uom }}</td>{% endif %}
		{% endif %}
		{% if force_show_amounts or show_amounts %}
			<td class="text-right text-nowrap">
				{% if show_discount %}
					{{ row.get_formatted("tax_exclusive_rate_with_margin") if row.get('tax_exclusive_rate_with_margin') else row.get_formatted("tax_exclusive_price_list_rate") }}
				{% else %}
					{{ row.get_formatted("taxable_rate") }}
				{% endif %}
			</td>
			{% if show_discount %}
				<td class="text-right text-nowrap">{{ row.get_formatted("tax_exclusive_amount_before_discount") }}</td>
				<td class="text-right text-nowrap">{{ row.get_formatted("discount_percentage") }}</td>
				<td class="text-right text-nowrap">{{ row.get_formatted("tax_exclusive_total_discount") }}</td>
			{% endif %}
			<td class="text-right text-nowrap">{{ row.get_formatted("taxable_amount") }}</td>
		{% endif %}
	</tr>
{%- endfor -%}
</tbody>

<!-- Taxes and Totals -->
<tfoot>
	<!-- Totals (with total Taxable Amount) -->
	<tr>
		<td></td>
		<td><strong>{{ _("Totals") }}</strong></td>
		<td class="text-right">{{ doc.get_formatted("total_qty") }}</td>
		{% if not uoms|length == 1 %}<td></td>{% endif %}
		{% if show_alt_uom_cols %}
			<td></td>
			<td class="text-right">{{ doc.get_formatted("total_alt_uom_qty") }}</td>
			{% if not alt_uoms|length == 1 %}<td></td>{% endif %}
		{% endif %}
		{% if force_show_amounts or show_amounts %}
			<td></td>
			{% if show_discount %}
				<td class="text-right text-nowrap">{{ doc.get_formatted("tax_exclusive_total_before_discount") }}</td>
				<td></td>
				<td class="text-right text-nowrap">{{ doc.get_formatted("tax_exclusive_total_discount") }}</td>
			{% endif %}
			<td class="text-right text-nowrap">{{ doc.get_formatted("taxable_total") }}</td>
		{% endif %}
	</tr>

{% if force_show_amounts or show_amounts %}
	<!-- Discount on Net Total -->
{%- if doc.discount_amount and doc.apply_discount_on == 'Net Total' -%}
	<tr>
		{{ empty_columns() }}
		<td colspan="{{ totals_colspan() }}" class="text-nowrap">
		{% if doc.additional_discount_percentage %}
			<span class="pull-right">{{ frappe.format_value(doc.additional_discount_percentage, {'fieldtype':'Percent'}) }}</span>
		{% endif %}
			<strong>{{ _("Additional Discount") }}</strong>
		</td>
		<td class="text-right text-nowrap">{{ doc.get_formatted("discount_amount") }}</td>
	</tr>

	<!-- Total after Discount on Net Total -->
	<tr>
		{{ empty_columns() }}
		<td colspan="{{ totals_colspan() }}" class="total-border text-nowrap"><strong>{{ _("Net Total") }}</strong></td>
		<td class="text-right text-nowrap total-border">{{ doc.get_formatted("net_total") }}</td>
	</tr>
{%- endif -%}

	<!-- Taxes and Charges -->
	{%- set total_rows = {} -%}
{%- for charge in doc.taxes -%}
	{%- if charge.charge_type == "On Previous Row Total" and charge.row_id -%}
		{%- set x=total_rows.update({frappe.utils.cint(charge.row_id): doc.taxes[frappe.utils.cint(charge.row_id)-1].displayed_total }) -%}
	{%- endif -%}
{%- endfor -%}

{%- for charge in doc.taxes -%}
	<!-- Charge Row -->
	<tr>
		{{ empty_columns() }}
		<td colspan="{{ totals_colspan() }}" class="text-nowrap">
			{% if charge.charge_type != "Actual" %}
				<span class="pull-right">{{ frappe.format_value(charge.rate, {'fieldtype':'Percent'}) }}</span>
			{% endif %}
			<strong>{{ charge.description or '' }}</strong>
		</td>
		<td class="text-right text-nowrap">{{ charge.get_formatted("tax_amount") }}</td>
	</tr>

	<!-- Total for Charge on Previous Row Total -->
	{%- if total_rows.get(charge.idx) and charge != doc.taxes[-1] -%}
	<tr>
		{{ empty_columns() }}
		<td colspan="{{ totals_colspan() }}" class="total-border text-nowrap">
			<strong>{{ _("Total") }}</strong>
		</td>
		<td class="text-right text-nowrap total-border">{{ frappe.format_value(total_rows.get(charge.idx), doc.meta.get_field("grand_total")) }}</td>
	</tr>
	{%- endif -%}
{%- endfor -%}

	<!-- Total After Taxes -->
{%- if doc.taxes and (doc.total_discount_after_taxes or (doc.discount_amount and doc.apply_discount_on == 'Grand Total')) -%}
	<tr>
		{{ empty_columns() }}
		<td colspan="{{ totals_colspan() }}" class="total-border text-nowrap"><strong>{{ _("Total After Taxes") }}</strong></td>
		<td class="text-right text-nowrap total-border">{{ frappe.format_value(doc.taxes[-1].displayed_total, doc.meta.get_field("net_total")) }}</td>
	</tr>
{%- endif -%}

{%- if doc.discount_amount and doc.apply_discount_on == 'Grand Total' -%}
	<!-- Discount on Grand Total -->
	<tr>
		{{ empty_columns() }}
		<td colspan="{{ totals_colspan() }}" class="text-nowrap">
		{% if doc.additional_discount_percentage %}
			<span class="pull-right">{{ frappe.format_value(doc.additional_discount_percentage, {'fieldtype':'Percent'}) }}</span>
		{% endif %}
			<strong>{{ _("Additional Discount") }}</strong>
		</td>
		<td class="text-right text-nowrap">{{ doc.get_formatted("discount_amount") }}</td>
	</tr>
{%- endif -%}

{%- if doc.total_discount_after_taxes -%}
	<!-- Discount after Taxes -->
	<tr>
		{{ empty_columns() }}
		<td colspan="{{ totals_colspan() }}" class="text-nowrap">
			<strong>{{ _("Total Discount") }}</strong>
		</td>
		<td class="text-right text-nowrap">{{ doc.get_formatted("total_discount_after_taxes") }}</td>
	</tr>
{%- endif -%}

	<!-- Grand Total -->
	<tr>
		{{ empty_columns() }}
		<td colspan="{{ totals_colspan() }}" class="total-border text-nowrap"><strong>{{ _("Grand Total") }}</strong></td>
		<td class="text-right text-nowrap total-border">{{ doc.get_formatted("grand_total") }}</td>
	</tr>

	<!-- Rounded Total -->
{% if doc.rounded_total and doc.grand_total != doc.rounded_total %}
	<tr>
		{{ empty_columns() }}
		<td colspan="{{ totals_colspan() }}" class="text-nowrap"><strong>{{ _("Rounded Total") }}</strong></td>
		<td class="text-right text-nowrap">{{ doc.get_formatted("rounded_total") }}</td>
	</tr>
{% endif %}
{% endif %}
</tfoot>
</table>

{% if doc.doctype == "Purchase Invoice" %}
<div class="section-break">
{{ doc.other_charges_calculation }}
</div>
{% endif %}