/*
.print-format {
	margin-left:8mm;
	margin-right:8mm;
}
*/

@media screen {
	.print-format {
		padding: 8mm;
	}
}

@media screen, print {
	.transaction-pf .section-break {
		margin-top: 0.1in;
	}

	.transaction-pf .sec-details {
		width: 100%;
		border: #000 1px solid;
		padding: 0.1in;
	}

	.transaction-pf .sec-details .party {
		width: 69%;
		float: left;
	}
	.transaction-pf .party .print-col {
		width: 15%;
	}
	.transaction-pf .party .value {
		width: 84%;
	}

	.transaction-pf .sec-details .doc {
		width: 30%;
		float: right;
	}
	.transaction-pf .doc .print-col {
		width: 31%;
	}
	.transaction-pf .doc .value {
		width: 67%;
	}

	.transaction-pf .print-row {
		margin-bottom: 0.07in;
	}
	.transaction-pf .print-row::after {
		content: "";
		clear: both;
		display: table;
	}
	.transaction-pf .print-row .print-col {
		float: left;
		font-weight: bold;
		text-align: right;
	}
	.transaction-pf .print-row .value {
		float: right;
	}
	.transaction-pf .print-row .value-border {
		border-bottom: #000 1px solid;
	}

	.transaction-pf table {
		margin: 0;
		border: none !important;
		border-top: #000 1px solid !important;
	}
	.transaction-pf tr {
		page-break-after: auto !important;
		page-break-inside: avoid !important;
		page-break-before: avoid !important;
	}
	.transaction-pf th {
		text-align: center;
	}
	.transaction-pf thead {
		border-bottom: #000 2px solid !important;
		display:table-header-group;
	}
	.transaction-pf tfoot {
		border-top: #000 2px solid !important;
	}
	.transaction-pf tfoot tr:not(:first-child) td {
		padding-top:2px !important;
		padding-bottom:2px !important;
	}

	.transaction-pf .table-narrow td {
		padding-top:2px !important;
		padding-bottom:2px !important;
	}

	.transaction-pf .table-last-row-bold tr:last-child td {
		font-weight: bold;
	}

	.transaction-pf tfoot tr:last-child td:last-child {
		font-weight: bold;
	}

	.transaction-pf .no-border {
		border: transparent !important;
	}

	.transaction-pf .total-border {
		border-top: #000 2px solid !important;
	}

	.transaction-pf .sec-signature {
		margin-top:10mm;
	}

    .transaction-pf .print-checkbox {
        width: 0.18in;
        height: 0.18in;
        border: #000 1px solid;
	}
}