{%- set show_amounts = doc.doctype not in ["Delivery Note", "Purchase Receipt", "Stock Entry"] -%}
{%- set show_discount = doc.doctype not in ["Supplier Quotation", "Purchase Order", "Purchase Receipt", "Purchase Invoice"] -%}

{%- set company = frappe.get_cached_doc("Company", doc.company) -%}
{%- set address = doc.company_address_doc -%}

{% macro row(label, value, value_border=True, hide_empty=True, empty_value=None, style=None) -%}
	{% if not hide_empty or (value and value != empty_value) %}
	<div class="print-row"{% if style %}{{ style }}{% endif %}>
		<div class="print-col">{{ _(label) }}:</div>
		<div class="value {% if value_border %}value-border{% endif %}">{{ value }}</div>
	</div>
	{% endif %}
{%- endmacro %}

<div class="transaction-pf page-break">

	<!-- Header Section -->
	<div id="header-html" class="hidden-pdf">
		<div class="transaction-pf">
			<div class="visible-pdf" style="line-height:1.2">&nbsp;</div>
			<div class="letter-head text-center" style="border:#000 1px solid;width:100%;">
				{% if not no_letterhead %}
					<h1 class="company-name" style="margin:0;padding:3px;border-bottom:#000 1px solid;">{{ doc.company }}</h1>
				{% endif %}
				<h4 style="margin:0;padding:3px;">{{ doc.select_print_heading or doc.purpose or doc.doctype }}{% if doc.docstatus == 0 %} (Draft){% endif %} - {{ frappe.original_name(doc) }}</h4>
			</div>

			<p class="small text-center page-number visible-pdf">
				{{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
			</p>
			<div class="hidden-pdf" style="margin-top:2.5mm;"></div>

			<div class="sec-details clearfix">
				<div class="party">
					{% if doc.customer_name or doc.customer -%}
						<strong>{{ row('Customer', doc.customer_name or doc.customer) }}</strong>
					{%- endif %}
					{% if doc.supplier_name or doc.supplier -%}
						<strong>{{ row('Supplier', doc.supplier_name or doc.supplier) }}</strong>
					{%- endif %}
					{{ row('Address', doc.shipping_address or doc.address_display if doc.doctype == "Delivery Note" else doc.address_display, style="line-height:1.3;") }}
					{{ row('Port Of Loading', doc.pol_address_display, style="line-height:1.3;") }}
					{{ row('Port Of Arrival', doc.poa_address_display, style="line-height:1.3;") }}
					{{ row('Description', doc.remarks, empty_value="No Remarks") }}
					{{ row('Source', doc.s_warehouses|join(', ')) }}
					{{ row('Target', doc.t_warehouses|join(', ')) }}
				</div>
				<div class="doc">
					{{ row('Date', frappe.format_date(doc.posting_date, "d MMMM, Y")) }}
					{{ row('Type', doc.transaction_type) }}
					{% if doc.doctype not in ['Delivery Note', 'Purchase Receipt'] -%}
						{{ row('STRN', doc.tax_strn) }}
						{{ row('NTN/CNIC', doc.tax_id or doc.tax_cnic) }}
					{%- endif %}
					{% if doc.doctype in ['Delivery Note', 'Purchase Receipt'] -%}
						{{ row('Location', doc.warehouses|join(', ')) }}
					{%- endif %}
					{% if doc.doctype in ['Purchase Order', 'Purchase Receipt', 'Purchase Invoice'] -%}
						{% if doc.incoterms %}{{ row('Incoterms', doc.incoterms.split()[0]) }}{% endif %}
						{{ row('Payment Terms', doc.payment_terms_template) }}
					{%- endif %}
					{{ row('PO #', doc.po_no) }}
					{{ row('Driver', doc.driver_name) }}
					{{ row('Proforma Bill #', doc.proforma_bill_no) }}
					{{ row('Bill #', doc.bill_no) }}
					{% if doc.quotations -%}
						{{ row('Quotation', frappe.list_original_names("Quotation", doc.quotations)|join('<br />')) }}
					{%- endif %}
					{% if doc.supplier_quotations -%}
						{{ row('Quotation', frappe.list_original_names("Supplier Quotation", doc.supplier_quotations)|join('<br />')) }}
					{%- endif %}
					{% if doc.purchase_orders -%}
						{{ row('PO #', doc.purchase_orders|join('<br />')) }}
					{%- endif %}
					{% if doc.purchase_receipts -%}
						{{ row('GRN #', doc.purchase_receipts|join('<br />')) }}
					{%- endif %}
				</div>
			</div>
		</div>
	</div>

{% include template_file or 'templates/print_formats/includes/tax_exclusive_transaction.html' %}

	{% if force_show_amounts or show_amounts %}<div class="section-break"><strong>Total:</strong> {{ doc.in_words }}</div>{% endif %}

	<!-- Footer Section -->
	<div id="footer-html" class="visible-pdf" style="display: block !important; order: 1;">
		<div class="sec-signature" style="text-align:center;">
			<div class="clearfix">
				<div class="pull-left" style="width:25%;margin-top:-3.75mm;font-size:11pt;">{{ frappe.get_fullname(doc.owner) }}</div>
			</div>
			<div class="clearfix">
				<div class="pull-left" style="width:25%; border-top:#000 1px solid">{{ _("Prepared By") }}</div>
				<div class="pull-right" style="width:25%; border-top:#000 1px solid">{{ _("Received By") }}</div>
				<div style="width:25%; margin:0 auto; border-top:#000 1px solid">{{ _("Checked By") }}</div>
			</div>
		</div>

		{% if not no_letterhead %}
		<div style="border-top:#000 1px solid;margin-top:4mm;" class="text-center">
			{% if address %}<div>{{ address.address_line1 }}, {{ address.city }}, {{ address.country }}</div>{% endif %}
			<div>Tel: {{ company.phone_no }}, Fax: {{ company.fax }}, Email: {{ company.email }}</div>
		</div>
		{% endif %}
	</div>

</div>