<h1>Generators</h1>

<p>If every document in a table (DocType) corresponds to a web-page, you can setup generators.</p>

<p>To setup a generator you must:</p>

<ol>
<li>Add a field <code>route</code> that specifies the route of the page</li>
<li>Add a condition field to indicate whether a page is viewable or not.</li>
<li>Add the doctype name in <code>website_generators</code> in <code>hooks.py</code> of your app.</li>
<li>Subclass the controller from <code>frappe.website.website_generator.WebsiteGenerator</code></li>
<li>Create a template for your page</li>
<li>Add custom properties (context) for the template</li>
<li>Customize route and list view</li>
</ol>

<p>Let us see this with the help of an example:</p>

<h2>Example</h2>

<h4>1. Add fields</h4>

<p>We added <code>published</code>, <code>route</code> in the DocType</p>

<p><strong>Note:</strong> The field <code>route</code> is mandatory</p>

<p><img src="{{ docs_base_path }}/img/generators.png" alt="Generator fields" /></p>

<h4>2. Added Website Generator to Hooks</h4>

<p>Since Job Opening is in <code>erpnext</code>, we have added to the list of existing generator hooks:</p>

<pre><code>website_generators = ["Item Group", "Item", "Sales Partner", "Job Opening"]
</code></pre>

<p>If the <code>website_generators</code> property does not exist in your hooks.py, add it!</p>

<h4>3. Controller</h4>

<p>We add the <code>website</code> property to the <strong>JobOpening</strong> class in <code>job_opening.py</code></p>

<p>In <code>get_context</code>, <code>parents</code> property will indicate the breadcrumbs</p>

<pre><code>from frappe.website.website_generator import WebsiteGenerator
from frappe import _

# subclass from WebsiteGenerator, not Document
class JobOpening(WebsiteGenerator):
    website = frappe._dict(
        template = "templates/generators/job_opening.html",
        condition_field = "published",
        page_title_field = "job_title",
    )

    def get_context(self, context):
        # show breadcrumbs
        context.parents = [{'name': 'jobs', 'title': _('All Jobs') }]
</code></pre>

<p><strong>Note:</strong> Once you do this, you should see the "See in Website" link on the document form.</p>

<h4>4. Add the template</h4>

<p>Add the template in <code>erpnext/templates/generators/job_opening.html</code></p>

<pre><code>{% extends "templates/web.html" %}

{% block breadcrumbs %}
    {% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block header %}
&lt;h1&gt;{{ job_title }}&lt;/h1&gt;
{% endblock %}

{% block page_content %}

&lt;div&gt;{{ description }}&lt;/div&gt;

&lt;a class='btn btn-primary'
    href='/job_application?job_title={{ doc.job_title }}'&gt;
    {{ _("Apply Now") }}&lt;/a&gt;

{% endblock %}
</code></pre>

<h4>5. Customizing List View</h4>

<p>If you add a method <code>get_list_view</code> in the controller file (job_opening.py), you can set properties for the listview</p>

<pre><code>def get_list_context(context):
    context.title = _("Jobs")
    context.introduction = _('Current Job Openings')
</code></pre>