<div class="row" style="max-height: 30px;">
	<div class="col-xs-12 col-sm-6">
		<div class="text-ellipsis">
			{%= list.get_avatar_and_id(doc) %}
			{% if(doc.customer_name != doc.name) { %}
			<span style="margin-right: 8px; display: inline-block">
				{%= doc.customer_name %}</span>
			{% } %}
			<span style="margin-right: 8px; display: inline-block"
				title="{%= doc.customer_type %}" class="filterable"
				data-filter="customer_type,=,{%= doc.customer_type %}">
			</span>
		</div>
	</div>
	<div class="col-sm-3 hidden-xs text-ellipsis">
		<span class="indicator darkgrey filterable"
			data-filter="customer_group,=,{%= doc.customer_group %}">
				{%= doc.customer_group %}</span>
    </div>
	<div class="col-sm-3 hidden-xs text-ellipsis">
		{% if(doc.territory) { %}
		<a class="h6 text-muted filterable"
			data-filter="territory,=,{%= doc.territory %}">
				<i class="icon-map-marker"></i>
				{%= doc.territory %}</a>
		{% } %}
    </div>
</div>
