<div class="call-detail-wrapper">
	<div class="left-arrow"></div>
	<div class="head text-muted">
		<span>
			<i class="fa fa-phone"> </i>
		<span>
		<span> {{ type }} Call</span>
		-
		<span> {{ frappe.format(duration, { fieldtype: "Duration" }) }}</span>
		-
		<span> {{ comment_when(creation) }}</span>
		-
		<!-- <span> {{ status }}</span>
		- -->
		<a class="text-muted" href="#Form/Call Log/{{name}}">Details</a>
		{% if (show_call_button) { %}
			<a class="pull-right">Callback</a>
		{% } %}
	</div>
	<div class="body padding">
		{% if (type === "Incoming") { %}
			<span> Incoming call from {{ from }}, received by {{ to }}</span>
		{% } else { %}
			<span> Outgoing Call made by {{ from }} to {{ to }}</span>
		{% } %}
		<hr>
		<div class="summary">
		{% if (summary) { %}
			<span>{{ summary }}</span>
		{% } else { %}
			<i class="text-muted">{{ __("No Summary") }}</i>
		{% } %}
		</div>
		{% if (recording_url) { %}
		<div class="margin-top">
				<audio
					controls
					src="{{ recording_url }}">
				</audio>
		</div>
		{% } %}
	</div>
</div>
