<div class="call-detail-wrapper">
	<div class="head padding">
		<span>
			<i class="fa fa-phone"> </i>
		<span>
		<span> {{ type }} Call</span>
		-
		<a href="#Form/Call Log/{{name}}">Details</a>
		{% if (show_call_button) { %}
		<a class="pull-right">Callback</a>
		{% } %}
	</div>
	<div class="body padding">
		{% if (type === "Incoming") { %}
			<span> Incoming call from {{ from }}, received by {{ to }}</span>
		{% } else { %}
			<span> Outgoing Call made by {{ from }} to {{ to }}</span>
		{% } %}
		<hr>
		<div class="summary">
			<span>{{ summary || "No Summary"}}</span>
		</div>
		{% if (recording_url) { %}
		<div class="margin-top">
				<audio
					style="width: 100%"
					controls
					src="{{ recording_url }}">
				</audio>
		</div>
		{% } %}
	</div>
</div>
