<div class="row">
	<div class="col-sm-3 layout-side-section">
		<ul class="overlay-sidebar nav nav-pills nav-stacked sidebar">
			{% for item in sidebar_items %}
			<li data-action="on_sidebar_item_click"
				data-type="{{ item.type }}"
				class="sidebar-item list-link">
				<a class="flex justify-between">
					<span class="ellipsis">{{ item.label }}</span>
					<div>
						<span class="badge"></span>
						<i class="octicon octicon-chevron-right hide"></i>
					</div>
				</a>
			</li>
			{% } %}
		</ul>
	</div>
	<div class="col-sm-9 details"></div>
<div>