<p><button class="btn btn-xs btn-default btn-contact">
    {{ __("New Contact") }}</button></p>
    <div class="clearfix"></div>
<ol>
{% for(var i=0, l=contact_list.length; i<l; i++) { %}
    <p class="h6">
		<li>
	        {%= contact_list[i].first_name %} {%= contact_list[i].last_name %}
	        {% if(contact_list[i].is_primary_contact) { %}
	            <span class="text-muted">({%= __("Primary") %})</span>
	        {% } %}
	        {% if(contact_list[i].designation){ %}
	         <span class="text-muted">&ndash; {%= contact_list[i].designation %}</span>
	        {% } %}
	        <a href="#Form/Contact/{%= encodeURIComponent(contact_list[i].name) %}"
	            class="btn btn-xs btn-default pull-right">
	            {%= __("Edit") %}</a>
		</li>
	</p>

    <div style="padding-left: 15px;">
        <p style="padding-top: 5px; font-size: 12px;">
        {% if(contact_list[i].phone) { %}
            {%= __("Phone") %}: {%= contact_list[i].phone %}<br>
        {% } %}
        {% if(contact_list[i].mobile_no) { %}
            {%= __("Mobile No.") %}: {%= contact_list[i].mobile_no %}<br>
        {% } %}
        {% if(contact_list[i].email_id) { %}
            {%= __("Email Address") %}: {%= contact_list[i].email_id %}
        {% } %}
        </p>
    </div>
{% } %}
</ol>
{% if(!contact_list.length) { %}
<p class="text-muted">{%= __("No contacts added yet.") %}</p>
{% } %}