<div class="frappe-control paginate-attributes">
	<div class="col-xs-9 col-xs-offset-3 attributes-header hide-control" style="padding-right:0px">
		<div class="col-xs-12">	
			<button class="btn btn-default btn-xs view-attributes pull-right" style="margin-left:10px;" title="View Attributes">
				<span class="octicon text-muted octicon-checklist"></span>
			</button>
			<div class="pull-right">
				<span class="cur-page bold"></span> of <span class="page-count bold"></span>
				<button class="btn btn-default btn-xs btn-prev" style="margin-left:10px;" title="Prev">
					<span class="octicon text-muted octicon-arrow-left"></span>
				</button>
				<button class="btn btn-default btn-xs btn-next" style="margin-left:10px;" title="Next">
					<span class="octicon text-muted octicon-arrow-right"></span>
				</button>
			</div>
		</div>
	</div>
</div>
<div class="attributes hide-control" style="margin-top:7px;"></div>