<table style="margin-bottom:0px;" id="fixed-table" class="table table-bordered table-striped table-condensed table-hover">
			<thead>
				<tr>
					<th class="col-xs-3"> Reference Document </th>
					<th class="col-xs-3"> Frequency</th>
					<th class="col-xs-3"> Next Scheduled Date</th>
					<th class="col-xs-3"> End Date </th>
				</tr>
			</thead>
			<tbody>
					<tr>
						<td class="col-xs-3">{{ s.reference_document }} </td>
						<td class="col-xs-3">{{ s.frequency }} </td>
						<td class="col-xs-3">{{ s.next_scheduled_date }} </td>
						<td class="col-xs-3">{{ s.end_date}} </td>								
					</tr>
			</tbody>
</table>