.page-header {
	color: white;
	background-color: #444;
	padding: 40px 0px;
}

.page-header h1 {
	color: white;
}

.slide {
	padding: 60px 40px;
	max-width: 900px;
	margin: auto;
	border-top: 1px solid #f2f2f2;
}

.container {
	max-width: 900px;
}

.slide h3 {
	margin-bottom: 70px;
}

.img-wrapper {
	text-align: center;
	padding: 30px;
	background-color: #eee;
	border-radius: 5px;
	margin-bottom: 15px;
}
