#page-setup-wizard {
	position: fixed;
	top: 0px; bottom: 0px;
	left: 0px; right: 0px;
	overflow: auto;
	padding-top: 60px;
}
.setup-wizard-wrapper {
	margin: 0px auto;
}

@media (min-width: 768px) {
	.setup-wizard-wrapper {
		width: 725px;
	}
}

#page-setup-wizard .panel {
	background-color: #fff;
}

#page-setup-wizard .panel-body {
}

#page-setup-wizard .col-md-6 .control-input .btn {
	width: 100%;
}
