.setup-wizard-slide {
	padding-left: 0px;
	padding-right: 0px;
}

@media (min-width: 768px) {
	.setup-wizard-slide.single-column {
		max-width: 500px;
	}

	.setup-wizard-slide.two-column {
		max-width: 768px;
	}
}

.setup-wizard-slide .lead {
	margin-bottom: 10px;
}

.setup-wizard-slide .form {
	margin-top: 20px;
	border: 1px solid #d1d8dd;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.setup-wizard-slide .footer {
	margin: 20px auto;
}

.setup-wizard-progress {
    border-bottom: 1px solid #d1d8dd;
    padding-bottom: 15px;
    margin: -20px auto 20px;
}

.setup-wizard-slide .icon-fixed-width {
	vertical-align: middle;
}

.setup-wizard-slide .icon-circle-blank {
	font-size: 7px;
}

.setup-wizard-slide .icon-circle {
	font-size: 10px;
}

.setup-wizard-slide .frappe-control[data-fieldtype="Attach Image"] {
	text-align: center;
}

.setup-wizard-slide .missing-image,
.setup-wizard-slide .attach-image-display {
	display: block;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
}

.setup-wizard-slide .missing-image .octicon {
	position: relative;
	top: 50%;
	transform: translate(0px, -50%);
	-webkit-transform: translate(0px, -50%);
}

.setup-wizard-message-image {
	margin: 15px auto;
}
