	<style>
		#login_wrapper {
			width: 300px;
			margin: 70px auto;
		}

		.layout-wrapper {
			background-color: #fff;
			color: #333;
			padding: 10px;
			box-shadow: 1px 1px 3px 3px #ccc;
			font-size: 12px;
			min-height: 100px;
			border-radius: 5px;
		}

		#login_wrapper h3 {
			text-align: center;
		}

		.login-banner {
			margin-bottom: 20px;
		}
		
		.login-box td {
			padding: 8px;
		}
		.login-box td input {
			margin-bottom: 0px;
		}
		.login-footer {
			text-align: center;
			padding: 15px;
		}
		.login-footer, .login-footer a {
			color: #999;
		}
	</style>