{% extends "templates/base.html" %}

{% block content %}
<div class='container mb-5 mt-5'>
	<div class="row">
		<h3 class="h3 pb-3 col-sm-12 col-md-10">Tickets</h3>
		<div class="col-sm-12 col-md-2 text-right">
			<!-- <button type="button" class="btn btn-primary" onclick="location.href='/support'">Back</button> -->
			<button type="button" class="btn btn-primary" onclick="location.href='/customer-issues?new=1'">New Ticket</button>
		</div>
	</div>
	{% for item in doc_list %}
	<div class="card mb-2 selectable-card" onclick="location.href='/issues/issue?issue={{ item.item[0].name }}'">
		<!-- <div class="card mb-2 selectable-card" onclick="location.href='/issues?name={{ item.item[0].name }}'"> -->
		<div class="card-body">
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<div class="mb-1">{{ item.subject }}<br>
					<span style="font-size: 12px;" class="text-muted">Created on {{ item.created_on }}</span>
				</div>
				</div>
				<div style="align-self: center;" class="col-sm-3 col-md-2 text-left">
					<span class="mb-2 status-pill">{{ item.item[0].status }}</span>
				</div>
				<div style="align-self: center;" class="col-sm-3 col-md-3 text-left">
					<span class="mb-2 text-uppercase">{{ item.item[0].name }}</span>
				</div>
				<div style="align-self: center;" class="col-sm-3 col-md-1 text-right text-muted">
					<!-- Include Octicon Library Here -->
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" fill="#8d99a6" d="M15 1H6c-.55 0-1 .45-1 1v2H1c-.55 0-1 .45-1 1v6c0 .55.45 1 1 1h1v3l3-3h4c.55 0 1-.45 1-1V9h1l3 3V9h1c.55 0 1-.45 1-1V2c0-.55-.45-1-1-1zM9 11H4.5L3 12.5V11H1V5h4v3c0 .55.45 1 1 1h3v2zm6-3h-2v1.5L11.5 8H6V2h9v6z"></path></svg> {{ item.communication_count }}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

<style>
	.selectable-card {
		cursor: pointer;
	}

	.selectable-card:hover {
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	}

	.status-pill {
		padding: 2px 8px;
		font-size: 85%;
		border-radius: 1000px;
	}

	.Open {
		background: #C6F6D5;
		color: #2F855A !important;
	}

	.status-orange {
		background: #FBD38D;
		color: #C05621 !important;
	}

	.status-red {
		background: #FEB2B2;
		color: #C53030 !important;
	}

	.card-body {
		padding: 10px 13px;
	}

</style>
{% endblock %}