{% if doc.published %}
	<div style="margin-bottom: 30px; max-width: 600px" class="with-border clickable">
		<a href={{ doc.route }}>
			<h3>{{ doc.name }}</h3>
			<p>
				<span class="label"> Chapter Head : {{ frappe.db.get_value('User', chapter_head, 'full_name') }} </span>
				<span class="label">
					{% if members %}
						{% set index = [] %}
						{% for user in members %}
							{% if user.enabled == 1 %}
								{% set __ = index.append(1) %}
							{% endif %}
						{% endfor %}
						Members: {{ index|length }}
					{% else %}
						Members: 0
					{% endif %}
					</span>
				<!-- Assignment of value to global variable not working in jinja -->
			</p>
			<p>{{ html2text(doc.introduction) | truncate (200) }}</p>
		</a>
	</div>
{% endif %}
