body {
{% if doc.background_image %}
	background: url("../files/{{ doc.background_image }}") repeat;
{% elif doc.background_color %}
	background-color: #{{ doc.background_color }};
	background-image: none;
{% else %}
	background-color: #edede7;
{% endif %}	
{% if doc.font %}
	font-family: '{{ doc.font }}', Verdana, Sans !important;
{% endif %}
{% if doc.font_size %}
	font-size: {{ doc.font_size }} !important;
{% endif %}
}

{% if doc.font_size %}
.small {
	font-size: {{ doc.small_font_size }} !important;
}
{% endif %}

{% if doc.heading_font %}
h1, h2, h3, h4, h5 {
	font-family: '{{ doc.heading_font}}', Arial, 'Helvetica Neue' !important;
}	
{% endif %}
