{% if doc.at_import %}
{{ doc.at_import }}
{% endif %}

body {
{% if doc.background_image %}
	background: url("../{{ doc.background_image }}") repeat;
{% elif doc.background_color %}
	background-color: #{{ doc.background_color }};
	background-image: none;
{% else %}
	background-color: #ffffff;
{% endif %}	
{% if doc.font or doc.google_web_font_for_text %}
	font-family: '{{ doc.google_web_font_for_text or doc.font }}', 'Helvetica Neue', Arial, Sans !important;
{% endif %}
	{% if doc.font_size %}font-size: {{ doc.font_size }} !important;{% endif %}
	{% if doc.page_text %}color: #{{ doc.page_text }};{% endif %}
}

{% if doc.page_links %}a, a:hover {
	color: #{{ doc.page_links }};
}{% endif %}

{% if doc.font_size %}
.small {
	font-size: {{ doc.small_font_size }} !important;
}
{% endif %}

div.outer {
	background-color: #{{ doc.page_background }};
}

{% if doc.google_web_font_for_heading or doc.heading_font %}h1, h2, h3, h4, h5 {
	font-family: '{{ doc.google_web_font_for_heading or doc.heading_font }}', 'Helvetica Neue', Arial !important;
}{% endif %}

{% if doc.heading_text_style %}h1, h2, h3, h4, h5 {
	text-transform: {{ doc.heading_text_style }};
}{% endif %}

{% if doc.page_headings %}h1, h2, h3, h4, h5 {
	color: #{{ doc.page_headings }};
}{% endif %}

{% if doc.page_border %}
/* Page Border*/
div.outer {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
	-webkibox-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
{% else %}
{% if doc.background_color.lower() == doc.page_background.lower() %}
div.web-footer {
	border-top: 1px solid #{{ get_hex_shade(doc.page_background, 15) }};
	padding-top: 10px;
}
{% endif %}
{% endif %}

div.web-footer, div.web-footer a {
	font-size: 90%;
	color: #{{ get_hex_shade(doc.background_color, 70) }};
}

/* Bootstrap Navbar */
.navbar-default {
	border: 0px;
}

.navbar {
	box-shadow: none;
	border-radius: 0px;
    background-color: #{{ doc.top_bar_background}};
    background-repeat: repeat-x;
	background-image: none;
	border-bottom: 1px solid {% if doc.top_bar_background.lower() == doc.page_background.lower() -%}
		#{{ get_hex_shade(doc.page_background, 15) }};
	{%- else -%}
		transparent;
	{%- endif %}
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.navbar .nav > li > a {
  color: #{{ doc.top_bar_foreground }};
  text-shadow: none;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  color: #{{ doc.top_bar_foreground }};
  background-color: transparent;
}

.navbar .navbar-text {
  color: #999999;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
  color: #{{ doc.top_bar_foreground }};
  background-color: transparent;
}

.navbar .navbar-link {
  color: #444444;
}

.navbar .navbar-link:hover,
.navbar .navbar-link:focus {
  color: #{{ doc.top_bar_foreground}};
}

.navbar-fixed-top,
.navbar-static-top {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
        
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #424242;
  text-decoration: none;
  background-color: transparent;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret, 
.navbar .nav li.dropdown > .dropdown-toggle:hover .caret {
	border-top-color: #{{ doc.top_bar_foreground}};
	border-bottom-color: #{{ doc.top_bar_foreground}};
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret {
	border-top-color: #{{ doc.top_bar_background}};
	border-bottom-color: #{{ doc.top_bar_background}};
}

.navbar .nav li.dropdown.open > .dropdown-toggle {
  color: #{{ doc.top_bar_background}};
  background-color: #{{ doc.top_bar_foreground}};
}

@media (max-width: 800px) {
  .navbar .nav-collapse .nav > li > a,
  .navbar .nav-collapse .dropdown-menu a {
    background-color: #{{ doc.top_bar_background}};
    color: #{{ doc.top_bar_foreground}};
  }
  .navbar .nav-collapse .nav > li > a:hover, 
  .navbar .nav-collapse .dropdown-menu a:hover {
    background-color: #{{ doc.top_bar_foreground}};
    color: #{{ doc.top_bar_background}};
  }

  .navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #{{ doc.top_bar_foreground }};
    border-bottom-color: #{{ doc.top_bar_foreground }};	
  }

  .navbar .nav li.dropdown > .dropdown-toggle:hover .caret {
    border-top-color: #{{ doc.top_bar_foreground }};
    border-bottom-color: #{{ doc.top_bar_foreground }};
  }

  .navbar .nav li.dropdown.open > .dropdown-toggle .caret,
  .navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret {
    border-top-color: #{{ doc.top_bar_background }};
    border-bottom-color: #{{ doc.top_bar_background }};	
  }

}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #{{ doc.top_bar_foreground }};
}

.breadcrumb {
	background-color: #{{ get_hex_shade(doc.page_background, 5) }};
}

.breadcrumb > li {
  text-shadow: none;
}


.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
	background-color: #{{ get_hex_shade(doc.page_background, 5) }};
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
	background-color: #{{ get_hex_shade(doc.page_background, 10) }};
}

.table-bordered {
	border: 1px solid #{{ get_hex_shade(doc.page_background, 15) }};
}

.table th,
.table td {
  border-top: 1px solid #{{ get_hex_shade(doc.page_background, 15) }};
}

.table-bordered th,
.table-bordered td {
	border-left: 1px solid #{{ get_hex_shade(doc.page_background, 15) }};
}



.hero-unit {
	background-color: #{{ get_hex_shade(doc.page_background, 15) }};
}

pre, code {
	background-color: #{{ get_hex_shade(doc.page_background, 5) }};
}

hr {
	border-top: 1px solid #{{ get_hex_shade(doc.page_background, 15) }};
	border-bottom: 1px solid #{{ get_hex_shade(doc.page_background, 5) }};	
}
