{% if doc.at_import %}
{{ doc.at_import }}
{% endif %}

body {
{% if doc.background_image %}
	background: url("../files/{{ doc.background_image }}") repeat;
{% elif doc.background_color %}
	background-color: #{{ doc.background_color }};
	background-image: none;
{% else %}
	background-color: #edede7;
{% endif %}	
{% if doc.font or doc.google_web_font_for_text %}
	font-family: '{{ doc.google_web_font_for_text or doc.font }}', 'Helvetica Neue', Arial, Sans !important;
{% endif %}
	{% if doc.font_size %}font-size: {{ doc.font_size }} !important;{% endif %}
	{% if doc.page_text %}color: #{{ doc.page_text }};{% endif %}
}

{% if doc.page_links %}a, a:hover {
	color: #{{ doc.page_links }};
}{% endif %}

{% if doc.font_size %}
.small {
	font-size: {{ doc.small_font_size }} !important;
}
{% endif %}

div.outer {
	background-color: #{{ doc.page_background or "fff" }};
}

{% if doc.google_web_font_for_heading or doc.heading_font %}h1, h2, h3, h4, h5 {
	font-family: '{{ doc.google_web_font_for_heading or doc.heading_font }}', 'Helvetica Neue', Arial !important;
}{% endif %}

{% if doc.heading_text_style %}h1, h2, h3, h4, h5 {
	text-transform: {{ doc.heading_text_style }};
}{% endif %}

{% if doc.page_headings %}h1, h2, h3, h4, h5 {
	color: #{{ doc.page_headings }};
}{% endif %}

{% if doc.page_border %}
/* Page Border*/
div.outer {
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.9);
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.9);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.9);
	border-radius: 5px;
}
{% else %}
div.web-footer {
	border-top: 1px solid #eee;
	padding-top: 10px;
}
{% endif %}

/* Bootstrap Navbar */
.navbar-inverse .navbar-inner {
    background-color: #{{ doc.top_bar_background or "444"}};
    background-repeat: repeat-x;
	border-color: transparent;
	background-image: none;
}

.navbar-inverse .brand,
.navbar-inverse .brand:hover,
.navbar-inverse .brand:focus,
.navbar-inverse .nav > li > a {
  color: #{{ doc.top_bar_foreground or "fff"}};
  text-shadow: none;
}

.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a:focus {
  color: #{{ doc.top_bar_background or "000"}};
}

.navbar-inverse .navbar-text {
  color: #999999;
}

.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  color: #{{ doc.top_bar_foreground or "fff"}};
  background-color: transparent;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #{{ doc.top_bar_foreground or "fff"}};
  background-color: transparent;
}

.navbar-inverse .navbar-link {
  color: #999999;
}

.navbar-inverse .navbar-link:hover,
.navbar-inverse .navbar-link:focus {
  color: #{{ doc.top_bar_foreground or "fff"}};
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
        
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #424242;
  text-decoration: none;
  background-color: transparent;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret, 
.navbar-inverse .nav li.dropdown > .dropdown-toggle:hover .caret {
	border-top-color: #{{ doc.top_bar_foreground or "fff"}};
	border-bottom-color: #{{ doc.top_bar_foreground or "fff"}};
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle:hover .caret {
	border-top-color: #{{ doc.top_bar_background or "000"}};
	border-bottom-color: #{{ doc.top_bar_background or "000"}};
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle {
  color: #{{ doc.top_bar_background or "000"}};
  background-color: #{{ doc.top_bar_foreground or "fff"}};
}

@media (max-width: 800px) {
  .navbar-inverse .nav-collapse .nav > li > a,
  .navbar-inverse .nav-collapse .dropdown-menu a {
    background-color: #{{ doc.top_bar_background or "000"}};
    color: #{{ doc.top_bar_foreground or "fff"}};
  }
  .navbar-inverse .nav-collapse .nav > li > a:hover, 
  .navbar-inverse .nav-collapse .dropdown-menu a:hover {
    background-color: #{{ doc.top_bar_foreground or "fff"}};
    color: #{{ doc.top_bar_background or "000"}};
  }

  .navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #{{ doc.top_bar_foreground or "fff" }};
    border-bottom-color: #{{ doc.top_bar_foreground or "fff" }};	
  }

  .navbar-inverse .nav li.dropdown > .dropdown-toggle:hover .caret {
    border-top-color: #{{ doc.top_bar_background or "000" }};
    border-bottom-color: #{{ doc.top_bar_background or "000" }};
  }

  .navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
  .navbar-inverse .nav li.dropdown.open > .dropdown-toggle:hover .caret {
    border-top-color: #{{ doc.top_bar_background or "000" }};
    border-bottom-color: #{{ doc.top_bar_background or "000" }};	
  }

}
