html {
  min-height: 100%;
}
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  margin: 0px;
  padding: 0px !important;
}
html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}
.offcanvas-main-section-overlay {
  display: none;
  cursor: pointer;
  opacity: 0.5;
}
.sidebar-padding {
  padding: 12px 14px;
}
.offcanvas .sidebar .sidebar-menu > li > a,
.offcanvas .sidebar .dropdown-menu > li > a {
  padding: 12px 14px;
  display: block;
  whitespace: nowrap;
  transition: 0.2s;
  text-decoration: none !important;
}
.offcanvas .sidebar .dropdown-menu {
  padding: 0px;
  font-size: inherit;
}
.offcanvas .sidebar .dropdown-menu > li > a {
  padding-left: 28px;
}
.offcanvas .sidebar .divider {
  height: 1px;
  overflow: hidden;
  background-color: #EBEFF2;
  width: 100%;
  margin: 0px;
}
.offcanvas .sidebar .badge {
  right: 15px !important;
  top: 11px !important;
}
.offcanvas .sidebar .sidebar-menu > li > a:hover,
.offcanvas .sidebar .dropdown-menu > li > a:hover,
.offcanvas .sidebar .sidebar-menu > li > a:focus,
.offcanvas .sidebar .dropdown-menu > li > a:focus,
.offcanvas .sidebar .sidebar-menu > li > a:active,
.offcanvas .sidebar .dropdown-menu > li > a:active {
  background-color: #F0F4F7;
}
@media (max-width: 767px) {
  .page-content {
    min-height: 200px;
  }
  .offcanvas {
    transition: 0.25s;
  }
  .offcanvas-main-section-overlay {
    bottom: 0;
    position: fixed;
  }
  .offcanvas-container,
  .offcanvas,
  .offcanvas-main-section {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .offcanvas.active-left,
  .offcanvas.active-right {
    position: fixed;
  }
  .offcanvas.active-left .offcanvas-main-section-overlay,
  .offcanvas.active-right .offcanvas-main-section-overlay {
    z-index: 1031;
    display: block;
    bottom: 0;
  }
  .offcanvas.active-left {
    -webkit-transform: translate3d(75%, 0, 0);
    transform: translate3d(75%, 0, 0);
  }
  .offcanvas.active-right {
    -webkit-transform: translate3d(-75%, 0, 0);
    transform: translate3d(-75%, 0, 0);
  }
  .offcanvas .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 75%;
    /* 9 columns */
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 12px;
  }
  .offcanvas .sidebar-right {
    left: 100%;
    border-left: 1px solid #d1d8dd;
  }
  .offcanvas .sidebar-left {
    right: 100%;
    border-right: 1px solid #d1d8dd;
  }
  .offcanvas .sidebar-menu {
    margin-bottom: 0;
  }
  .offcanvas .navbar-form {
    margin: 0px;
  }
  .offcanvas .sidebar ul {
    margin: 0px;
  }
  .offcanvas .sidebar-page-sidebar {
    border-top: 1px solid #d1d8dd;
  }
  .offcanvas .sidebar-label {
    text-transform: uppercase;
    color: #8D99A6;
    font-size: 85%;
    margin: 0px;
    font-weight: bold;
    padding: 10px 15px 0px;
  }
}
.navbar .dropdown-toggle {
  padding-top: 8px;
  padding-bottom: 8px;
}
.navbar-fixed-top {
  left: 0px;
  right: 0px;
}
.navbar a {
  font-size: 12px;
  font-weight: bold;
}
.navbar-icon-home {
  vertical-align: middle;
}
.navbar-icon-home:hover,
.navbar-icon-home:focus,
.navbar-icon-home:active,
.navbar-icon-home-hover {
  opacity: 1;
  Filter: alpha(opacity=100);
  /* For IE8 and earlier */
}
.navbar-user-image {
  width: 24px;
  height: 24px;
  margin-right: 3px;
  border-radius: 4px;
}
.navbar-new-comments {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: #ff5858;
  color: #fff;
  text-align: center;
  padding: 2px 5px;
}
#navbar-search {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.9);
}
.navbar .navbar-search-icon {
  color: #6C7680;
  font-size: inherit;
  position: relative;
  right: 24px;
  top: 1px;
}
.navbar .badge {
  font-weight: normal;
}
#navbar-search-results {
  left: auto;
  right: inherit;
  margin-top: -1px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.navbar-center {
  float: left;
  color: #6C7680;
}
#navbar-breadcrumbs > li > a:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  display: inline-block;
  speak: none;
  font-size: 24px;
  transition: 0.2s;
  position: relative;
  top: 3px;
  content: "\f105";
  margin-right: 10px;
  color: #C0C9D2;
}
#navbar-breadcrumbs > li > a:hover:before,
#navbar-breadcrumbs > li > a:focus:before,
#navbar-breadcrumbs > li > a:active:before {
  color: #36414C;
}
#navbar-breadcrumbs > li > a {
  padding: 6px 15px 10px 0px;
}
.toolbar-user-fullname {
  max-width: 200px;
  display: inline-block;
}
.navbar-brand {
  padding: 10px;
}
.navbar-brand > img {
  display: inline-block;
}
.toggle-sidebar {
  margin-right: 15px;
}
body {
  font-size: 16px;
  line-height: 1.65em;
  color: #454e57;
  -webkit-font-smoothing: antialiased;
}
.container {
  max-width: 870px;
}
.splash {
  padding-top: 128px;
  margin-top: -92px;
  border-bottom: 1px solid #d1d8dd;
}
.splash .jumbotron {
  background-color: transparent;
  padding: 40px 0 60px 0;
  text-align: center;
}
.splash .jumbotron h1 {
  font-size: 48px;
  font-weight: 400;
  opacity: 0.9;
  color: #2E3338;
}
.splash .jumbotron p {
  font-size: 24px;
  font-color: #8D99A6 !important;
  letter-spacing: 0px;
  opacity: 0.7;
  margin-bottom: 90px;
  font-weight: 300;
  line-height: 1.4em;
}
.splash .section {
  padding: 30px 0 0 0;
}
.page-container {
  padding-top: 38px;
  margin: 0 auto;
  max-width: 870px;
}
.page-container .webpage-content ol > li,
.page-container .webpage-content ul > li {
  margin: 13px auto;
}
.page-container .webpage-content ol > li li,
.page-container .webpage-content ul > li li {
  margin: 4px auto;
}
.page-container .webpage-content ol li ol {
  list-style-type: disc;
}
.page-container .webpage-content ul,
.page-container .webpage-content ol {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .page-container .page-content {
    width: 83%;
    margin: 0 auto;
  }
}
#page-index {
  padding-top: 0;
  width: 100%;
  margin: 0;
}
#page-index .page-content {
  width: 100%;
  margin: 0;
}
body[data-path="index"] .navbar .toggle-sidebar i {
  color: #fff;
}
code {
  color: #e66a12;
  background: #fff6df;
}
pre {
  background: #fafbfc;
  border: 1px solid #e1e9f0;
  border-radius: 2px;
}
.hljs {
  background: transparent;
  border: none;
  padding: 1.2em 1.5em 1.5em;
  color: #454e57;
}
.hljs-keyword,
.hljs-tag,
.css .hljs-class,
.css .hljs-id,
.lisp .hljs-title,
.nginx .hljs-title,
.hljs-request,
.hljs-status,
.clojure .hljs-attribute {
  color: #e66a12;
}
.diff .hljs-deletion,
.hljs-string,
.hljs-tag .hljs-value,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-javadoc,
.smalltalk .hljs-class,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.css .hljs-rules .hljs-value,
.hljs-attr_selector,
.hljs-pseudo,
.apache .hljs-cbracket,
.tex .hljs-formula,
.coffeescript .hljs-attribute {
  color: #dd4a68;
}
.hljs-number,
.hljs-date,
.hljs-regexp,
.hljs-literal,
.hljs-hexcolor,
.smalltalk .hljs-symbol,
.smalltalk .hljs-char,
.go .hljs-constant,
.hljs-change,
.lasso .hljs-variable,
.makefile .hljs-variable,
.asciidoc .hljs-bullet,
.markdown .hljs-bullet,
.asciidoc .hljs-link_url,
.markdown .hljs-link_url {
  color: #7575ff;
}
.hljs-shebang,
.diff .hljs-addition,
.hljs-comment,
.hljs-annotation,
.hljs-template_comment,
.hljs-pi,
.hljs-doctype {
  color: #6a906a;
}
.dos .hljs-keyword,
.hljs-decorator,
.hljs-title,
.hljs-type,
.diff .hljs-header,
.ruby .hljs-class .hljs-parent,
.apache .hljs-tag,
.nginx .hljs-built_in,
.tex .hljs-command,
.hljs-prompt {
  color: #4f4fa4;
}
.navbar {
  max-width: 870px;
  margin-left: auto;
  margin-right: auto;
}
.navbar a {
  font-size: 16px;
  font-weight: normal;
}
.navbar a.navbar-brand {
  font-weight: bold;
}
.navbar a.toggle-sidebar {
  margin-top: 8px;
}
.sidebar a {
  font-size: 14px;
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}
.breadcrumb {
  line-height: 1em;
  color: #8D99A6;
  background-color: transparent;
  margin-bottom: 32px;
  padding: 0px;
  padding-left: 20px;
  background: url('https://frappe.github.io/erpnext/assets/img/up.png') 0% 30% no-repeat;
}
.breadcrumb .icon {
  display: none;
}
.breadcrumb a,
.breadcrumb a:hover,
.breadcrumb a:focus,
.breadcrumb a:visited {
  color: #7575ff;
  font-size: 16px;
}
.hero-and-content a,
.hero-and-content a:hover,
.hero-and-content a:focus,
.hero-and-content a:visited {
  color: #5E64FF;
}
.hero-and-content a.btn {
  color: inherit;
}
a.btn-primary {
  color: #fff;
}
a.btn-primary:hover,
a.btn-primary:focus,
a.btn-primary:visited {
  color: #fff;
}
.btn-next-wrapper {
  margin: 32px 0 16px;
}
h2 {
  margin-top: 48px;
  font-size: 24px;
}
h3,
h4 {
  margin-top: 48px;
}
p {
  margin-bottom: 16px;
}
.hero-and-content > p {
  max-width: 723px;
  margin: 0 auto;
}
.navbar {
  background-color: transparent;
  border: none;
  padding: 15px 0px;
  border-radius: 0px;
  border-bottom: 1px solid #d1d8dd;
}
.section {
  padding: 64px 0 0 0;
}
.dev-header {
  margin-bottom: 30px;
}
.docs-footer {
  padding: 30px 0px 60px 0px;
  border-top: 1px solid #d1d8dd;
  max-width: 870px;
  margin: 0 auto;
  margin-top: 80px;
  font-size: 14px;
}
.docs-footer h3 {
  margin-top: 24px;
  font-size: 16px;
}
.docs-footer img.frappe-bird {
  width: 40px;
  height: 40px;
  background: #fff;
  margin-bottom: 10px;
  padding: 5px;
}
.docs-footer a {
  color: #8D99A6;
}
.docs-footer li {
  display: inline-block;
  margin: 0 10px;
}
.docs-footer .built-with-frappe {
  margin-top: -50px;
}
.browser-image {
  min-height: 200px;
  border: 1px solid #d1d8dd;
  border-bottom: 0px;
}
.fake-browser-frame {
  position: relative;
  margin: 24px auto 0px;
  box-shadow: 0px -6px 100px 1px rgba(0, 0, 0, 0.1), 0px -6px 50px 1px rgba(0, 0, 0, 0.4);
}
.fake-browser-frame::before {
  content: "";
  height: 24px;
  position: absolute;
  top: -24px;
  left: 0px;
  right: 0px;
  border: 1px solid #d1d8dd;
  background: #f5f7fa;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.fake-browser-frame::after {
  content: '\f111 \00a0\00a0 \f111 \00a0\00a0 \f111';
  position: absolute;
  color: #d1d8dd;
  top: -15px;
  left: 8px;
  /* octicon */
  font: normal normal;
  font-size: 8px;
  font-family: 'FontAwesome';
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fake-iphone-frame {
  position: relative;
  padding: 40px 8px;
  border: 1px solid #d1d8dd;
  border-radius: 15px;
}
.fake-ipad-frame {
  position: relative;
  padding: 8px 40px;
  border: 1px solid #d1d8dd;
  border-radius: 15px;
}
.screenshot {
  border: 1px solid #d1d8dd;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
  margin: 8px 0px;
  max-width: 100%;
}
hr {
  margin: 48px 0px 30px;
}
.edit {
  padding-left: 20px;
  background: url('https://frappe.github.io/erpnext/assets/img/smiley.png') 0% 50% no-repeat;
  color: #8d99a6;
  display: block;
  margin-top: -22px;
}
a.edit,
a.edit:hover,
a.edit:focus,
a.edit:visited {
  color: #8d99a6;
}
.btn-next {
  margin-top: 16px;
  float: right;
}
.btn-next:after {
  content: " \2192";
}
#current td {
  font-weight: bold;
}
#current td code {
  font-weight: normal;
  background: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
  color: #454e57;
  font-size: 16px;
}
.hero-and-content [data-html-block="hero"] {
  overflow-y: hidden;
}
