{% extends "blog/blog_list.js" %}

{% block title %}Blog{% endblock %}

{% block css %}
	<style>
		h2 > a, h2 > a:link, h2 > a:visited, h2 > a:active,
		h2 > a:hover, h2 > a:focus {
			text-decoration: none;
			color: inherit;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="layout-wrapper layout-wrapper-background">
		<div class="web-content" id="content-blog">
			
			<div class="layout-main-section">
				<h1>Blog</h1>
				<br>
				<div id="blog-list">
					<!-- blog list will be generated dynamically -->
				</div>
			</div>
			
			<div class="layout-side-section">
				<!-- for later
				<h4>Get Updates</h4>
				<p>
				<input name="blog-subscribe">
				<button class="btn" id="blog-subscribe">Subscribe</button>
				</p>-->
				<h4>Subscribe</h4>
				<p>
				<img src="images/feed.png" style="margin-right: 4px; margin-bottom: -4px">
				<a href="rss.xml" target="_blank">RSS Feed</a>
				</p>
			</div>
			<div style="clear: both"></div>
		</div>
	</div>
{% endblock %}