{% extends "templates/web.html" %}
{% from "erpnext/templates/includes/macros.html" import product_image_square %}

{% block title %}{{ brand_html }}{% endblock %}

{% block page_content %}

<div class="row">
	<div class="col-sm-12">
		<h2 class="text-center">{{ homepage.tag_line or '' }}</h2>
		<p class="lead text-center">{{ homepage.description or '' }}</p>
		<p class="text-center">
			<a href="/login" class="btn btn-primary text-center">Login</a>
		</p>

		{% if homepage.products %}
		<!-- TODO: styling of this section -->
		<div class='featured-products-section'>
			<h5 class='text-uppercase'>{{ _("Featured Products") }}</h5>
			<div class="featured-products">
				<div id="search-list" class="row" style="margin-top:40px;">
					{% for item in homepage.products %}
						<a class="product-link" href="{{ item.route | abs_url }}">
							<div class="col-sm-4 product-image-wrapper">
								{{ product_image_square(item.thumbnail or item.image) }}
								<div class="text-ellipsis inline-block small product-text">
									{{ item.item_name }}
								</div>
							</div>
						</a>
					{% endfor %}
				</div>
			</div>
			<!-- TODO: remove hardcoding of /products -->
			<p class="text-center"><a href="/products" class="btn btn-primary">More Products</a></p>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block style %}
<style>
	.featured-products-section {
		margin-top: 75px;
	}
</style>
{% endblock %}
