/* csslint ignore:start */
{% if homepage.hero_image %}
.hero-image {
	background-image: url("{{ homepage.hero_image }}");
	background-size: cover;
	padding: 10rem 0;
}

section.hero-image > .caption,
.carousel-caption {
	color: white;
	background: #0007;
	border-radius: 0.25rem;
}

.carousel-caption {
        padding: 10px;
        left: 33%;
        right: 33%;
}
{% endif %}
/* csslint ignore:end */
