/* csslint ignore:start */
{% if homepage.hero_image %}
.hero-image {
	background-image: url("{{ homepage.hero_image }}");
	background-size: cover;
	padding: 10rem 0;
}
{% endif %}
/* csslint ignore:end */
