{% extends "templates/web.html" %}
{% from "erpnext/templates/includes/order/order_macros.html" import item_name_and_description %}

{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block title %}{{ doc.name }}{% endblock %}

{% block header %}<h1>{{ doc.name }}</h1>{% endblock %}

{% block page_content %}

<div class="row transaction-subheading">
    <div class="col-xs-6">
        <span class="indicator {{ doc.indicator_color or "darkgrey" }}">
            {{ doc.indicator_title or doc.status or "Submitted" }}
        </span>
	</div>
    <div class="col-xs-6 text-muted text-right small">
        {{ frappe.utils.formatdate(doc.transaction_date, 'medium') }}
    </div>
</div>

{% if doc._header %}
{{ doc._header }}
{% endif %}

<div class="order-container">

    <!-- items -->
    <div class="order-item-table">
        <div class="row order-items order-item-header text-muted">
            <div class="col-sm-8 col-xs-6 h6 text-uppercase">
                {{ _("Item") }}
            </div>
            <div class="col-sm-2 col-xs-3 text-right h6 text-uppercase">
                {{ _("Quantity") }}
            </div>
            <div class="col-sm-2 col-xs-3 text-right h6 text-uppercase">
                {{ _("Amount") }}
            </div>
        </div>
        {% for d in doc.items %}
        <div class="row order-items">
            <div class="col-sm-8 col-xs-6">
                {{ item_name_and_description(d) }}
            </div>
            <div class="col-sm-2 col-xs-3 text-right">
                {{ d.qty }}
                {% if d.delivered_qty is defined and d.delivered_qty != None %}
                <p class="text-muted small">{{
                    _("Delivered: {0}").format(d.delivered_qty) }}</p>
                {% endif %}
            </div>
            <div class="col-sm-2 col-xs-3 text-right">
                {{ d.get_formatted("amount")	 }}
                <p class="text-muted small">{{
                    _("@ {0}").format(d.get_formatted("rate")) }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- taxes -->
    <div class="order-taxes row">
        <div class="col-sm-6"><!-- empty --></div>
        <div class="col-sm-6 text-right">
            {% include "erpnext/templates/includes/order/order_taxes.html" %}
        </div>
    </div>
</div>

<div class="cart-taxes row small">
    <div class="col-sm-8"><!-- empty --></div>
    <div class="col-sm-4">
		{% if enabled_checkout %}
	        {% if (doc.doctype=="Sales Order" and doc.per_billed <= 0)
				or (doc.doctype=="Sales Invoice" and doc.outstanding_amount > 0) %}
			<div class="page-header-actions-block" data-html-block="header-actions">
				<p>
				    <a href="/api/method/erpnext.accounts.doctype.payment_request.payment_request.make_payment_request?dn={{ doc.name }}&dt={{ doc.doctype }}&submit_doc=1"
				        class="btn btn-primary btn-sm">Pay {{ doc.get_formatted("grand_total") }} </a>
				</p>
			</div>
			{% endif %}
		{% endif %}
	</div>
</div>

{% endblock %}
