{% extends "templates/web.html" %}

{% block title %} {{ title }} {% endblock %}

{% block header %}<h2>{{ title }}</h2>{% endblock %}

{% block page_content %}
<div class="partners-content">
	{% for partner_info in partners %}
	<div class="row">
		<div class="col-md-3">
			{% if partner_info.logo -%}
			<a href="{{ partner_info.route | abs_url | e }}">
				<img itemprop="brand" src="{{ partner_info.logo | abs_url | e }}" class="partner-logo"
					alt="{{ partner_info.partner_name | e }}" title="{{ partner_info.partner_name | e }}" />
			</a>
			{%- endif %}
		</div>
		<div class="col-md-9">
			<a href="{{ partner_info.route | abs_url | e }}">
				<h4>{{ partner_info.partner_name }}</h4>
			</a>
			<p style="color: #999">{{ partner_info.territory }} - {{ partner_info.partner_type }}</p>
			<p>{{ partner_info.introduction | e }}</p>
		</div>
	</div>
	<hr>
	{% endfor %}
</div>
{% endblock %}
