{% extends "templates/web.html" %}

{% block title %}{{ doc.project_name }}{% endblock %}

{% block header %}
<h1 class= "title">
{{ doc.project_name }}
</h1>
{% endblock %}

{% block style %}
<style>
{% include "templates/includes/projects.css" %}
</style>
{% endblock %} 


{% block page_content %}

{% include 'templates/includes/project_search_box.html' %}

{% if frappe.form_dict.q %}
	<p class="text-muted"> <a href="/projects?project={{doc.name}}" class="text-muted">
	Filtered by "{{ frappe.form_dict.q }}" Clear</a></p>
{% else %}
	<h3>{{ _("Activity Feed") }}</h3>
	<div class='project-timeline'>
	{% include "erpnext/templates/includes/projects/timeline.html" %}
	</div>
		{% if doc.timelines|length > 9 %}
		<p><a class='more-timelines small underline'>{{ _("More") }}</a><p>
		{% endif %}
{% endif %}

{% if doc.tasks %}  
	<div class='project-tasks-section'>
		<div>
			<a class="btn btn-xs btn-primary pull-right" 
			href='/tasks?new=1&project={{ doc.project_name }}'>New</a>
			<h3>{{ _("Tasks") }}</h3>
		</div>
		<div class="btn-group btn-toggle"> 	
			<button class="btn btn-xs btn-open-tasks btn-primary active" style="float:left;">Open</button>
			<button class="btn btn-xs btn-closed-tasks">Close</button>	
		</div>
		<div class='project-tasks'>
		{% include "erpnext/templates/includes/projects/project_tasks.html" %}
		</div>

		{% if doc.tasks|length > 4 %}
			<p><a id= 'more-tasks' class='more-tasks small underline'>{{ _("More") }}</a><p>
		{% endif %}
	</div>
{% else %}
	<p class="text-muted">No tasks</p>
{% endif %}

{% if doc.issues %}
	<div class='project-issues-section'>
		<div>
			<a class="btn btn-xs btn-primary pull-right" 
			href='/issues?new=1&project={{ doc.project_name }}'>New</a>
			<h3>{{ _("Issues") }}</h3>
		</div>
		<div class="btn-group btn-toggle"> 	
			<button class="btn btn-xs btn-open-issues" style="float:left;">Open</button>
			<button class="btn btn-xs btn-closed-issues">Close</button>	
		</div>
		<div class='project-issues'>
		{% include "erpnext/templates/includes/projects/project_issues.html" %}
		</div>

		{% if doc.issues|length > 4 %}
			<p><a id='more-issues' class='more-issues small underline'>{{ _("More") }}</a><p>
		{% endif %}
	</div>	
{% else %}
	<p class="text-muted">No Issues</p>
{% endif %}

{% if doc.timelogs %}
	<h3>{{ _("Time Logs") }}</h3>
	<div class='project-timelogs'>
	{% include "erpnext/templates/includes/projects/project_timelogs.html" %}
	</div>
	{% if doc.timelogs|length > 1 %}
		<p><a class='more-timelogs small underline'>{{ _("More") }}</a><p>
	{% endif %}
{% else %}
	<p class="text-muted">No time logs</p>
{% endif %}
</div>

<script>
	{% include "erpnext/templates/pages/projects.js" %}
</script>

{% endblock %}