{% extends "templates/web.html" %}

{% block title %} Payment {% endblock %}

{%- block header -%}{% endblock %}

{% block script %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>{% include "templates/includes/razorpay_checkout.js" %}</script>
{% endblock %}

{%- block page_content -%}

<p class='lead text-center centered'>
	<span class='razorpay-loading'>Loading Payment System</span>
	<span class='razorpay-confirming hidden'>Confirming Payment</span>
</p>

{% endblock %}

{% block style %}
<style>
	header, footer {
		display: none;
	}

</style>
{% endblock %}