{% extends "templates/web.html" %}

{% block title %}{{ heading or "LMS"}}{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
{% if lms_enabled %}
<div id="lms-app"></div>
<script type="text/javascript" src="/assets/js/lms.min.js"></script>
{% else %}
<style>
.hero-and-content {
	background-color: #f5f7fa;
}
header, footer {
	display: none;
}
html, body {
	background-color: #f5f7fa;
}
{% include "templates/styles/card_style.css" %}
</style>

<div class='page-card'>
	<div class='page-card-head'>
		<span class='indicator darkgrey'>{{_("Page Missing or Moved")}}</span>
	</div>
	<p>{{_("The page you are looking for is missing. This could be because it is moved or there is a typo in the link.")}}</p>
	<div><a href='/' class='btn btn-primary btn-sm'>{{ _("Home") }}</a></div>
</div>
<p class='text-muted text-center small' style='margin-top: -20px;'>{{ _("Error Code: {0}").format('404') }}</p>
<style>
.hero-and-content {
	background-color: #f5f7fa;
}
</style>
{% endif %}
{% endblock %}