.page {
    background-color: whitesmoke;
    padding: 4rem;
}
.left {
    flex: 1;
    justify-content: start;
  }

  .right {
    flex: 1;
    justify-content: end;
  }

  .next {
    display: flex;
    justify-content: space-between;
    width: 70rem;
    /* border: .1rem red solid; */
  }
/* .total {
    display: flex; 
    justify-content: flex-end,
} */
.submit-btn {
    background-color: rgb(97, 87, 241);
    color: white;
    float: right;
}

.text {
  height: 25px;
  border: 1px solid #000;
  float: right;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  text-align:justify;
}
address {
  float: right;
  width: 100%;
  border: 1px solid #000;
  font-size: smaller;
  padding-left: 3px;
  padding-right: 3px;
  text-align:justify;
}

.step-progress {
  width: 100%;
  margin-bottom: 80px;
}
.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  float: left;
  width: 33.33%;
  position: relative;
  text-align: center;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
  display: block;
  text-align: center;
  margin: 0 auto 10px  auto;
  background-color: white;
}

.progressbar li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: blue;
}
.progressbar li.active:before {
  border-color: blue;
}
.progressbar li.active + li:after {
  background-color:blue;
}
