
div.check-grid {
	margin: 17px;
}

div.check-grid table {
	border-collapse: collapse;
}

div.check-grid table td {
	padding: 3px;
	border: 1px solid #aaa;
}

td.check-grid-head {
	font-weight: bold;
	text-align: center;
}