<div class="row">
	<div class="col-xs-11 col-sm-9">
		<div class="text-ellipsis">
			{%= list.get_avatar_and_id(doc) %}
			{% if(doc.item_name != doc.name) { %}
			<span style="margin-right: 8px;">{%= doc.item_name %}</span>
			{% } %}
		</div>
	</div>
	<div class="hidden-xs col-sm-2 text-ellipsis">
		<span class="indicator darkgrey filterable"
			data-filter="item_group,=,{%= doc.item_group %}">
			{%= doc.item_group %}</span>
	</div>
	<div class="col-xs-1 col-sm-1">
		{% if(doc.image) { %}
		<img src="{%= doc.image %}" class="img-responsive" style="margin-bottom: 4px;">
		{% } %}
	</div>
</div>
