#message-post-text {
}

#message-list {	
}

.message {
	padding: 7px;
	border-bottom: 1px solid #ccc;
}

.message .help {
	margin-bottom: 0px;
	padding-bottom: 0px;
	color: #888;
	font-size: 11px;
}

.message-other {
}

.message-self {
	background-color: #eee;
}