#message-post-text {
}

#message-list {	
}

.message {
	padding: 7px;
	padding-left: 17px;
	border-bottom: 1px solid #ccc;
}

.message-mark {
	margin-left: -17px;
	width: 9px;
	position: absolute;
	height: 30px;
}

.message .help {
	margin-bottom: 0px;
	padding-bottom: 0px;
	color: #888;
	font-size: 11px;
}

.message-other {
}

.message-self {
	background-color: #eee;
}