{% if(!doc) { %}
	<div class="row">
		<div class="col-sm-4 col-xs-4">{{ __("Journal Entry") }}</div>
		<div class="col-sm-2 col-xs-4 text-right">{{ __("Amount") }}</div>
		<div class="col-sm-2 hidden-xs text-right">{{ __(row.grid.get_docfield("cheque_number").label) }}</div>
		<div class="col-sm-2 hidden-xs text-right">{{ __("Posting Date") }}</div>
		<div class="col-sm-2 col-xs-4 text-right">{{ __("Clearance Date") }}</div>
	</div>
{% } else { %}
	<div class="row">
		<div class="col-sm-4 col-xs-4">
			{{ doc.get_formatted("voucher_id") }}
			{{ doc.get_formatted("against_account") }}
		</div>
		<div class="col-sm-2 col-xs-4 text-right">
			{{ doc.debit ? doc.get_formatted("debit") : doc.get_formatted("credit") }} {{ doc.debit ? __("Dr") : __("Cr") }}
		</div>
		<div class="col-sm-2 hidden-xs text-right">
			{{ doc.get_formatted("cheque_number") }}
		</div>
		<div class="col-sm-2 hidden-xs text-right">
			{{ doc.get_formatted("posting_date") }}
		</div>
		<div class="col-sm-2 col-xs-4 text-right">
			{{ doc.get_formatted("clearance_date") }}
		</div>
	</div>
{% } %}
