{% var visible_columns = row.get_visible_columns(["operation",
	"opn_description", "status", "qty_completed", "workstation"]);
%}

{% if(!doc) { %}
	<div class="row">
		<div class="col-sm-7">{%= __("Operation") %}</div>
		<div class="col-sm-2 text-right">{%= __("Workstation") %}</div>
		<div class="col-sm-3 text-right">{%= __("Completed Qty") %}</div>
	</div>
{% } else { %}
	<div class="row">
		<div class="col-sm-7">
			<strong>{%= doc.operation %}</strong>
			<span class="label label-primary">
			{%= doc.status %}
			</span>
			{% include "templates/form_grid/includes/visible_cols.html" %}
			<div>
				{%= doc.get_formatted("opn_description") %}
			</div>
		</div>

		<!-- workstation -->
		<div class="col-sm-2 text-right">
			{%= doc.get_formatted("workstation") %}
		</div>

		<!-- qty -->
		<div class="col-sm-3 text-right">
			{%= doc.get_formatted("qty_completed") %}
		</div>
	</div>
{% } %}
