<div class="row" style="max-height: 30px;">
	<div class="col-xs-8">
		<div class="text-ellipsis">
			{%= list.get_avatar_and_id(doc) %}
			<span style="margin-right: 8px; display: inline-block">
				<span class="filterable"
					data-filter="customer,=,{%= doc.customer %}">
					{%= doc.customer_name %}</span></span>
			{% if(doc.per_delivered < 100 && doc.status!=="Stopped") { %}
				{% if(frappe.datetime.get_diff(doc.delivery_date) < 0) { %}
				<span class="label label-danger filterable"
					title="{%= doc.get_formatted("delivery_date")%}"
					data-filter="per_delivered,<,100|delivery_date,<,Today|status,!=,Stopped"
					>
						{%= __("Overdue") %}
				</span>
				{% } else { %}
				<span class="label label-warning filterable"
					data-filter="per_delivered,<,100|status,!=,Stopped"
					title="{%= __("Pending") %}">
					{%= doc.get_formatted("delivery_date") || "Pending" %}</span>
				{% } %}
			{% } %}
			{% if(doc.per_delivered == 100 && doc.status!=="Stopped") { %}
				<span class="filterable text-muted"
					data-filter="per_delivered,=,100|status,!=,Stopped">
					<i class="icon-ok-sign"></i></span>
			{% } %}
			{% if(doc.status==="Stopped") { %}
				<span class="label label-danger filterable"
					data-filter="status,=,Stopped">{%= __("Stopped") %}</span>
			{% } %}
		</div>
	</div>
	<div class="col-xs-1 text-right">
		{% var completed = doc.per_delivered, title = __("Delivered") %}
		{% include "templates/form_grid/includes/progress.html" %}
	</div>
	<div class="col-xs-1 text-right">
		{% var completed = doc.per_billed, title = __("Billed") %}
		{% include "templates/form_grid/includes/progress.html" %}
	</div>
	<div class="col-xs-2 text-right">
		<div class="text-ellipsis" title="{%= doc.get_formatted('grand_total_export') %}">
			{%= doc.get_formatted("grand_total_export") %}
		</div>
	</div>
</div>
