{% extends "app/website/templates/html/page.html" %}

{% block content %}
{% include 'app/website/templates/html/product_search_box.html' %}
{% include 'app/website/templates/html/product_breadcrumbs.html' %}
<div class="col-md-12">
	{% if slideshow %}<!-- slideshow -->
	{% include "app/website/templates/html/slideshow.html" %}
	{% endif %}
	{% if description %}<!-- description -->
	<div>{{ description or ""}}</div>
	{% else %}
	<h3>{{ name }}</h3>
	{% endif %}
</div>
<div class="col-md-12">
	{% if sub_groups %}
	<hr />
	<div class="row">
	{% for d in sub_groups %}
		<div class="col-md-4">
			<a href="{{ d.page_name }}">{{ d.name }} ({{ d.count }})</a>
		</div>
	{% endfor %}
	</div>
	<hr />
	{% endif %}
	{% if items %}
	<div id="search-list" class="row">
		{% for item in items %}
			{{ item }}
		{% endfor %}
	</div>
		{% if len(items)==100 %}
			<div class="alert info">Showing top 100 items.</div>
		{% endif %}
	{% else %}
		<div class="alert">No items listed.</div>
	{% endif %}
</div>

{% endblock %}