{%- from "templates/includes/projects/macros.html" import back_link -%}

{% for task in doc.tasks %}
	<div class='task'>
		<div class='row project-item'>
			<div class='col-xs-9'>
				{% if task.todo %}
				<span class="avatar avatar-small" title="{{ task.todo.owner }}">
					<img src="{{ task.todo.user_image }}">
				</span>
				{% else %}
				<span class="avatar avatar-small avatar-empty"></span>
				{% endif %}
				<a class="no-decoration task-link {{ task.css_seen }}" href="/tasks?name={{ task.name }}{{ back_link(doc) }}">
					{% if task.status == "Closed" %}
					{{ task.subject }} completed on {{ task.closing_date }}
					{% else %}
					{{ task.subject }}
					{% endif %}
				</a>
			</div>
		</div>
	</div>
{% endfor %}