{% for task in doc.tasks %}
	<div class='task'>
		<a class="no-decoration task-link {{ task.css_seen }}" href="/tasks?name={{ task.name }}">
		<div class='row project-item'>
			<div class='col-xs-9'>
				<span class="indicator {{ "red" if task.status=="Open" else "green" if task.status=="Closed" else "darkgrey" }}" title="{{ task.status }}"  > {{ task.subject }}</span> 
	 				<div class="small text-muted item-timestamp"
	 					title="{{ frappe.utils.pretty_date(task.modified) }}">
						{{ _("modified") }} {{ frappe.utils.pretty_date(task.modified) }}
	 				</div>
			</div>
			<div class='col-xs-1'>{% if task.todo %}
					{% if task.todo.user_image %}
						<span class="avatar avatar-small" title="{{ task.todo.owner }}">
							<img src="{{ task.todo.user_image }}">
						</span>
					{% else %}
						<span class="avatar avatar-small standard-image" title="Assigned to {{ task.todo.owner }}">
							
						</span>
					{% endif %}		
				{% endif %}	 </div>
			<div class='col-xs-2'>
				<span class="pull-right list-comment-count small {{ "text-extra-muted" if task.comment_count==0 else "text-muted" }}">
					<i class="octicon octicon-comment-discussion"></i>
						{{ task.comment_count }}
				</span>
			</div>
		</div>
		</a>
	</div>
{% endfor %}
