{%- from "templates/includes/projects/macros.html" import back_link -%}

{% for timelog in doc.timelogs %}
<div class='timelog'>
  <div class='row project-item'>
    <div class='col-xs-1 gravatar-top'>
		<span class="avatar avatar-small" title="{{ timelog.modified_by }}"> <img src="{{ timelog.user_image }}"></span>
	</div> 
		<div class='col-xs-11'>
      	<a class="no-decoration timelog-link {{ timelog.css_seen }}" href="/time-log?name={{ timelog.name}}{{ back_link(doc) }}">
			<div class="timelog-subject">{{ timelog.title }}</div> 
			<span class="item-timestamp">From {{ frappe.format_date(timelog.from_time) }} to {{ 				frappe.format_date(timelog.to_time) }}</span>
		</a>
		<span class="pull-right list-comment-count small {{ "text-extra-muted" if timelog.comment_count==0 else "text-muted" }}">
			<i class="octicon octicon-comment-discussion"></i>
				{{ timelog.comment_count }}
		</span>
    </div>   
  </div>
</div>
{% endfor %}