{% for timeline in doc.timelines %}
<div class='timeline'>
	<div class="row project-item">
		<div class="col-xs-12">
			<span class="avatar avatar-small" title="{{ timeline.modified_by }}"> <img src="{{ timeline.user_image }}"></span>
		<span class='indicator'>
		{{timeline.reference_name}} {{timeline.subject }}
		</span>
		<span class='indicator pull-right'>
		{{ frappe.utils.pretty_date(timeline.creation) }}
		</span>
		</div>
	</div>
</div>
{% endfor %}
<!-- <div class="timeline-centered">
{% for timeline in doc.timelines %}



                        <article class="timeline-entry">

                            <div class="timeline-entry-inner">

                                <div class="timeline-icon bg-warning">
                                    <i class="entypo-camera"></i>
                                </div>

                                <div class="timeline-label">
						   			<span class="avatar avatar-small" title="{{ timeline.modified_by }}"> <img src="{{ timeline.user_image }}"></span>
						   		<span class='indicator'>
						   		{{timeline.reference_name}} {{timeline.subject }}
						   		</span>
						   		<span class='indicator pull-right'>
						   		{{ frappe.utils.pretty_date(timeline.creation) }}
						   		</span>
                                </div>
                            </div>

                        </article>


{% endfor %}
</div> -->