{% extends "templates/web.html" %}

{% block title %}{{ _("Book Appointment") }}{% endblock %}

{% block page_content %}
<div class="container">
    <!-- title: Book an appointment -->
    <div class="text-center mb-5">
        <h3>Book an appointment</h3>
        <h4>Select the date and your timezone</h4>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-4 align-self-center ">
            <form name="myform">
                <input 
                type="date" 
                onchange="ondatechange()"
                name="appointment-date" 
                id="appointment-date" 
                class="form-control mt-3" 
                min="{{ from_date }}" 
                max="{{ to_date }}">
                <select name="appointment-timezone" id="appointment-timezone" class="form-control mt-3">
                    {% if timezones %}
                        {% for timezone in timezones%}
                            <option value="{{timezone.offset}}">{{timezone.timezone_name}}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </form>
            <button class="form-control mt-3 btn btn-dark" id="next-button" onclick="next()">
                Next
            </button>
        </div>
    </div>
</div>

{% endblock %}