{% extends "templates/web.html" %}

{% block title %}{{ _("Book Appointment") }}{% endblock %}

{% block page_content %}
<div class="container">
    
    <div class="text-center mb-5">
        <h3>Add details</h3>
        <h4>Selected date is {{ date }} at {{ time }}</h4>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-4 align-items-center">
                <input class="form-control mt-3" type="text" name="customer_name" id="customer_name" placeholder="Your Name" required>
                <input class="form-control mt-3" type="tel" name="customer_number" id="customer_number" placeholder="Contact Number" required>
                <input class="form-control mt-3" type="text" name="customer_skype" id="customer_skype" placeholder="Skype" required>
                <textarea class="form-control mt-3" name="customer_notes" id="customer_notes" cols="30" rows="10" placeholder="Notes"></textarea>
                <button  class="btn btn-primary form-control mt-3" onclick="submit()">Submit</button>
        </div>
    </div>
</div>
{% endblock %}