.page-header {
	color: white;
	background: #263248;
	text-align: center;
	padding: 80px 0px;
}

.page-header .page-header-left {
	width: 100%;
}

.page-header h1 {
	color: white;
}

.slide h2 {
	margin-bottom: 30px;
}

.slides {
	margin-top: -15px;
}

.slide {
	padding: 30px 40px;
	max-width: 800px;
	margin: auto;
}

.container {
	max-width: 900px;
}

.img-wrapper {
	text-align: center;
	padding: 30px;
	background-color: #eee;
	border-radius: 5px;
	margin-bottom: 15px;
}
