{% if doc.taxes %}
<div class="row tax-net-total-row">
    <div class="col-xs-6 text-right">{{ _("Net Total") }}</div>
    <div class="col-xs-6 text-right">
        {{ doc.get_formatted("net_total") }}</div>
</div>
{% endif %}

{% for d in doc.taxes %}
{% if d.base_tax_amount > 0 %}
<div class="row tax-row">
    <div class="col-xs-6 text-right">{{ d.description }}</div>
    <div class="col-xs-6 text-right">
        {{ d.get_formatted("base_tax_amount") }}
    </div>
</div>
{% endif %}
{% endfor %}

{% if doc.doctype == 'Quotation' %}
<div class="row tax-grand-total-row">
    <div class="col-xs-6 text-right text-uppercase h6 text-muted">{{
        _("Discount") }} </div>
    <div class="txtdis col-xs-6 text-right">
        {%- for row in frappe.get_list(doctype="Currency",
        fields=["symbol"], filters={ "currency_name":doc.currency}) -%}
            <span>{{ row.symbol }}</span>
        {% endfor %}
        {% set tot_quotation_discount = 0.0 %}
        {%- for item in doc.items -%}
            {{ tot_quotation_discount + (((item.price_list_rate * item.qty)
        * item.discount_percentage) / 100) }}
        {% endfor %}
    </div>
</div>
{% endif %}

{% if doc.doctype == 'Sales Order' %}
<div class="row tax-grand-total-row" style="padding-bottom:0px;padding-top:0px;">
    <div class="col-xs-6 text-right text-uppercase h6 text-muted">{{ _("Total Amount") }}</div>
    <div class="col-xs-6 text-right">
        <span class="tax-grand-total bold">
            {%- for row in frappe.get_list(doctype="Currency",
            fields=["symbol"], filters={ "currency_name":doc.currency}) -%}
                <span>{{ row.symbol }}</span>
            {% endfor %}
            {%- set total_amount = 0.0 -%}
            {%- for item in doc.items -%}
                {{ total_amount + (item.price_list_rate * item.qty) }}
            {% endfor %}
        </span>
    </div>
</div>
{% endif %}

{% if doc.doctype == 'Sales Order' %}
<div class="row tax-grand-total-row" style="padding-bottom:0px;padding-top:0px;">
    <div class="col-xs-6 text-right text-uppercase h6 text-muted">{{ _("Discount") }} </div>
    <div class="col-xs-6 text-right">
        <span class="tax-grand-total bold">
            {%- for row in frappe.get_list(doctype="Currency",
            fields=["symbol"], filters={ "currency_name":doc.currency}) -%}
                <span>{{ row.symbol }}</span>
            {% endfor %}
            {% set tot_sale_discount = 0.0 %}
            {%- for item in doc.items -%}
                {{ tot_sale_discount + (((item.price_list_rate * item.qty)
            * item.discount_percentage) / 100) }}
            {% endfor %}
        </span>
    </div>
</div>
{% endif %}

{% if doc.doctype == 'Sales Order' %}
<div class="row tax-grand-total-row" style="padding-bottom:0px;padding-top:0px;">
    <div class="col-xs-6 text-right text-uppercase h6 text-muted" style="margin-bottom:1px";>{{ _("Grand Total") }}</div>
    <div class="col-xs-6 text-right">
        <span class="tax-grand-total bold">
            {{_("{0}").format(doc.get_formatted("grand_total")) }}
        </span>
    </div>
</div>
{% endif %}
<hr></hr>

{% if doc.doctype == 'Sales Order' %}
{% if doc.coupon %}
<div class="row tax-grand-total-row" style="padding-bottom:0px;padding-top:0px;">
    <div class="col-xs-6 text-right text-uppercase h6 text-muted">{{ _("Applied Coupon Code") }} </div>
    <div class="col-xs-6 text-right">
        <span class="tax-grand-total bold">
            {%- for row in frappe.get_list(doctype="Coupon",
            fields=["coupon_code"], filters={ "name":doc.coupon}) -%}
                <span>{{ row.coupon_code }}</span>
            {% endfor %}
        </span>
    </div>
</div>
{% endif %}
{% endif %}
