{% if doc.taxes %}
<div class="row tax-net-total-row">
    <div class="col-xs-8 text-right">{{ _("Net Total") }}</div>
    <div class="col-xs-4 text-right">
        {{ doc.get_formatted("net_total") }}</div>
</div>
{% endif %}
{% for d in doc.taxes %}
<div class="row tax-row">
    <div class="col-xs-8 text-right">{{ d.description }}</div>
    <div class="col-xs-4 text-right">
        {{ d.get_formatted("base_tax_amount") }}</div>
</div>
{% endfor %}
<div class="row tax-grand-total-row">
    <div class="col-xs-8 text-right text-uppercase h6 text-muted">{{ _("Grand Total") }}</div>
    <div class="col-xs-4 text-right">
        <span class="tax-grand-total bold">
            {{ doc.get_formatted("grand_total") }}
        </span>
    </div>
</div>
