.order-container {
	margin: 50px 0px;
}

.order-items {
	margin: 20px 0px;
}

.order-item-table {
	margin: 0px -15px;
}

.order-item-header {
	border-bottom: 1px solid #d1d8dd;
}

.order-image-col {
	padding-right: 0px;
}

.order-image {
	max-width: 55px;
	max-height: 55px;
	margin-top: -5px;
}
