{#
	this template generates comment rows for a blog
	it is to be included in the blog/blog.html template
#}

<div itemscope itemtype="http://schema.org/UserComments">
	{% for comment in comment_list %}
	<div class="comment-row">
		<div class="comment-title">
			<span itemprop="name" class="author">{{ comment.comment_by_fullname }}</span> / 
				<span itemprop="commentTime">{{ comment.comment_date }}</span>:
		</div>
		<p class="comment-content" itemprop="commentText">{{ comment.comment }}</p>
		<hr>
	</div>
	{% endfor %}
</div>