<footer class="container">
	<div class="web-footer row">
	<div class="col-md-12">
		{% if facebook_share or google_plus_one or twitter_share or linked_in_share %}
		<div class="social-icons" style="">
			<span style="font-size: 11px;">{{ share_text or "Share this page on: "}}</span>
			{% if google_plus_one %}
				<a href="https://plus.google.com/share?url={{ url }}"
				 	target="_blank"><i class="icon-google-plus"></i></a>
			{% endif %}
			{% if twitter_share %}
				<a href="https://twitter.com/intent/tweet?url={{ url }}&text={{ encoded_title }}"
					target="_blank" ><i class="icon-twitter"></i></a>
			{% endif %}
			{% if facebook_share %}
				<a href="https://www.facebook.com/sharer.php?u={{ url }}&t={{ encoded_title }}&via={{ twitter_share_via }}"
					target="_blank"><i class="icon-facebook"></i></a>
			{% endif %}
			{% if linked_in_share %}
				<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ url }}&title={{ encoded_title }}"
					target="_blank"><i class="icon-linkedin"></i></a>
			{% endif %}
		</div>
		{% endif %}
		<p style="float: right; clear: right;">
			<a style="font-size: 90%; color: #888;" href="http://erpnext.org">ERPNext Powered</a>
		</p>
		<div class="web-footer-menu">
			<ul>
				{% for item in footer_items %}
				<li><a href="{{ item.url }}" {{ item.target }}
					data-label="{{ item.label }}">{{ item.label }}</a></li>
				{% endfor %}
			</ul>
		</div>
		{% if copyright %}
		<div class="web-footer-copyright">&copy; {{ copyright }}</div>
		{% endif %}
		{% if address %}
		{{ address }}
		{% endif %}
		<br>
		<div class="input-group col-md-6 col-md-offset-3">
			<input class="form-control" type="text" id="footer-subscribe-email" placeholder="Your email address...">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" id="footer-subscribe-button">Stay Updated</button>
			</span>
		</div>
		<br>
		<script>
			$("#footer-subscribe-button").click(function() {

				$("#footer-subscribe-email").attr('disabled', true);
				$("#footer-subscribe-button").html("Sending...")
					.attr("disabled", true);

				if($("#footer-subscribe-email").val()) {
					erpnext.send_message({
						subject:"Subscribe me",
						sender: $("#footer-subscribe-email").val(),
						message: "Subscribe to newsletter (via website footer).",
						callback: function(r) {
							if(!r.exc) {
								$("#footer-subscribe-button").html("Thank You :)")
									.addClass("btn-success").attr("disabled", true);
							} else {
								$("#footer-subscribe-button").html("Error :( Not a valid id?")
									.addClass("btn-danger").attr("disabled", false);
								$("#footer-subscribe-email").val("").attr('disabled', false);
							}
						}
					});
				}
			});
		</script>
		</div>
	</div>
	</div>
</footer>
