{% extends "lib/templates/base.html" %}

{% block body %}
	<div class="container">
		<div class="pull-right" style="margin:4px;" id="user-tools">
			<a id="login-link" href="login">Login</a>
		</div>
		<div class="clearfix"></div>
		{% if banner_html %}<div class="row" style="margin-top: 30px;">
			<div class="span12">{{ banner_html }}</div>
		</div>{% endif %}
		<div class="outer">
			{% include "app/website/templates/html/navbar.html" %}
			<div class="content row" id="page-{{ name }}" style="display: block;">
			{%- block content -%}
			{%- endblock -%}
			</div>
		</div>
	</div>
	{% include "app/website/templates/html/footer.html" %}

{% endblock %}