{% extends "lib/templates/base.html" %}

{% block body %}
	<div class="container">
		<div class="pull-right" style="margin:4px;" id="user-tools">
			{% if shopping_cart_enabled -%}
			<a href="cart" title="Shopping Cart"><i class="icon-shopping-cart"></i> 
				<span class="cart-count"></span></a> |
			{%- endif %}
			<a id="login-link" href="login">Login</a>
		</div>
		<div class="pull-right hide" style="margin:4px;" id="user-tools-post-login">
			<a href="profile" title="My Profile" id="user-full-name"></a> |
			<a href="account" title="My Account">My Account</a> |
			{% if shopping_cart_enabled -%}
			<a href="cart" title="Shopping Cart"><i class="icon-shopping-cart"></i> 
				<span class="cart-count"></span></a> |
			{%- endif %}
			<a href="server.py?cmd=web_logout" title="Sign Out"><i class="icon-signout"></i></a>
		</div>
		<div class="clearfix"></div>
		{% if banner_html %}<div class="row banner">
			<div class="col-md-12">{{ banner_html }}</div>
		</div>{% endif %}
		<div class="outer">
			{% include "app/website/templates/html/navbar.html" %}
			<div class="content row" id="page-{{ name }}" style="display: block;">
			{%- block content -%}
			{%- endblock -%}
			</div>
		</div>
	</div>
	{% include "app/website/templates/html/footer.html" %}

{% endblock %}