{% extends "html/page.html" %}

{% block javascript %}
	{% include "js/product_page.js" %}
{% endblock %}

{% block css %}
	{% include "css/product_page.css" %}
{% endblock %}

{% block title %}
	{% if item_name != name %}
		{{ item_name }} [{{ name }}]
	{% else %}
		{{ item_name or name }}
	{% endif %}
{% endblock %}

{% block content %}
	<div class="layout-wrapper layout-wrapper-background">
		<div class="web-content" id="content-product-{{ name }}">
			<div class="layout-main" style="padding: 30px;">
				{% include 'html/product_search_box.html' %}
				{% include 'html/product_breadcrumbs.html' %}
				<h3 itemprop="name">{{ item_name }}</h3>
				<p class="help">Item Code: {{ name }}</p>
				<div class="product-page-content" 
					itemscope itemtype="http://schema.org/Product">
					{% if slideshow %}
						{% include "html/slideshow.html" %}
					{% else %}
					<div class="span6">
						{% if website_image %}
						<image itemprop="image" class="item-main-image" 
							src="{{ website_image }}" />
						{% else %}
						<div class="img-area">
							{% include 'html/product_missing_image.html' %}
						</div>
						{% endif %}
					</div>
					{% endif %}
					<br><br>
					<div class="span3">
						<div class="item-price hide">
							<p>Price:</p>
						</div>
						<div class="item-stock"></div>
					</div>
					<div class="clearfix"></div>
					<div class="span9">
						<h3>Product Description</h3>
						<div itemprop="description">
						{{ web_long_description or web_short_description or 
							"[No description given]" }}
						</div>
						<hr>
						{% if obj.doclist.get({"doctype":"Item Website Specification"}) %}
							<h3>Specifications</h3>
							<table class="table table-striped table-bordered" style="width: 100%">
							{% for d in obj.doclist.get(
								{"doctype":"Item Website Specification"}) %}
								<tr>
									<td style="width: 30%;">{{ d.label }}</td>
									<td>{{ d.description }}</td>
								</tr>
							{% endfor %}
							</table>
						{% endif %}
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}