<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<head>
	<meta charset="utf-8">
	<title>ERPNext</title>
	<meta name="author" content="">
	<script type="text/javascript">{{ boot }}</script>
</head>
<body>
	<div id="dialog_back"></div>

	<div id="startup_div" style="padding: 8px; font-size: 14px;"></div>

	<!-- Main Starts -->
	<div id="body_div"> 

		<!--static (no script) content-->
		<div class="no_script">
			{{ content }}
		</div>
	</div>
	<script>wn.require('js/app.js');</script>
</body>