<footer class="bg-dark pt-4">
	<div class="container">
    <div class="row mt-4 mb-5">
		<div class='col-sm-12 col-md-6 mb-4' style='display: flex; flex-direction: column; justify-content: space-between;'>
			<img src="/assets/academy/img/graduation-cap.svg"
				style='height: 50px; width: 50px;'>
		    <div class="text-muted">
		        <div style="line-height: 2">
		            &copy;<span id="year"></span> Frappe Technologies Pvt. Ltd.
				</div>
		    </div>
		</div>
        <div class="col-xs-12 col-sm-6 col-md-3">
			<h6 class='text-light'>Social</h6>
            <ul class="list-unstyled">
                <li class="py-2">
                    <a href="https://frappe.io/blog" class="text-muted">Blog</a>
                </li>
                <li class="py-2">
                    <a href="https://discuss.erpnext.com" class="text-muted">Forum</a>
                </li>
                <li class="py-2">
                    <a href="https://github.com/frappe" class="text-muted">GitHub</a>
                </li>
                <li class="py-2">
                    <a href="https://twitter.com/erpnext" class="text-muted">Twitter</a>
                </li>
                <li class="py-2">
                    <a href="https://medium.com/frapp%C3%A9-thoughts" class="text-muted">Medium</a>
                </li>
                <li class="py-2">
                    <a href="https://www.facebook.com/ERPNext" class="text-muted">Facebook</a>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
			<h6 class='text-light'>Company</h6>
            <ul class="list-unstyled">
                <li class="py-2">
                    <a href="https://erpnext.com" class="text-muted">ERPNext</a>
                </li>
                <li class="py-2">
                    <a href="https://frappe.io/about" class="text-muted">Team</a>
                </li>
                <li class="py-2">
                    <a href="https://frappe.io/about" class="text-muted">Jobs</a>
                </li>
                <li class="py-2">
                    <a href="https://frappe.io/about#contact" class="text-muted">Contact</a>
                </li>
            </ul>
        </div>
    </div>

	<div class='mt-4 text-muted text-center'>"Be the change, you wish to see in the world ~ M. K. Gandhi"

	</div>
</footer>
<!--Javascript-->