<div class="pos">
    <div class="row">
    	<div class="col-sm-6 pos-bill-wrapper">
            <div class="pos-bill-toolbar" style="display: flex;">
                <div class="party-area" style="flex: 1;"></div>
				<button class="btn btn-default list-customers-btn" style="margin: 0 5px 0 15px;">
					<i class="fa fa-list"></i>
				</button>
				<button class="btn btn-default add-customer-btn">
					<i class="fa fa-plus"></i>
				</button>
				{% if (allow_delete) { %}
					<button class="btn btn-default btn-danger" style="margin: 0 5px 0 5px;display:none">
						<i class="octicon octicon-trashcan"></i>
					</button>
				{% } %}
            </div>
    		<div class="pos-bill">
    			<div class="item-cart">
                    <!-- <div class="row pos-bill-row pos-bill-header">
                        <div class="col-xs-4"><h6>{%= __("Item") %}</h6></div>
                        <div class="col-xs-3"><h6 class="text-right">{%= __("Quantity") %}</h6></div>
						<div class="col-xs-2"><h6 class="text-right">{%= __("Discount") %}</h6></div>
                        <div class="col-xs-3"><h6 class="text-right">{%= __("Rate") %}</h6></div>
                    </div> -->
                    <div class="items"></div>
    			</div>
    			<div class="totals-area">
                    <div class="row pos-bill-row net-total-area">
                        <div class="col-xs-6"><h6 class="text-muted">{%= __("Net Total") %}</h6></div>
                        <div class="col-xs-6"><h6 class="net-total text-right"></h6></div>
                    </div>
                    <div class="row pos-bill-row tax-area hide">
						<div class="col-xs-12 text-muted">
	                        <h6>{%= __("Taxes") %}</h6>
							<div class="tax-table small"></div>
						</div>
                    </div>
					{% if (apply_discount_on) { %}
	                    <div class="row pos-bill-row discount-amount-area">
	                        <div class="col-xs-6"><h6 class="text-muted">{%= __("Discount") %}</h6></div>
							<div class="col-xs-3 discount-field-col">
								<div class="input-group input-group-sm">
									<span class="input-group-addon">%</span>
									<input type="text" class="form-control discount-percentage text-right">
								</div>
							</div>
	                        <div class="col-xs-3 discount-field-col">
								<div class="input-group input-group-sm">
									<span class="input-group-addon">{%= get_currency_symbol(currency) %}</span>
									<input type="text" class="form-control discount-amount text-right"
								  		placeholder="{%= 0.00 %}">
								</div>
							</div>
	                    </div>
					{% } %} 
                    <div class="row pos-bill-row grand-total-area" style="border-bottom:1px solid #d1d8dd;">
                        <div class="col-xs-6"><h6>{%= __("Grand Total") %}</h6></div>
                        <div class="col-xs-6"><h6 class="grand-total text-right"></h6></div>
                    </div>
    			</div>
    		</div>
			
			<div class="list-customers" style = "display:none">

			</div>
			<div class="row">
				<div class="col-xs-5 selected-item">
					
		        </div>
				<div class="col-xs-7 numeric_keypad" style="display:none">
					{% var chartData = ["Qty", "Disc", "Price"] %}
					{% for(var i=0; i<3; i++) { %}
						<div class="row text-right">
							{% for(var j=i*3; j<(i+1)*3; j++) { %}
								<button type="button"  class="btn btn-default pos-keyboard-key">{{j+1}}</button>
							{% } %}
							<button type="button" class="btn text-center btn-default pos-keyboard-key">{{ chartData[i] }}</button>
						</div>
					{% } %}
					<div class="row text-right">
						<button type="button"  class="btn btn-default delete-btn">Del</button>
						<button type="button"  class="btn btn-default pos-keyboard-key">0</button>
						<button type="button"  class="btn btn-default pos-keyboard-key">.</button>
						<button type="button" class="btn btn-primary pos-pay">Pay</button>
					</div>
		        </div>
			</div>
    	</div>
    	<div class="col-sm-6 pos-items-section">
			<div class="row pos-item-area">

			</div>
			<span id="customer-results" style="color:#68a;"></span>
            <div class="row pos-item-toolbar">
				<div class="search-item-group col-xs-5"></div>
				<div class="search-item col-xs-7"></div>
            </div>
    		<div class="item-list-area" style="auto">
				<div class="app-listing item-list"></ul>
    		</div>
    	</div>
		<!-- <div class="row">
			<div class="text-right list-paging-area">
				<button class="btn btn-default btn-more btn-sm" style="margin:5px 20px">{{ __("More") }}</button>
			</div>
		</div> -->
    </div>
</div>
