<div class="pos-item-wrapper col-xs-3">
	<div class="pos-item" data-item-code="{%= item_code %}" title="{%= item_name || item_code %}">
		<div class="pos-item-image"
			 style="{% if (item_image) { %} background-image: {{ item_image }} {% }
			 	else { %} background-color: {{ color }} {% } %}">
			{% if (!item_image) { %}{{ abbr }}{% } %}
		</div>
		<div class="pos-item-text">
			<h6 class="item-code text-ellipsis">{%= item_name ? (item_name + " (" + item_code + ")") : item_code %}</h6>
			<div class="small text-ellipsis">{%= item_price %}</div>
		</div>
	</div>
</div>