{%- macro add_header(page_num, max_pages, doc, letter_head, no_letterhead, footer, print_settings=None,
print_heading_template=None) -%}
{% if letter_head and not no_letterhead %}
	<div class="letter-head">{{ letter_head }}</div>
{% endif %}
{% if print_heading_template %}
	{{ frappe.render_template(print_heading_template, {"doc":doc}) }}
{% endif %}
{%- endmacro -%}
{% for page in layout %}
<div class="page-break invoice-page">
	<div {% if print_settings.repeat_header_footer %} id="header-html" class="hidden-pdf" {% endif %}>
		{{ add_header(loop.index, layout|len, doc, letter_head, no_letterhead, footer, print_settings) }}
	</div>

	<style>
		.letter-head {
			padding-top: 12px !important;
			padding-bottom: 12px !important;
		}
		.invoice-page {
			font-family: Inter, sans-serif;
			color: #171717;
		}

		.print-format-body {
			padding: 30px 12px 12px 12px !important;
		}

		.title {
			color: #7c7c7c !important;
		}
		.text-muted {
			color: #7c7c7c !important;
		}
		.text-dark {
			color: #171717 !important;
		}
		.small-text {
			font-size: 11px;
			color: #666;
		}

		.text-left {
			text-align: left;
		}
		.text-center {
			text-align: center;
		}
		.text-right {
			text-align: right;
		}
		.text-bold {
			font-weight: 700;
		}

		.mt-15 {
			margin-top: 15px;
		}
		.mt-16 {
			margin-top: 16px;
		}
		.mt-40 {
			margin-top: 40px;
		}
		.mw-400 {
			max-width: 400px;
		}

		.items-table,
		.tax-table {
			width: 100%;
			border-collapse: separate;
			border-spacing: 0;
			border-radius: 10px;
			overflow: hidden;
		}

		.items-table td,
		.tax-table td {
			border-bottom: 1px solid #ededed;
			padding: 8px;
		}

		.items-table thead td,
		.tax-table thead td {
			color: #7c7c7c !important;
		}
		.items-table thead tr:first-of-type td,
		.tax-table thead tr:first-of-type td {
			border-bottom: none;
		}

		.items-table thead tr:first-child td:first-child,
		.tax-table thead tr:first-child td:first-child {
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
		}
		.items-table thead tr:first-child td:last-child,
		.tax-table thead tr:first-child td:last-child {
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
		}

		.in-words {
			color: #171717 !important;
			max-width: 400px;
			word-wrap: break-word;
			line-height: 1.5;
			font-size: 12px;
		}

		.row-divider {
			border-bottom: 1px solid #e9e9e9;
		}

		.highlight-bg {
			background: #f8f8f8;
		}

		.info-card {
			margin-top: 40px;
			color: #7c7c7c;
		}

		.info-text {
			margin-bottom: 12px;
		}

		.print-format {
			color: #171717;
			font-size: 14px;
			font-style: normal;
			font-weight: 420;
			line-height: 21px;
			padding: 0px !important;
			margin-left: 0mm !important;
			margin-right: 0mm !important;
		}

		.letter-head-footer {
			margin-top: 0px !important;
		}

		.print-format-body td {
			padding: 8px 8px !important;
		}

		.tax-table td,
		.items-table td {
			height: auto !important;
		}

		.tax-table thead td,
		.items-table thead td {
			height: 32px;
		}

		.item-img td {
			border: none !important;
			padding: 0px !important;
		}
	</style>

	<div class="print-format-body">
		<table class="info-table col-xs-12" style="width: 100%; margin-left: 12px">
			<tr>
				<td class="col-xs-6" style="padding: 0 !important">
					<div class="title col-xs-5 p-0">
						<div class="info-text">Customer Name:</div>
						<div class="info-text">Bill to:</div>
					</div>
					<div class="col-xs-7">
						<div class="info-text">{{ doc.customer_name }}</div>
						<div class="info-text">{{ doc.address_display or "" }}</div>
					</div>
				</td>

				<td class="col-xs-6" style="padding: 0 !important">
					<div class="title col-xs-5 p-0">
						<div class="info-text">Invoice Number:</div>
					</div>
					<div class="col-xs-7">
						<div class="info-text">{{ doc.name }}</div>
					</div>
					<div class="title col-xs-5 p-0">
						<div class="info-text">Invoice Date:</div>
					</div>
					<div class="col-xs-7">
						<div class="info-text">{{ frappe.utils.format_date(doc.posting_date) }}</div>
					</div>
					<div class="title col-xs-5 p-0">
						<div class="info-text">Payment Due Date:</div>
					</div>
					<div class="col-xs-7">
						<div class="info-text">{{ frappe.utils.format_date(doc.due_date) }}</div>
					</div>
				</td>
			</tr>
		</table>

		<!-- Items Table -->
		<table class="items-table mt-15">
			<colgroup>
				<col style="width: 5%" />
				<col style="width: 35%" />
				<col style="width: 10%" />
				<col style="width: 20%" />
				<col style="width: 15%" />
			</colgroup>
			<thead class="highlight-bg">
				<tr>
					<td class="text-center">{{ _("No") }}</td>
					<td class="text-left">{{ _("Item") }}</td>
					<td class="text-right">{{ _("Quantity") }}</td>
					<td class="text-right">{{ _("Rate") }}</td>
					<td class="text-right">{{ _("Amount") }}</td>
				</tr>
			</thead>
			<tbody>
				{% for item in doc.items %}
				<tr>
					<td class="text-center">{{ loop.index }}</td>
					<td class="text-left">
						<table class="item-img" style="border-collapse: collapse">
							<tr>
								{% if item.image %}
								<td class="no-style" style="border-radius: 6px; vertical-align: middle">
									<img
										src="{{ item.image }}"
										alt="{{ item.item_name }}"
										style="
											border-radius: 6px;
											max-height: 24px;
											min-height: 24px;
											max-width: 24px;
											min-width: 24px;
											margin-right: 8px;
                                            vertical-align: middle;
										"
									/>
								</td>
								{% endif %}
								<td
									class="no-style"
									style="vertical-align: middle !important; padding: 0 !important"
								>
									{{ item.item_name }}
								</td>
							</tr>
						</table>
					</td>

					<td class="text-right">{{ item.get_formatted("qty", 0) }} {{ item.uom }}</td>
					<td class="text-right">{{ item.get_formatted("net_rate", doc) }}</td>
					<td class="text-right">{{ item.get_formatted("net_amount", doc) }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="test" style="float: right; margin-top: 15px; margin-bottom: 5px;">
			<table style="width: 100%; border-collapse: collapse">
				<tr class="row-divider">
					<td class="text-right text-muted" style="padding-right: 30px !important;">{{ _("Sub Total:") }}</td>
					<td class="text-right">{{ doc.get_formatted("total", doc) }}</td>
				</tr>

				{%- if doc.apply_discount_on == "Net Total" -%}
					<tr class="row-divider">
						<td class="text-right text-muted" style="padding-right: 30px !important;">
							{{ _("Discount") }} ({{ doc.additional_discount_percentage }}%):
						</td>
						<td class="text-right">{{ doc.get_formatted("discount_amount", doc) }}</td>
					</tr>
				{%- endif -%}
				{%- for tax in doc.taxes -%}
					{%- if (tax.tax_amount or print_settings.print_taxes_with_zero_amount) and (not tax.included_in_print_rate or doc.flags.show_inclusive_tax_in_print) -%}
						<tr class="row-divider">
							<td class="text-right text-muted" style="padding-right: 30px !important;">{{ tax.get_formatted("description") }} ({{ tax.get_formatted("rate") }}%):</td>
							<td class="text-right">{{ tax.get_formatted("tax_amount") }}</td>
						</tr>
					{%- endif -%}
				{%- endfor -%}
				{%- if doc.apply_discount_on == "Grand Total" -%}
					<tr class="row-divider">
						<td class="text-right text-muted" style="padding-right: 30px !important;">
							{{ _("Discount") }} ({{ doc.additional_discount_percentage }}%):
						</td>
						<td class="text-right">{{ doc.get_formatted("discount_amount", doc) }}</td>
					</tr>
				{%- endif -%}
			</table>
		</div>

		<div style="border-bottom: 1px solid #ededed;">
			<table class="highlight-bg" style="width: 100%; border-collapse: collapse; border-radius: 12px; margin-bottom: 10px;">
				<tr>
					<td class="text-left mw-400">
						<div class="text-capitalize">
							<span class="title"> {{ _("In Words: ") }}</span>{{ doc.in_words }}
						</div>
					</td>
					<td class="text-right"><b>{{ _("Grand Total:") }}</b></td>
					<td class="text-right">
						<span style="font-weight: 700">
							{{ doc.get_formatted("grand_total", doc) }}
						</span>
					</td>
				</tr>
			</table>
		</div>


		<!-- Terms -->
		{% if doc.terms %}
		<div class="info-card">
			<div class="title">{{ _("Terms and Conditions") }}</div>
			{{ doc.terms}}
		</div>
		{% endif %}
	</div>
</div>
{% endfor %}
