
{% if not jQuery.isEmptyObject(data) %}
<table class="table table-bordered small">
	<thead>
		<tr>
			<th style="width: 16%">{{ __("Leave Type") }}</th>
			<th style="width: 16%" class="text-right">{{ __("Total Allocated Leave(s)") }}</th>
			<!-- <th style="width: 16%" class="text-right">{{ __("Expired Leave(s)") }}</th> -->
			<th style="width: 16%" class="text-right">{{ __("Used Leave(s)") }}</th>
			<th style="width: 16%" class="text-right">{{ __("Available Leave(s)") }}</th>
			<th style="width: 16%" class="text-right">{{ __("Leave(s) Pending Approval") }}</th>
			<th style="width: 16%" class="text-right">{{ __("Projected Available Leave(s)") }}</th> <!-- New column header -->
		</tr>
	</thead>
	<tbody>
		{% for(const [key, value] of Object.entries(data)) { %}
			<tr>
				<td> {%= key %} </td>
				<td class="text-right"> {%= value["total_leaves"] %} </td>
				<!-- <td class="text-right"> {%= value["expired_leaves"] %} </td> -->
				<td class="text-right"> {%= value["leaves_taken"] %} </td>
				<td class="text-right"> {%= value["remaining_leaves"] %} </td>
				<td class="text-right"> {%= value["leaves_pending_approval"] %} </td>
				<td class="text-right"> {%= value["remaining_leaves"] - value["leaves_pending_approval"] %} </td> 
			</tr>
		{% } %}
	</tbody>
</table>

<table class="table table-bordered small">
	<thead>
		<tr>
			<th style="width: 20%" class="text-right">{{ __("Opening balance") }}</th>
			<th style="width: 20%">{{ __("Monthly leave Add") }}</th>
			<th style="width: 20%" class="text-right">{{ __("Applied Leave") }}</th>
			<th style="width: 20%" class="text-right">{{ __("Total balance Leave") }}</th>
		</tr>
	</thead>
	<tbody>
		
		<tr>
			<td class="text-right"> {{ balance - 2.5}} </td>
			<td class="text-right"> {{ allocation_value }} </td>
			<td class="text-right"> {{ total_now_taken_leave_positive }} </td>
			<td class="text-right"> {{total_available }} </td>
		</tr>
	</tbody>
</table>
{% else %}
<p style="margin-top: 30px;"> No Leave has been allocated. </p>
{% endif %}

