<div style="padding: 15px;">
	<div class="row mb-5">
		<div class="col-md-5" style="max-height: 500px">
			{% if data.image %}
				<div class="border image-field " style="overflow: hidden;border-color:#e6e6e6">
					<img class="responsive" src={{ data.image }}>
				</div>
			{% endif %}
		</div>
		<div class="col-md-7 h-500">
			<h4>
				{{ __("Description") }}
			</h4>
			<div style="padding-top: 10px;">
				{{ data.description }}
			</div>
			<hr style="margin: 15px -15px;">
			<p>
				{% if data.value %}
				<a style="margin-right: 7px; margin-bottom: 7px" class="btn btn-default btn-xs" href="#Form/BOM/{{ data.value }}">
					{{ __("Open BOM {0}", [data.value.bold()]) }}</a>
				{% endif %}
				{% if data.item_code %}
				<a class="btn btn-default btn-xs" href="#Form/Item/{{ data.item_code }}">
					{{ __("Open Item {0}", [data.item_code.bold()]) }}</a>
				{% endif %}
			</p>
		</div>
	</div>
	<hr style="margin: 15px -15px;">
	<p>
		{% if data.value %}
		<a style="margin-right: 7px; margin-bottom: 7px" class="btn btn-default btn-xs" href="/app/Form/BOM/{{ data.value }}">
			{{ __("Open BOM {0}", [data.value.bold()]) }}</a>
		{% endif %}
		{% if data.item_code %}
		<a class="btn btn-default btn-xs" href="/app/Form/Item/{{ data.item_code }}">
			{{ __("Open Item {0}", [data.item_code.bold()]) }}</a>
		{% endif %}
	</p>
</div>
