/**** CALENDAR ****/

.cal_event {
	text-overflow: ellipsis; 
	white-space: nowrap; 
	overflow: hidden;
	margin-bottom: 3px;
}

div.cal_body {
	margin: 16px;
	background-color: #DDD;
	position: relative;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 16px;
	-moz-box-shadow: 1px 1px 8px #555;
	-webkit-box-shadow: 1px 1px 8px #555;
	box-shadow: 1px 1px 8px #555;
}

div.cal_body h4 {
	text-align: center;
}

div.cal_head {
	margin: 16px;
	margin-bottom: 0px;
}
div.cal_head div {
	font-size: 18px;
	color: #666;
	padding-top: 8px;
}

div.cal_toolbar {
	width: 80%;
}

div.cal_toolbar .btn {
	text-align: center;
	margin: 0px;
	margin-left: -1px;
}

div.cal_view_body {
}

div.cal_view_body_plain {
	margin: 16px;
}

div.cal_month_head {
	margin: 8px 0px 8px 0px;
	height: 30px;
}

div.cal_month_head .btn {
	float: right;
}

span.cal_view_title {
	display: inline-block;
	font-size: 20px;
}

div.cal_month_body {
}

.cal_month_headtable {
	table-layout:fixed;
	width: 100%;
}

.cal_month_name {
	width: 100%;
	color: #888;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.cal_month_headtable tr td{
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	padding: 4px;
}

table.cal_month_table {
	border-collapse: collapse;
	table-layout:fixed;
	width: 100%;
}

table.cal_month_table td {
	width: 14.29%;
	height: 20%;
	/*overflow:hidden;*/
	padding:0px;
}

div.cal_month_date {
	width:100%;
	font-size: 10px;
	/*background-color: #EEF;*/
}

div.cal_month_date_holiday {
	/*background-color: #FFF;*/
}

div.cal_month_unit {
	width:100%;
	min-height: 100px;
	overflow:hidden;
	cursor:pointer;
	/*background-color:#FFF;*/
}
	
div.cal_vu_disabled {
	background-color:#FFF;
	cursor:default;
}

table.cal_day_table {
	border-collapse: collapse;
	width: 100%;
}

table.cal_day_table td {
}

div.cal_day_body {
	width: 100%;
	overflow-x: hidden;
	border-top: 1px solid #AAA;
}

div.cal_day_unit{
	width:100%;
	cursor:pointer;
}

table.cal_week_table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}

table.cal_week_table td {
	width: 12.5%;
}

div.cal_week_body {
	width: 100%;
	overflow-x: hidden;
	border-top: 1px solid #888;
}

div.cal_week_unit{
	width: 100%;
	cursor:pointer;
}
