
.comm-content {
	border-top: 1px solid #ddd; 
	padding: 10px;
	display: none;
}

.support-ticket-wrapper {
	margin-top: 10px;
}

.support-ticket-title {
	padding: 5px;
	border-bottom: 1px solid black;
}
