{% extends "app/website/templates/html/page.html" %}

{% set title="My Account" %}

{% block content %}
<div class="col-md-12">
    <ul class="breadcrumb">
    	<li><a href="index">Home</a></li>
    	<li class="active">My Account</li>
    </ul>
	<h3>My Account</h3>
	<p><a href="profile"><i class="icon-user icon-fixed-width"></i> Change my name, password</a></p>
	<p><a href="addresses"><i class="icon-map-marker icon-fixed-width"></i> My Addresses</a></p>
	<p><a href="orders"><i class="icon-list icon-fixed-width"></i> My Orders</a></p>
	<p><a href="tickets"><i class="icon-tags icon-fixed-width"></i> My Tickets</a></p>
	<p><a href="server.py?cmd=web_logout"><i class="icon-signout icon-fixed-width"></i> Logout</a></p>
	</ul>
</div>
{% endblock %}