{% extends "html/outer.html" %}

{% block header %}
<style>
.layout-attributions td:first-child {
	width: 30%;
}
</style>
{% endblock %}

{% set title="ERPNext - Web Based, Open Source ERP" %}

{% block content %}
<div class="layout-attributions span12">
	<h3>This website is made using these Awesome Open Source Projects <i class="icon-heart" style="color: red"></i></h3>
	<hr>
	<table class="table table-bordered table-striped">
		<tbody>
		<tr>
			<td><a href="https://github.com/webnotes/erpnext">ERPNext</a></td>
			<td>Web based, Open Source ERP. <br>
				Get top class hosting and support at <a href="https://erpnext.com">ERPNext.com</a></td>
		</tr>
		<tr>
			<td><a href="https://github.com/webnotes/wnframework">wnframework</a></td>
			<td>The full stack Python + Javascript web application framework on which ERPNext is built.</td>
		</tr>
		<tr>
			<td><a href="http://en.wikipedia.org/wiki/Linux">Linux Operating System</a></td>
			<td>The operating system that brought a revolution in Open Source software.</td>
		</tr>
		<tr>
			<td><a href="http://www.mysql.com/">MySQL Database</a></td>
			<td>The world's most popular Open Source Database.</td>
		</tr>
		<tr>
			<td><a href="http://httpd.apache.org">Apache HTTPD web server</a></td>
			<td>The Number One HTTP Server On The Internet.</td>
		</tr>
		<tr>
			<td><a href="http://python.org/">Python Programming Language</a></td>
			<td>The "batteries included" language that lets you write elegant code, quickly.<br><br>Python Libraries:
			<ul>
				<li>MySQLdb
				<li>pytz
				<li>jinja2
				<li>markdown2
				<li>dateutil
				<li>termcolor
				<li>python-memcached
			</ul>
			</td>
		</tr>
		<tr>
			<td><a href="http://git-scm.com/">Git - Source Code Management</a></td>
			<td>Git is a free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency.<br><br>
				Kindly hosted on the web by <a href="https://github.com">GitHub</a>: The service that makes it easier for individuals and teams to write better code, faster. </td>
		</tr>
		<tr>
			<td><a href="http://jquery.com/">JQuery Javascript Libary</a></td>
			<td>The write less, do more Javascript Library.</td>
		</tr>
		<tr>
			<td><a href="http://jqueryui.com/">JQuery UI - User Interface Library</a></td>
			<td>A curated set of user interface interactions, effects, widgets, and themes built on top of the jQuery JavaScript Library.</td>
		</tr>
		<tr>
			<td><a href="http://twitter.github.com/bootstrap/index.html">Bootstrap CSS Framework</a></td>
			<td>Sleek, intuitive, and powerful front-end framework for faster and easier web development.</td>
		</tr>
		<tr>
			<td><a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome - Icons</a></td>
			<td>The iconic font designed for use with Twitter Bootstrap.</td>
		</tr>
		<tr>
			<td><a href="http://www.tinymce.com/">TinyMCE Rich Text Editor</a></td>
			<td>TinyMCE is a platform independent web based Javascript HTML WYSIWYG editor control released as Open Source under LGPL by Moxiecode Systems AB.</td>
		</tr>
		<tr>
			<td><a href="https://github.com/mleibman/SlickGrid">SlickGrid</a></td>
			<td>A lightning fast JavaScript grid/spreadsheet.</td>
		</tr>		
		<tr>
			<td><a href="http://www.flotcharts.org/">Flot Charting Library</a></td>
			<td>Attractive JavaScript plotting for jQuery.</td>
		</tr>		
		<tr>
			<td><a href="http://ace.ajax.org/">Ace Code Editor</a></td>
			<td>High Performance Code Editor for the web.</td>
		</tr>
		<tr>
			<td><a href="http://taitems.github.com/jQuery.Gantt/">JQuery.Gantt - Gantt Charts</a></td>
			<td>Draw Gantt charts with the famous jQuery ease of development.</td>
		</tr>
		<tr>
			<td><a href="http://jscolor.com/">JSColor - Color Picker</a></td>
			<td>HTML/Javascript Color Picker.</td>
		</tr>
		<tr>
			<td><a href="https://github.com/dcneiner/Downloadify">Downloadify - Flash Download Widget</a></td>
			<td>A tiny javascript + Flash library that enables the creation and download of text files without server interaction.</td>
		</tr>				
		</tbody>
	</table>

	<p class="alert">Note: A link to this page must be easily accessible.</p>
</div>
{% endblock %}