{% extends "html/page.html" %}

{% block javascript %}
	{% include "js/blog.js" %}
{% endblock %}

{% block css %}
	{% include "css/blog.css" %}
{% endblock %}

{% set title="Blog" %}

{% block content %}
<div class="span12">
	<h2 id="blog-title">Blog</h2>
	<br>
	<div id="blog-list">
		<!-- blog list will be generated dynamically -->
	</div>
	<div style="text-align: center;">
		<button id="next-page" class="btn" 
			style="display:none;">More...</button>
	</div>
</div>
{% include 'html/blog_footer.html' %}
{% endblock %}