{% extends "app/website/templates/html/page.html" %}

{% block javascript %}
	{% include "app/website/templates/js/cart.js" %}
{% endblock %}

{% set title="Shopping Cart" %}

{% block content %}
<div class="col col-lg-12">
	<h2><i class="icon-shopping-cart"></i> Shopping Cart</h2>
	<div class="progress progress-striped active">
		<div class="progress-bar progress-bar-info" style="width: 100%;"></div>
	</div>
	<div id="cart-container" class="hide">
		<button class="btn btn-success pull-right" type="button">Place Order</button>
		<div class="clearfix"></div>
		<hr>
		<div class="row">
			<div class="col col-lg-9 col-sm-9">
				<div class="row">
					<div class="col col-lg-3"></div>
					<div class="col col-lg-9"><strong>Item Details</strong></div>
				</div>
			</div>
			<div class="col col-lg-3 col-sm-3"><strong>Qty</strong></div>
		</div><hr>
		<div id="cart-items">
		</div>
		<hr>
		<div id="cart-taxes">
		</div>
		<div id="cart-addresses">
		</div>
		<button class="btn btn-success pull-right" type="button">Place Order</button>
	</div>
</div>
{% endblock %}