{% extends "app/website/templates/html/page.html" %}

{% block javascript %}
	{% include "app/website/templates/js/contact.js" %}
{% endblock %}

{% set title="Contact Us" %}

{% block content %}
<div class="col-md-12">
	<h3>{{ obj.doc.heading or "Contact Us"}}</h3>
	<div class="row">
		<div class="web-form col-md-8">
			<p id="contact-alert" class="alert alert-warning" 
				style="display: none;">&nbsp;</p>
			<p>
				<select name="subject" class="form-control">
				{% for option in obj.query_options %}
					<option value="{{ option }}">{{ option }}</option>
				{% endfor %}
				</select>
			</p>
			<p>
				<input class="form-control" name="email" type="text" 
				placeholder="Your Email Address" />
			</p>
			<p>
				<textarea rows="10" name="message" class="form-control"></textarea>
			</p>
			<p>
				<button class="btn btn-primary btn-send">Send</button>
			</p>
		</div>
		{% if obj.doc.address %}
		<div class="col-md-3 col-md-offset-1 alert" style="margin-top: 20px;" itemscope itemtype="http://schema.org/PostalAddress">
			<h4><i class="icon-map-marker"></i> {{ obj.address.address_title }}</h4>
			{% if obj.address.address_line1 %}
				<span itemprop="streetAddress">{{ obj.address.address_line1 }}</span><br>
			{% endif %}
			{% if obj.address.address_line2 %}
				<span itemprop="streetAddress">{{ obj.address.address_line2 }}</span><br>
			{% endif %}
			{% if obj.address.city %}
				<span itemprop="addressLocality">{{ obj.address.city }}</span><br>
			{% endif %}
			{% if obj.address.state %}
				<span itemprop="addressRegion">{{ obj.address.state }}</span><br>
			{% endif %}
			{% if obj.address.pincode %}
				<span itemprop="postalCode">{{ obj.address.pincode }}</span><br>
			{% endif %}
			{% if obj.address.country %}
				<span itemprop="addressCountry">{{ obj.address.country }}</span><br>
			{% endif %}
		</div>
		{% endif %}
	</div>
	{{ obj.doc.introduction }}
</div>
{% endblock %}