{% extends "html/base.html" %}

{% block header %}
	<script>
		{% include "js/login.js" %}
	</script>
	{% include "css/login.css" %}
{% endblock %}

{% set title="Login" %}

{% block body %}
	<div id='login_wrapper'>
		<div class='layout-wrapper layout-main'>
			<p id="login_message" class="alert" style="display: none;"></p>
			<h3><i class="icon-lock" style="margin-top: 7px"></i> Login</h3>
			<form autocomplete="on">
				<table border="0" class="login-box">
					<tbody>
						<tr>
							<td style="text-align: right; padding: 3px;">Login Id</td>
							<td><input id="login_id" type="text" style="width: 180px"/></td>
						</tr>
						<tr>
							<td style="text-align: right; padding: 3px;">Password</td>
							<td><input id="password" type="password" style="width: 180px" /></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>
								<button type="submit" id="login_btn" 
									class="btn btn-small btn-primary">Login</button>
							</td>
						</tr>
						</tbody>
				</table>
			</form>
			<br>
			<p style="text-align: center"><a id="forgot-password"
				onclick="return login.show_forgot_password()">Forgot Password</a></p>
		</div>
		<div class="login-footer">
			<a href="index.html">Home</a> | 
				<a href="https://erpnext.com">ERPNext</a><br><br>
				{% if copyright %}
				<div class="web-footer-copyright">&copy; {{ copyright }}
				{% endif %}
		</div>
	</div>

{% endblock %}