{% extends "html/base.html" %}

{% block header %}
	<script>
		{% include "js/login.js" %}
	</script>
	{% include "css/login.css" %}
{% endblock %}

{% set title="Login" %}

{% block body %}
	<div class="container" id='login_wrapper'>
		<div class='layout-wrapper layout-main'>
			<p id="login_message" class="alert" style="display: none;"></p>
			<h3><i class="icon-lock" style="margin-top: 7px"></i> Login</h3>
			<form autocomplete="on">
				<table border="0" class="login-box">
					<tbody>
						<tr>
							<td style="text-align: right; padding: 3px;" 
								id="login-label">Login Id</td>
							<td><input id="login_id" type="text" style="width: 180px"/></td>
						</tr>
						<tr id="password-row">
							<td style="text-align: right; padding: 3px;" >Password</td>
							<td><input id="password" type="password" style="width: 180px" /></td>
						</tr>
						<tr id="full-name-row" style="display: none;">
							<td style="text-align: right; padding: 3px;">Full Name</td>
							<td><input id="full_name" type="text" style="width: 180px" /></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>
								<button type="submit" id="login_btn" 
									class="btn btn-small btn-primary">Login</button>
								<img src="lib/images/ui/button-load.gif" id="login-spinner" 
									style="display: none;">
							</td>
						</tr>
						</tbody>
				</table>
			</form>
			<br>
			<p style="text-align: center" id="forgot-wrapper">
				<a id="forgot-password" style="cursor:pointer"
				onclick="return login.show_forgot_password()">Forgot Password</a></p>
			<p style="text-align: center" id="sign-up-wrapper">
				New user? <a id="sign-up" style="cursor:pointer"
				onclick="return login.sign_up()">Sign Up</a></p>
		</div>
	</div>
	<div class="web-footer login-footer container">
		<a href="index.html">Home</a> | 
			<a href="https://erpnext.com">ERPNext</a><br><br>
			{% if copyright %}
			<div class="web-footer-copyright">&copy; {{ copyright }}
			{% endif %}
	</div>

{% endblock %}