<div class="web-list-item mb-3">
    <a href="/addresses?name={{ doc.name | urlencode }}" class="no-underline text-reset">
	    <div class="row">
	        <div class="col-3">
	                 <span class="indicator {{ "red" if doc.address_type=="Office" else "green" if doc.address_type=="Billing" else "blue" if doc.address_type=="Shipping" else "gray" }}">{{ doc.address_title }}</span>
			</div>
			<div class="col-2"> {{ _(doc.address_type) }} </div>
			<div class="col-2"> {{ doc.city }} </div>
			<div class="col-5 text-right small text-muted">
	            {{ frappe.get_doc(doc).get_display() }}
	        </div>
	    </div>
    </a>
</div>
