<div class="web-list-item">
    <div class="row">
        <div class="col-sm-6">
            <a class="no-decoration" href="/issues?name={{ doc.name }}" no-pjax>
                {{ doc.subject }}
            </a>
        </div>
        <div class="col-sm-2">
            <span class="indicator {{ "red" if doc.status=="Open" else "blue" }}">
                {{ doc.status }}</span>
        </div>
        <div class="col-sm-2">
            <a class="text-muted text-right" href="/issues?name={{ doc.name }}" no-pjax>
                {{ doc.name }}
            </a>
        </div>
        <div class="col-sm-2 text-muted text-right small">
            {{ frappe.format_date(doc.creation) }}
        </div>
    </div>
</div>
