<div class="tax-break-up" style="overflow-x: auto;">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				{% set i = 0 %}
				{% for key in headers %}
					{% if i==0 %}
						<th style="min-width: 120px;" class="text-left">{{ key }}</th>
					{% else %}
						<th style="min-width: 80px;" class="text-right">{{ key }}</th>
					{% endif %}
					{% set i = i + 1 %}
				{% endfor%}
			</tr>
		</thead>
		<tbody>
			{% for item, taxes in itemised_tax.items() %}
				<tr>
					<td>{{ item }}</td>
					<td class='text-right'>
						{{ frappe.utils.fmt_money(itemised_taxable_amount.get(item), None, company_currency) }}
					</td>
					{% for tax_account in tax_accounts %}
						{% set tax_details = taxes.get(tax_account) %}
						{% if tax_details %}
							<td class='text-right'>
								({{ tax_details.tax_rate }})
								{{ frappe.utils.fmt_money(tax_details.tax_amount, None, company_currency) }}
							</td>
						{% else %}
							<td></td>
						{% endif %}
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>