{% macro product_image_square(website_image, css_class="") %}
<div class="product-image product-image-square {% if not website_image -%} missing-image {%- endif %} {{ css_class }}"
	{% if website_image -%} style="background-image: url({{ website_image }});" {%- endif %}>
	{% if not website_image -%}<i class="centered octicon octicon-device-camera"></i>{%- endif %}
</div>
{% endmacro %}

{% macro product_image(website_image, css_class="") %}
<div class="product-image {% if not website_image -%} missing-image {%- endif %} {{ css_class }}">
	{% if website_image -%}
		<img src="{{ website_image }}" class="img-responsive">
	{%- else -%}
		<i class="centered octicon octicon-device-camera"></i>
	{%- endif %}
</div>
{% endmacro %}

