<!-- TODO product listing -->
<div class="container content">
	<div style="height: 120px; overflow: hidden;">
		<a href="{{ (route or page_name)|abs_url }}">
		{%- if website_image -%}
		<img class="product-image" style="width: 80%; margin: auto;" src="{{ website_image|abs_url }}">
		{%- else -%}
        <div style="width: 80%; height: 120px; background-color: #F7FAFC;"></div>
		{%- endif -%}
		</a>
	</div>
	<div style="height: 100px; overflow: hidden; font-size: 80%;">
		<div><a href="{{ (route or page_name)|abs_url }}">{{ item_name }}</a></div>
	</div>
</div>
