<script>
$(document).ready(function() {
	global_number_format = "{{ global_number_format }}";
	currency = "{{ currency }}";
	frappe.currency_symbols = {{ currency_symbols }};
});
</script>

{% include "templates/includes/transactions.html" %}

<script>
	var render = function(doc) {
		doc.grand_total_export = format_currency(doc.grand_total_export, doc.currency);
		if(!doc.status) doc.status = "";

		$(repl('<a href="{{ page }}?name=%(name)s" class="list-group-item">\
				<div class="row">\
					<div class="col-md-6">\
						<div class="row col-md-12">%(name)s</div>\
						<div class="row col-md-12 text-muted">%(items)s</div>\
						<div class="row col-md-12">%(status)s</div>\
					</div>\
					<div class="col-md-3 text-right">%(grand_total_export)s</div>\
					<div class="col-md-3 text-right text-muted">%(creation)s</div>\
				</div>\
			</a>', doc)).appendTo($list);
	};
</script>

<!-- no-sidebar -->
