.small {
	font-size: 11.5px;
}

.erpnext-footer {
	margin: 11px auto;
	text-align: center;
}

.show-all-reports {
	margin-top: 5px;
	font-size: 11px;
}

/* toolbar */
.toolbar-splash {
	width: 32px;
	height: 32px;
	margin: -10px auto;
}

/* pos */
.pos-item {
	height: 200px;
	overflow: hidden;
	cursor: pointer;
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.pos-bill {
	margin-left: -30px;
	margin-top: -10px;
	padding: 20px 10px;
	border-right: 1px solid #c7c7c7;
	border-bottom: 1px solid #c7c7c7;
}
