.erpnext-footer {
  margin: 11px auto;
  text-align: center;
}
.show-all-reports {
  margin-top: 5px;
  font-size: 11px;
}
/* toolbar */
.toolbar-splash {
  width: 32px;
  height: 32px;
  margin: -10px auto;
}
/* pos */
.pos-item-wrapper {
  padding: 5px;
}
.pos-item {
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 5px;
  padding-bottom: 15px;
  border: 1px solid #d1d8dd;
  margin-bottom: 5px;
}
.pos-item-text {
  padding: 0px 5px;
}
.pos-item .item-code {
  margin-bottom: 0px;
}
.pos-item .no-image {
  background-color: #fafbfc;
  border: 1px dashed #d1d8dd;
}
.pos-item-image {
  width: 100%;
  height: 0px;
  padding: 50% 0;
  text-align: center;
  line-height: 0;
  color: #d1d8dd;
  font-size: 30px;
  background-size: contain;
  border: 1px solid transparent;
  background-position: center;
  background-repeat: no-repeat;
}
.pos-item-toolbar {
  height: 51px;
  padding: 10px 0px;
  border-bottom: 1px solid #d1d8dd;
}
.pos-toolbar,
.pos-bill-toolbar {
  padding: 10px 0px;
  height: 51px;
}
.pos-item-toolbar .form-group {
  margin-bottom: 0px;
}
.edit-pos-item {
  height: 50px;
  font-size: 14px;
  border-top: 1px solid #d1d8dd;
  padding-top: 12px;
}
.pos-bill-item:hover {
  background-color: #f5f7fa;
  cursor: pointer;
}
.pos-item-qty {
  display: inline-block;
}
.pos-qty-row > div {
  padding: 5px 0px;
}
.pos-qty-btn {
  margin-top: 3px;
  cursor: pointer;
  font-size: 120%;
}
.pos .search-area .form-group {
  max-width: 100% !important;
}
.pos .tax-table {
  margin-bottom: 10px;
}
.erpnext-icon {
  width: 24px;
  margin-right: 0px;
  margin-top: -3px;
}
.pos .discount-amount-area .discount-field-col {
  padding-left: 0px;
}
.pos .discount-amount-area .input-group {
  margin-top: 2px;
}
.dashboard-list-item {
  background-color: inherit;
  padding: 5px 0px;
  border-bottom: 1px solid #d1d8dd;
}
#page-stock-balance .dashboard-list-item {
  padding: 5px 15px;
}
.dashboard-list-item:last-child {
  border-bottom: none;
}
.payment-toolbar .row {
  width: 323px;
  margin: 0 auto;
}
.payment-mode {
  cursor: pointer;
  font-family: sans-serif;
  font-size: 15px;
}
.pos-payment-row .col-xs-6 {
  padding: 15px;
}
.pos-payment-row {
  border-bottom: 1px solid #d1d8dd;
  margin: 2px 0px 5px 0px;
  height: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.pos-payment-row:hover,
.pos-keyboard-key:hover {
  background-color: #FAFBFC;
  cursor: pointer;
}
.pos-keyboard-key,
.delete-btn {
  border: 1px solid #d1d8dd;
  height: 85px;
  width: 85px;
  margin: 10px 10px;
  font-size: 24px;
  font-weight: 200;
  background-color: #FDFDFD;
  border-color: #e8e8e8;
}
.numeric-keypad {
  border: 1px solid #d1d8dd;
  height: 69px;
  width: 69px;
  font-size: 20px;
  font-weight: 200;
  background-color: #FDFDFD;
  border-color: #e8e8e8;
  margin-left: -4px;
}
.pos-pay {
  height: 69px;
  width: 69px;
  font-size: 17px;
  font-weight: 200;
  margin-left: -4px;
}
.numeric-keypad {
  height: 60px;
  width: 60px;
  font-size: 20px;
  font-weight: 200;
  border-radius: 0;
  background-color: #fff;
  margin-left: -4px;
}
.numeric_keypad {
  margin-left: -15px;
}
.numeric_keypad > .row > button {
  border: none;
  border-right: 1px solid #d1d8dd;
  border-bottom: 1px solid #d1d8dd;
}
.numeric_keypad > .row > button:first-child {
  border-left: 1px solid #d1d8dd;
}
.numeric_keypad > .row:first-child > button {
  border-top: 1px solid #d1d8dd;
}
.pos-pay {
  background-color: #5E64FF;
  border: none;
}
.multimode-payments {
  padding-left: 30px;
}
.payment-toolbar {
  padding-right: 30px;
}
.list-row-head.pos-invoice-list {
  border-top: 1px solid #d1d8dd;
}
body[data-route="pos"] .modal-dialog {
  width: 750px;
}
@media (max-width: 767px) {
  body[data-route="pos"] .modal-dialog {
    width: auto;
  }
  body[data-route="pos"] .modal-dialog .modal-content {
    height: auto;
  }
}
@media (max-width: 767px) {
  .amount-row h3 {
    font-size: 15px;
  }
  .pos-keyboard-key,
  .delete-btn {
    height: 50px;
  }
  .multimode-payments {
    padding-left: 15px;
  }
  .payment-toolbar {
    padding-right: 15px;
  }
}
.amount-label {
  font-size: 16px;
}
.selected-payment-mode {
  background-color: #FAFBFC;
  cursor: pointer;
}
.pos-invoice-list {
  padding: 15px 10px;
}
.write_off_amount,
.change_amount {
  margin: 15px;
  width: 130px;
}
.frappe-control[data-fieldname='result_html'] {
  overflow: scroll;
}
.assessment-result-tool {
  table-layout: fixed;
}
.assessment-result-tool input {
  width: 100%;
  border: 0;
  outline: none;
  text-align: right;
}
.assessment-result-tool th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.assessment-result-tool .total-score,
.assessment-result-tool .grade,
.assessment-result-tool .score {
  text-align: right;
}
.pos-list-row {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 9px 15px;
  font-size: 12px;
  margin: 0px;
  border-bottom: 1px solid #d1d8dd;
}
.pos-list-row .cell {
  display: table-cell;
  vertical-align: middle;
}
.pos-list-row .subject {
  width: 40%;
}
.pos-list-row .list-row-checkbox,
.pos-list-row .list-select-all {
  margin-right: 7px;
}
.pos-bill-header {
  background-color: #f5f7fa;
  border: 1px solid #d1d8dd;
  padding: 13px 15px;
}
.pos-list-row.active {
  background-color: #fffce7;
}
.totals-area {
  border-right: 1px solid #d1d8dd;
  border-left: 1px solid #d1d8dd;
  margin-bottom: 15px;
}
.item-cart-items {
  height: calc(100vh - 526px);
  overflow: auto;
  border: 1px solid #d1d8dd;
  border-top: none;
}
.pos .no-items-message {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.pos .pos-list-row:last-child {
  border-bottom: none;
}
.pos .form-section-heading {
  padding: 0;
}
.pos {
  overflow: hidden;
}
.pos .item-list {
  border: 1px solid #d1d8dd;
  border-top: none;
  max-height: calc(100vh - 190px);
  overflow: auto;
}
@media (max-width: 767px) {
  .pos .item-list {
    max-height: initial;
  }
}
.pos .item-list .image-field {
  height: 140px;
}
.pos .item-list .pos-item-wrapper {
  position: relative;
}
.pos .item-list .price-info {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 9px 15px;
}
.pos-bill-toolbar {
  margin-top: 10px;
}
.pos .search-item .form-group {
  margin: 0;
}
.item-list-area .pos-bill-header {
  padding: 5px;
  padding-left: 15px;
}
.pos-selected-item-action > .pos-list-row {
  border: none;
}
.edit-customer-btn {
  position: absolute;
  right: 57px;
  top: 15px;
  z-index: 100;
}
.btn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fafbfc;
  min-height: 200px;
}
