/* hub */
div[data-page-route="hub"] .page-head {
  height: 80px;
}
div[data-page-route="hub"] .page-head .title-text {
  cursor: pointer;
}
div[data-page-route="hub"] .page-content {
  margin-top: 80px;
}
div[data-page-route="hub"] .page-title h1 {
  margin-bottom: 0px;
}
div[data-page-route="hub"] .account-details {
  margin-top: 20px;
}
div[data-page-route="hub"] [data-original-title="Search"] {
  float: right;
  width: 220px;
}
div[data-page-route="hub"] .listing-body {
  margin: 0;
}
div[data-page-route="hub"] .main-list-section {
  padding: 0;
}
div[data-page-route="hub"] .side-list-section {
  padding: 0;
}
div[data-page-route="hub"] .item-list-container {
  padding: 15px;
}
div[data-page-route="hub"] .item-list-header {
  padding-left: 5px;
}
div[data-page-route="hub"] .item-list-header h3 {
  margin-bottom: 0px;
  margin-top: 10px;
  font-weight: normal;
}
div[data-page-route="hub"] .item-list {
  display: flex;
  flex-wrap: wrap;
}
div[data-page-route="hub"] .item-card {
  border: 1px solid #d1d8dd;
  border-radius: 3px;
  margin: 5px;
  width: 220px;
  display: flex;
}
div[data-page-route="hub"] .item-card .image {
  border-right: 1px solid #d1d8dd;
}
div[data-page-route="hub"] .item-card .image img {
  height: 90px;
  width: 90px;
  padding: 5px;
}
div[data-page-route="hub"] .item-card .content {
  padding: 10px;
}
div[data-page-route="hub"] .item-card .title {
  font-weight: bold;
}
div[data-page-route="hub"] .item-card .company {
  font-size: 12px;
  margin-bottom: 12px;
}
div[data-page-route="hub"] .item-card .price {
  font-size: 12px;
}
div[data-page-route="hub"] .hub-item-page {
  padding: 20px;
}
div[data-page-route="hub"] .hub-item-page .item-header {
  display: flex;
}
div[data-page-route="hub"] .hub-item-page .item-page-image {
  flex: 1;
  padding: 30px;
}
div[data-page-route="hub"] .hub-item-page .item-page-image img {
  width: 200px;
  height: 200px;
}
div[data-page-route="hub"] .hub-item-page .title-content {
  flex: 3;
}
div[data-page-route="hub"] .hub-item-page .title-content .description {
  margin: 30px 0px;
}
div[data-page-route="hub"] .hub-item-page .title-content .actions {
  margin-top: 30px;
}
div[data-page-route="hub"] .hub-item-page .title-content .actions .rfq-btn.disabled {
  background-color: #b1bdca;
  color: #fff;
  border-color: #b1bdca;
}
div[data-page-route="hub"] .hub-item-page .company-items {
  margin-top: 40px;
}
div[data-page-route="hub"] .company-header {
  display: flex;
}
