.label {
  font-weight: normal;
  background-color: #d1d8dd;
  font-size: 13px;
  padding: 3px 7px;
  margin-right: 10px;
}
.with-border {
  border: 1px solid #d1d8dd;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 30px;
}
.with-border a {
  text-decoration: none;
}
.with-border a:hover {
  text-decoration: none;
}
.with-border h3 {
  margin-top: 0px;
}
a {
  color: #5e64ff;
}
.clickable a {
  color: #36414C;
}
.with-border.clickable:hover {
  border-color: #36414C;
  background-color: #fafbfc;
}
