[data-route="point-of-sale-beta"] .layout-main-section {
  border: none;
  font-size: 12px;
}
[data-route="point-of-sale-beta"] .layout-main-section-wrapper {
  margin-bottom: 0;
}
[data-route="point-of-sale-beta"] .pos-items-wrapper {
  max-height: calc(100vh - 210px);
}
:root {
  --border-color: #D1D8DD;
  --text-color: #8D99A6;
  --primary: #5E64FF;
}
.flex { display: flex }
.flex-wrap { flex-wrap: wrap; }
.flex-row { flex-direction: row }
.flex-col { flex-direction: column }
.flex-1 { flex: 1 1 0% }
.items-center { align-items: center; }
.f-grow-1 { flex-grow: 1 }
.f-grow-2 { flex-grow: 2 }
.f-grow-3 { flex-grow: 3 }
.f-grow-4 { flex-grow: 4 }
.f-shrink-0 { flex-shrink: 0 }
.f-shrink-1 { flex-shrink: 1 }
.f-shrink-2 { flex-shrink: 2 }
.f-shrink-3 { flex-shrink: 3 }
.shadow { box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.06) }
.shadow-sm { 	box-shadow: 0 0.5px 3px 0 rgba(0, 0, 0, 0.15) }
.rounded { border-radius: 0.3rem; }
.p-8 { padding: 2rem; }
.m-8 { margin: 2rem; }
.p-1 { padding: 0.25rem; }
.pr-2 { padding-right: 0.5rem; }
.pl-2 { padding-left: 0.5rem; }
.pt-2 { padding-top: 0.5rem; }
.pb-2 { padding-bottom: 0.5rem; }
.pr-3 { padding-right: 0.75rem; }
.pl-3 { padding-left: 0.75rem; }
.pt-3 { padding-top: 0.75rem; }
.pb-3 { padding-bottom: 0.75rem; }
.pr-4 { padding-right: 1rem; }
.pl-4 { padding-left: 1rem; }
.pt-4 { padding-top: 1rem; }
.pb-4 { padding-bottom: 1rem; }
.mr-4 { margin-right: 1rem; }
.ml-4 { margin-left: 1rem; }
.mt-4 { margin-top: 1rem; }
.mb-4 { margin-bottom: 1rem; }
.mr-2 { margin-right: 0.5rem; }
.ml-2 { margin-left: 0.5rem; }
.mt-2 { margin-top: 0.5rem; }
.mb-2 { margin-bottom: 0.5rem; }
.mr-auto { margin-right: auto; }
.ml-auto { margin-left: auto; }
.mt-auto { margin-top: auto; }
.mb-auto { margin-bottom: auto; }
.pr-6 { padding-right: 1.5rem; }
.pl-6 { padding-left: 1.5rem; }
.pt-6 { padding-top: 1.5rem; }
.pb-6 { padding-bottom: 1.5rem; }
.mr-6 { margin-right: 1.5rem; }
.ml-6 { margin-left: 1.5rem; }
.mt-6 { margin-top: 1.5rem; }
.mb-6 { margin-bottom: 1.5rem; }
.mr-8 { margin-right: 2rem; }
.ml-8 { margin-left: 2rem; }
.mt-8 { margin-top: 2rem; }
.mb-8 { margin-bottom: 2rem; }
.pr-8 { padding-right: 2rem; }
.pl-8 { padding-left: 2rem; }
.pt-8 { padding-top: 2rem; }
.pb-8 { padding-bottom: 2rem; }
.w-full { width: 100% }
.w-quarter { width: 25%; }
.w-10 { width: 3rem }
.w-24 { width: 7.2rem }
.h-10 { height: 3rem }
.h-16 { height: 4.8rem }
.h-18 { height: 5.4rem }
.h-32 { height: 9.6rem }
.w-46 { width: 15rem; }
.h-100 { height: 100vh }
.mx-h-70 { max-height: 62rem }
.border-grey { border: 1px solid #D1D8DD; }
.border-b-grey { border-bottom: 1px solid #D1D8DD; }
.text-dark-grey { color: #5F5F5F; }
.text-grey { color: #8D99A6; }
.text-light-grey { color: #D1D8DD; }
.text-bold { font-weight: bold; }
.justify-between { justify-content: space-between; }
.justify-center { justify-content: center; }
.bg-light-grey { background-color: #F0F4F7; }
.bg-grey-100 { background-color: #F7FcFa; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-sm { font-size: 1rem; }
.text-md { font-size: 1.5rem; }
.text-lg { font-size: 1.8rem; }
.text-6xl { font-size: 4.8rem; }
.line-through { text-decoration: line-through; }
.text-primary { color: #5E64FF }
.scroll { overflow: scroll; }
.overflow-hidden { overflow: hidden; }
.sticky { position: sticky; top: -1px; }
.bg-white { background-color: #fff; }
.border-dashed { border-style: dashed; }

.frappe-control { margin: 0 !important; width: 100%; }
.form-control { font-size: 12px; }
.form-group { margin: 0 !important; }
.item-wrapper { cursor: pointer; transition: all .2s ease-in-out; }
.item-wrapper:hover { transform: scale(1.02, 1.02); }
::-webkit-scrollbar {
  width: 0px;
}