[data-route="point-of-sale"] .layout-main-section { border: none;  font-size: 12px; }
[data-route="point-of-sale"] .layout-main-section-wrapper { margin-bottom: 0; }
[data-route="point-of-sale"] .pos-items-wrapper { max-height: calc(100vh - 210px); }
:root { --border-color: #d1d8dd;  --text-color: #8d99a6;  --primary: #5e64ff; }
[data-route="point-of-sale"] .flex { display: flex; }
[data-route="point-of-sale"] .grid { display: grid; }
[data-route="point-of-sale"] .absolute { position: absolute; }
[data-route="point-of-sale"] .relative { position: relative; }
[data-route="point-of-sale"] .abs-center { top: 50%; left: 50%; transform: translate(-50%, -50%); }
[data-route="point-of-sale"] .inline { display: inline; }
[data-route="point-of-sale"] .float-right { float: right; }
[data-route="point-of-sale"] .grid-cols-1 { grid-template-columns: repeat(1, minmax(0, 1fr)); }
[data-route="point-of-sale"] .grid-cols-2 { grid-template-columns: repeat(2, minmax(0, 1fr)); }
[data-route="point-of-sale"] .grid-cols-3 { grid-template-columns: repeat(3, minmax(0, 1fr)); }
[data-route="point-of-sale"] .grid-cols-4 { grid-template-columns: repeat(4, minmax(0, 1fr)); }
[data-route="point-of-sale"] .grid-cols-5 { grid-template-columns: repeat(5, minmax(0, 1fr)); }
[data-route="point-of-sale"] .grid-cols-10 { grid-template-columns: repeat(10, minmax(0, 1fr)); }
[data-route="point-of-sale"] .gap-2 { grid-gap: 0.5rem;  gap: 0.5rem; }
[data-route="point-of-sale"] .gap-4 { grid-gap: 1rem;  gap: 1rem; }
[data-route="point-of-sale"] .gap-6 { grid-gap: 1.25rem;  gap: 1.25rem; }
[data-route="point-of-sale"] .gap-8 { grid-gap: 1.5rem;  gap: 1.5rem; }
[data-route="point-of-sale"] .row-gap-2 { grid-row-gap: 0.5rem;  row-gap: 0.5rem; }
[data-route="point-of-sale"] .col-gap-4 { grid-column-gap: 1rem;  column-gap: 1rem; }
[data-route="point-of-sale"] .col-span-2 { grid-column: span 2 / span 2; }
[data-route="point-of-sale"] .col-span-3 { grid-column: span 3 / span 3; }
[data-route="point-of-sale"] .col-span-4 { grid-column: span 4 / span 4; }
[data-route="point-of-sale"] .col-span-6 { grid-column: span 6 / span 6; }
[data-route="point-of-sale"] .col-span-10 { grid-column: span 10 / span 10; }
[data-route="point-of-sale"] .row-span-2 { grid-row: span 2 / span 2; }
[data-route="point-of-sale"] .grid-auto-row { grid-auto-rows: 5.5rem; }
[data-route="point-of-sale"] .d-none { display: none; }
[data-route="point-of-sale"] .flex-wrap { flex-wrap: wrap; }
[data-route="point-of-sale"] .flex-row { flex-direction: row; }
[data-route="point-of-sale"] .flex-col { flex-direction: column; }
[data-route="point-of-sale"] .flex-row-rev { flex-direction: row-reverse; }
[data-route="point-of-sale"] .flex-col-rev { flex-direction: column-reverse; }
[data-route="point-of-sale"] .flex-1 { flex: 1 1 0%; }
[data-route="point-of-sale"] .items-center { align-items: center; }
[data-route="point-of-sale"] .items-end { align-items: flex-end; }
[data-route="point-of-sale"] .f-grow-1 { flex-grow: 1; }
[data-route="point-of-sale"] .f-grow-2 { flex-grow: 2; }
[data-route="point-of-sale"] .f-grow-3 { flex-grow: 3; }
[data-route="point-of-sale"] .f-grow-4 { flex-grow: 4; }
[data-route="point-of-sale"] .f-shrink-0 { flex-shrink: 0; }
[data-route="point-of-sale"] .f-shrink-1 { flex-shrink: 1; }
[data-route="point-of-sale"] .f-shrink-2 { flex-shrink: 2; }
[data-route="point-of-sale"] .f-shrink-3 { flex-shrink: 3; }
[data-route="point-of-sale"] .shadow { box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.06); }
[data-route="point-of-sale"] .shadow-sm { box-shadow: 0 0.5px 3px 0 rgba(0, 0, 0, 0.125); }
[data-route="point-of-sale"] .shadow-inner { box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.1); }
[data-route="point-of-sale"] .rounded { border-radius: 0.3rem; }
[data-route="point-of-sale"] .rounded-b { border-bottom-left-radius: 0.3rem;  border-bottom-right-radius: 0.3rem; }
[data-route="point-of-sale"] .p-8 { padding: 2rem; }
[data-route="point-of-sale"] .p-16 { padding: 4rem; }
[data-route="point-of-sale"] .p-32 { padding: 8rem; }
[data-route="point-of-sale"] .p-6 { padding: 1.5rem; }
[data-route="point-of-sale"] .p-4 { padding: 1rem; }
[data-route="point-of-sale"] .p-3 { padding: 0.75rem; }
[data-route="point-of-sale"] .p-2 { padding: 0.5rem; }
[data-route="point-of-sale"] .m-8 { margin: 2rem; }
[data-route="point-of-sale"] .p-1 { padding: 0.25rem; }
[data-route="point-of-sale"] .pr-0 { padding-right: 0rem; }
[data-route="point-of-sale"] .pl-0 { padding-left: 0rem; }
[data-route="point-of-sale"] .pt-0 { padding-top: 0rem; }
[data-route="point-of-sale"] .pb-0 { padding-bottom: 0rem; }
[data-route="point-of-sale"] .mr-0 { margin-right: 0rem; }
[data-route="point-of-sale"] .ml-0 { margin-left: 0rem; }
[data-route="point-of-sale"] .mt-0 { margin-top: 0rem; }
[data-route="point-of-sale"] .mb-0 { margin-bottom: 0rem; }
[data-route="point-of-sale"] .pr-2 { padding-right: 0.5rem; }
[data-route="point-of-sale"] .pl-2 { padding-left: 0.5rem; }
[data-route="point-of-sale"] .pt-2 { padding-top: 0.5rem; }
[data-route="point-of-sale"] .pb-2 { padding-bottom: 0.5rem; }
[data-route="point-of-sale"] .pr-3 { padding-right: 0.75rem; }
[data-route="point-of-sale"] .pl-3 { padding-left: 0.75rem; }
[data-route="point-of-sale"] .pt-3 { padding-top: 0.75rem; }
[data-route="point-of-sale"] .pb-3 { padding-bottom: 0.75rem; }
[data-route="point-of-sale"] .pr-4 { padding-right: 1rem; }
[data-route="point-of-sale"] .pl-4 { padding-left: 1rem; }
[data-route="point-of-sale"] .pt-4 { padding-top: 1rem; }
[data-route="point-of-sale"] .pb-4 { padding-bottom: 1rem; }
[data-route="point-of-sale"] .mr-4 { margin-right: 1rem; }
[data-route="point-of-sale"] .ml-4 { margin-left: 1rem; }
[data-route="point-of-sale"] .mt-4 { margin-top: 1rem; }
[data-route="point-of-sale"] .mb-4 { margin-bottom: 1rem; }
[data-route="point-of-sale"] .mr-2 { margin-right: 0.5rem; }
[data-route="point-of-sale"] .ml-2 { margin-left: 0.5rem; }
[data-route="point-of-sale"] .mt-2 { margin-top: 0.5rem; }
[data-route="point-of-sale"] .mb-2 { margin-bottom: 0.5rem; }
[data-route="point-of-sale"] .mr-1 { margin-right: 0.25rem; }
[data-route="point-of-sale"] .ml-1 { margin-left: 0.25rem; }
[data-route="point-of-sale"] .mt-1 { margin-top: 0.25rem; }
[data-route="point-of-sale"] .mb-1 { margin-bottom: 0.25rem; }
[data-route="point-of-sale"] .mr-auto { margin-right: auto; }
[data-route="point-of-sale"] .ml-auto { margin-left: auto; }
[data-route="point-of-sale"] .mt-auto { margin-top: auto; }
[data-route="point-of-sale"] .mb-auto { margin-bottom: auto; }
[data-route="point-of-sale"] .pr-6 { padding-right: 1.5rem; }
[data-route="point-of-sale"] .pl-6 { padding-left: 1.5rem; }
[data-route="point-of-sale"] .pt-6 { padding-top: 1.5rem; }
[data-route="point-of-sale"] .pb-6 { padding-bottom: 1.5rem; }
[data-route="point-of-sale"] .mr-6 { margin-right: 1.5rem; }
[data-route="point-of-sale"] .ml-6 { margin-left: 1.5rem; }
[data-route="point-of-sale"] .mt-6 { margin-top: 1.5rem; }
[data-route="point-of-sale"] .mb-6 { margin-bottom: 1.5rem; }
[data-route="point-of-sale"] .mr-8 { margin-right: 2rem; }
[data-route="point-of-sale"] .ml-8 { margin-left: 2rem; }
[data-route="point-of-sale"] .mt-8 { margin-top: 2rem; }
[data-route="point-of-sale"] .mb-8 { margin-bottom: 2rem; }
[data-route="point-of-sale"] .pr-8 { padding-right: 2rem; }
[data-route="point-of-sale"] .pl-8 { padding-left: 2rem; }
[data-route="point-of-sale"] .pt-8 { padding-top: 2rem; }
[data-route="point-of-sale"] .pb-8 { padding-bottom: 2rem; }
[data-route="point-of-sale"] .pr-16 { padding-right: 4rem; }
[data-route="point-of-sale"] .pl-16 { padding-left: 4rem; }
[data-route="point-of-sale"] .pt-16 { padding-top: 4rem; }
[data-route="point-of-sale"] .pb-16 { padding-bottom: 4rem; }
[data-route="point-of-sale"] .w-full { width: 100%; }
[data-route="point-of-sale"] .h-full { height: 100%; }
[data-route="point-of-sale"] .w-quarter { width: 25%; }
[data-route="point-of-sale"] .w-half { width: 50%; }
[data-route="point-of-sale"] .w-66 { width: 66.66%; }
[data-route="point-of-sale"] .w-33 { width: 33.33%; }
[data-route="point-of-sale"] .w-60 { width: 60%; }
[data-route="point-of-sale"] .w-40 { width: 40%; }
[data-route="point-of-sale"] .w-fit { width: fit-content; }
[data-route="point-of-sale"] .w-6 { width: 2rem; }
[data-route="point-of-sale"] .h-6 { min-height: 2rem; height: 2rem; }
[data-route="point-of-sale"] .w-8 { width: 2.5rem; }
[data-route="point-of-sale"] .h-8 { min-height: 2.5rem; height: 2.5rem; }
[data-route="point-of-sale"] .w-10 { width: 3rem; }
[data-route="point-of-sale"] .h-10 { min-height:3rem; height: 3rem; }
[data-route="point-of-sale"] .h-12 { min-height: 3.3rem; height: 3.3rem; }
[data-route="point-of-sale"] .w-12 { width: 3.3rem; }
[data-route="point-of-sale"] .h-14 { min-height: 4.2rem; height: 4.2rem; }
[data-route="point-of-sale"] .h-16 { min-height: 4.6rem; height: 4.6rem; }
[data-route="point-of-sale"] .h-18 { min-height: 5rem; height: 5rem; }
[data-route="point-of-sale"] .w-18 { width: 5.4rem; }
[data-route="point-of-sale"] .w-24 { width: 7.2rem; }
[data-route="point-of-sale"] .w-26 { width: 8.4rem; }
[data-route="point-of-sale"] .h-24 { min-height: 7.2rem; height: 7.2rem; }
[data-route="point-of-sale"] .h-32 { min-height: 9.6rem; height: 9.6rem; }
[data-route="point-of-sale"] .w-46 { width: 15rem; }
[data-route="point-of-sale"] .h-46 { min-height:15rem; height: 15rem; }
[data-route="point-of-sale"] .h-100 { height: 100vh; }
[data-route="point-of-sale"] .mx-h-70 { max-height: 67rem; }
[data-route="point-of-sale"] .border-grey-300 { border-color: #e2e8f0; }
[data-route="point-of-sale"] .border-grey { border: 1px solid #d1d8dd; }
[data-route="point-of-sale"] .border-white { border: 1px solid #fff; }
[data-route="point-of-sale"] .border-b-grey { border-bottom: 1px solid #d1d8dd; }
[data-route="point-of-sale"] .border-t-grey { border-top: 1px solid #d1d8dd; }
[data-route="point-of-sale"] .border-r-grey { border-right: 1px solid #d1d8dd; }
[data-route="point-of-sale"] .text-dark-grey { color: #5f5f5f; }
[data-route="point-of-sale"] .text-grey { color: #8d99a6; }
[data-route="point-of-sale"] .text-grey-100 { color: #d1d8dd; }
[data-route="point-of-sale"] .text-grey-200 { color: #a0aec0; }
[data-route="point-of-sale"] .bg-green-200 { background-color: #c6f6d5; }
[data-route="point-of-sale"] .text-bold { font-weight: bold; }
[data-route="point-of-sale"] .italic { font-style: italic; }
[data-route="point-of-sale"] .font-weight-450 { font-weight: 450; }
[data-route="point-of-sale"] .justify-around { justify-content: space-around; }
[data-route="point-of-sale"] .justify-between { justify-content: space-between; }
[data-route="point-of-sale"] .justify-center { justify-content: center; }
[data-route="point-of-sale"] .justify-end { justify-content: flex-end; }
[data-route="point-of-sale"] .bg-white { background-color: white; }
[data-route="point-of-sale"] .bg-light-grey { background-color: #f0f4f7; }
[data-route="point-of-sale"] .bg-grey-100 { background-color: #f7fafc; }
[data-route="point-of-sale"] .bg-grey-200 { background-color: #edf2f7; }
[data-route="point-of-sale"] .bg-grey { background-color: #f4f5f6; }
[data-route="point-of-sale"] .text-center { text-align: center; }
[data-route="point-of-sale"] .text-right { text-align: right; }
[data-route="point-of-sale"] .text-sm { font-size: 1rem; }
[data-route="point-of-sale"] .text-md-0 { font-size: 1.25rem; }
[data-route="point-of-sale"] .text-md { font-size: 1.4rem; }
[data-route="point-of-sale"] .text-lg { font-size: 1.6rem; }
[data-route="point-of-sale"] .text-xl { font-size: 2.2rem; }
[data-route="point-of-sale"] .text-2xl { font-size: 2.8rem; }
[data-route="point-of-sale"] .text-2-5xl { font-size: 3rem; }
[data-route="point-of-sale"] .text-3xl { font-size: 3.8rem; }
[data-route="point-of-sale"] .text-6xl { font-size: 4.8rem; }
[data-route="point-of-sale"] .line-through { text-decoration: line-through; }
[data-route="point-of-sale"] .text-primary { color: #5e64ff; }
[data-route="point-of-sale"] .text-white { color: #fff; }
[data-route="point-of-sale"] .text-green-500 { color: #48bb78; }
[data-route="point-of-sale"] .bg-primary { background-color: #5e64ff; }
[data-route="point-of-sale"] .border-primary { border-color: #5e64ff; }
[data-route="point-of-sale"] .text-danger { color: #e53e3e; }
[data-route="point-of-sale"] .scroll-x { overflow-x: scroll;overflow-y: hidden; }
[data-route="point-of-sale"] .scroll-y { overflow-y: scroll;overflow-x: hidden; }
[data-route="point-of-sale"] .overflow-hidden { overflow: hidden; }
[data-route="point-of-sale"] .whitespace-nowrap { white-space: nowrap; }
[data-route="point-of-sale"] .sticky { position: sticky;  top: -1px; }
[data-route="point-of-sale"] .bg-white { background-color: #fff; }
[data-route="point-of-sale"] .bg-selected { background-color: #fffdf4; }
[data-route="point-of-sale"] .border-dashed { border-width:1px; border-style: dashed; }
[data-route="point-of-sale"] .z-100 { z-index: 100; }

[data-route="point-of-sale"] .frappe-control { margin: 0 !important;  width: 100%; }
[data-route="point-of-sale"] .form-control { font-size: 12px; }
[data-route="point-of-sale"] .form-group { margin: 0 !important; }
[data-route="point-of-sale"] .pointer { cursor: pointer; }
[data-route="point-of-sale"] .no-select { user-select: none; }
[data-route="point-of-sale"] .item-wrapper:hover { transform: scale(1.02, 1.02); }
[data-route="point-of-sale"] .hover-underline:hover { text-decoration: underline; }
[data-route="point-of-sale"] .item-wrapper { transition: scale 0.2s ease-in-out; }
[data-route="point-of-sale"] .cart-items-section .cart-item-wrapper:not(:first-child) { border-top: none; }
[data-route="point-of-sale"] .customer-transactions .invoice-wrapper:not(:first-child) { border-top: none; }

[data-route="point-of-sale"] .payment-summary-wrapper:last-child { border-bottom: none; }
[data-route="point-of-sale"] .item-summary-wrapper:last-child { border-bottom: none; }
[data-route="point-of-sale"] .total-summary-wrapper:last-child { border-bottom: none; }
[data-route="point-of-sale"] .invoices-container .invoice-wrapper:last-child { border-bottom: none; }
[data-route="point-of-sale"] .new-btn { background-color: #5e64ff; color: white; border: none;}
[data-route="point-of-sale"] .summary-btns:last-child { margin-right: 0px; }
[data-route="point-of-sale"] ::-webkit-scrollbar { width: 1px }

[data-route="point-of-sale"] .indicator.grey::before { background-color: #8d99a6; }