.web-long-description {
  font-size: 18px;
  line-height: 200%;
}
.web-page-content {
  margin-bottom: 30px;
}
.item-stock {
  margin-bottom: 10px !important;
}
.product-link {
  display: block;
  text-align: center;
}
@media (max-width: 767px) {
  .product-image {
    height: 0px;
    padding: 0px 0px 100%;
    overflow: hidden;
  }
}
.product-image-square {
  width: 100%;
  height: 0;
  padding: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.product-image.missing-image {
  width: 100%;
  height: 0;
  padding: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  background-color: #EBEFF2;
}
.product-image.missing-image .octicon {
  font-size: 32px;
  color: #d1d8dd;
}
.product-search {
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .product-search {
    width: 100%;
  }
}
.borderless td,
.borderless th {
  border-bottom: 1px solid #EBEFF2;
  padding-left: 0px !important;
  line-height: 1.8em !important;
}
.item-desc {
  border-top: 2px solid #EBEFF2;
  padding-top: 10px;
}
.featured-products {
  border-top: 1px solid #EBEFF2;
}
.transaction-list-item:hover,
.transaction-list-item:active,
.transaction-list-item:focus {
  background-color: #fafbfc;
}
.transaction-list-item .indicator {
  font-weight: inherit;
  color: #8D99A6;
}
.transaction-list-item .transaction-time {
  margin-top: 5px;
}
.transaction-subheading .indicator {
  font-weight: inherit;
  color: #8D99A6;
}
.order-container {
  margin: 50px 0px;
}
.order-container .order-item-header .h6 {
  padding: 7px 15px;
}
.order-container .order-items {
  margin: 30px 0px 0px;
}
.order-container .order-item-table {
  margin: 0px -15px;
}
.order-container .order-item-header {
  border-bottom: 1px solid #d1d8dd;
}
.order-container .order-image-col {
  padding-right: 0px;
}
.order-container .order-image {
  max-width: 55px;
  max-height: 55px;
  margin-top: -5px;
}
.order-container .order-taxes {
  margin-top: 30px;
}
.order-container .order-taxes .row {
  margin-top: 15px;
}
.order-container .tax-grand-total-row {
  padding-top: 15px;
  padding-bottom: 30px;
}
.order-container .tax-grand-total {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}
.cart-container {
  margin: 50px 0px;
}
.cart-container .checkout {
  margin-bottom: 15px;
}
.cart-container .cart-item-header .h6 {
  padding: 7px 15px;
}
.cart-container .cart-items {
  margin: 30px 0px 0px;
}
.cart-container .cart-item-table {
  margin: 0px -15px;
}
.cart-container .cart-item-header {
  border-bottom: 1px solid #d1d8dd;
}
.cart-container .cart-image-col {
  padding-right: 0px;
}
.cart-container .cart-image {
  max-width: 55px;
  max-height: 55px;
  margin-top: -5px;
}
.cart-container .cart-taxes {
  margin-top: 30px;
}
.cart-container .cart-taxes .row {
  margin-top: 15px;
}
.cart-container .tax-grand-total-row {
  border-top: 1px solid #d1d8dd;
  padding-top: 15px;
}
.cart-container .cart-addresses {
  margin-top: 50px;
}
.cart-items-dropdown .cart-dropdown,
.item_name_dropdown {
  display: none;
}
.cart-dropdown-container {
  width: 400px;
  padding: 15px;
}
.cart-dropdown-container .item-price {
  display: block !important;
  padding-bottom: 10px;
}
.cart-dropdown-container .cart-item-header {
  border-bottom: 1px solid #d1d8dd;
}
.cart-dropdown-container .cart-items-dropdown {
  max-height: 350px;
}
.cart-dropdown-container .cart-items-dropdown .cart-dropdown {
  display: block;
  margin-top: 15px;
}
.cart-dropdown-container .item_name_dropdown {
  display: block;
}
.cart-dropdown-container .item-description,
.cart-dropdown-container .cart-items .checkout,
.cart-dropdown-container .item_name_and_description {
  display: none;
}
.cart-dropdown-container .checkout-btn {
  padding-top: 25px;
}
.cart-dropdown-container .col-name-description {
  margin-bottom: 8px;
}
.number-spinner {
  width: 100px;
  margin-top: 5px;
}
.cart-btn {
  border-color: #ccc;
}
.cart-qty {
  text-align: center;
}
.product-list-link .row {
  border-bottom: 1px solid #EBEFF2;
}
.product-list-link .row:hover {
  background-color: #fafbfc;
}
.product-list-link .row > div {
  padding-top: 15px;
  padding-bottom: 15px;
}
.product-list-link:first-child .row {
  border-top: 1px solid #EBEFF2;
}
.item-group-nav-buttons {
  margin-top: 15px;
}
.footer-subscribe .btn-default {
  background-color: transparent;
  border: 1px solid #d1d8dd;
}
@media (min-width: 992px) {
  .footer-subscribe {
    max-width: 350px;
  }
}
.item-group-content {
  margin-top: 30px;
}
.product-image-img {
  border: 1px solid #EBEFF2;
  border-radius: 3px;
}
.product-text {
  border-top: 1px solid #EBEFF2;
  padding: 15px;
  word-wrap: break-word;
  height: 75px;
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-image-wrapper {
  padding-bottom: 40px;
}
.duration-bar {
  display: inline-block;
  color: white;
  background: #8FD288;
  padding: 3px;
}
.duration-invisible {
  visibility: hidden;
}
.duration-value {
  float: right;
}
.bar-outer-text {
  color: #8FD288;
  background: none;
  float: none;
  border: none;
}
.bom-spec {
  margin-bottom: 20px;
}
