{% extends "templates/web.html" %}

{% block title %} {{ title }} {% endblock %}
{% block meta_block %}
	{% include "templates/includes/item_meta.html" %}
{% endblock %}

{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block page_content %}
{% from "erpnext/templates/includes/macros.html" import product_image %}
<div class="item-content">
	<div class="product-page-content" itemscope itemtype="http://schema.org/Product">
		<div class="row">
			<div class="col-md-6">
				{{ product_image(website_image, "bordered text-center") }}
				<div class="item-slideshow mt-2">
					{% if slides %}
						{% for item in slides %}
							<img class="item-slideshow-image {% if website_image == item.image %}active{% endif %}"
								src="{{ item.image }}" alt="{{ item.heading }}">
						{% endfor %}
					{% endif %}
				</div>
			</div>
			<div class="col-sm-6">
				<h1 itemprop="name">
					{{ item_name }}
				</h1>
				<p class="text-muted">
					{{ _("Item Code") }}: <span itemprop="productID">{{ doc.name }}</span>
				</p>

				{% if not has_variants %}
				<div class="item-cart row mt-2" data-variant-item-code="{{ item_code }}">
					<div class="col-md-6" id="item-spinner">
						<div class="input-group mb-3 number-spinner w-100">
							<div class="input-group-prepend">
								<button class="btn btn-outline-secondary" type="button" data-dir="dwn">-</button>
							</div>
							<input type="number" class="form-control border-secondary text-right cart-qty" value="1">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="button" data-dir="up">+</button>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div id="item-add-to-cart">
							<button data-item-code="{{item_code}}" class="btn btn-outline-primary item-variant-add-to-cart">{{ _("Add to Cart") }}</button>
						</div>
						<div id="item-update-cart" style="display: none;">
							<a href="/cart" class='btn btn-light'>
								<i class='octicon octicon-check'></i>
								{{ _("View in Cart") }}
							</a>
						</div>
					</div>
				</div>
				{% endif %}

				<h6 class="text-uppercase text-muted mt-4">{{ _("Description") }}</h6>
				<div itemprop="description" class="item-desc">
					{{ doc.web_long_description or doc.description or _("No description given") | safe }}
				</div>
			</div>
		</div>

		{% if doc.website_specifications -%}
		<div class="row item-website-specification mt-5">
			<div class="col-md-12">
				<h6 class="text-uppercase text-muted">{{ _("Specifications") }}</h6>

				<table class="table table-bordered">
				{% for d in doc.website_specifications -%}
					<tr>
						<td class="text-muted" style="width: 30%;">{{ d.label }}</td>
						<td>{{ d.description }}</td>
					</tr>
				{%- endfor %}
				</table>
			</div>
		</div>
		{%- endif %}

		<div class="item-attribute-table mt-5">
			{% if has_variants and variants %}
				<h3>Item Variants</h3>
				<table class="table table-bordered">
					<thead>
						<th>Item Code</th>
					{% for attr_key in valid_attribute_keys %}
						<th>{{ attributes_map[attr_key].field_name }}</th>
					{% endfor %}
						<th width="160"></th>
						<th width="120"></th>
					</thead>
					<tbody>
						{% for item_variant in variants %}
						<tr data-variant-item-code="{{ item_variant.name }}">
							<td>{{ item_variant.name }}</td>
							{% for attr_key in valid_attribute_keys %}
								<td>{{ item_variant.attribute_map[attr_key] }}</td>
							{% endfor %}
							<td>
								<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
									<h4 class="item-price" itemprop="price"></h4>
									<div class="item-stock" itemprop="availability"></div>
								</div>
							</td>
							<td><button data-item-code="{{item_variant.name}}" class="btn btn-outline-primary item-variant-add-to-cart">Add to Cart</button></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>
		<!-- <div class="item-attribute-selectors">
			{% if has_variants and attributes %}
				{% for d in attributes %}
					{% if attribute_values[d.attribute] -%}
					<div class="item-view-attribute {% if (attribute_values[d.attribute] | len)==1 -%} hidden {%- endif %}"
							style="margin-bottom: 10px;">
						<h6 class="text-muted">{{ _(d.attribute) }}</h6>
						<select class="form-control"
							style="max-width: 140px"
							data-attribute="{{ d.attribute }}">
						{% for value in attribute_values[d.attribute] %}
						<option value="{{ value }}"
						{% if selected_attributes and selected_attributes[d.attribute]==value -%}
							selected
						{%- elif disabled_attributes and value in disabled_attributes.get(d.attribute, []) -%}
							disabled
						{%- endif %}>
							{{ _(value) }}
						</option>
						{% endfor %}
						</select>
					</div>
					{%- endif %}
				{% endfor %}
			{% endif %}
		</div> -->
	</div>
</div>
<script>

	{% if variant_info %}
	window.variant_info = {{ variant_info }};
	{% else %}
	window.variant_info = null;
	{% endif %}

	{% include "templates/includes/product_page.js" %}

	/*
	frappe.ready(() => {
		$('.page_content').on('click', '.item-variant-add-to-cart', (e) => {
			const item_code = $(e.currentTarget).data().itemCode;
			erpnext.shopping_cart.update_cart({
				item_code,
				qty: 1
			});
		});

		$('[data-variant-item-code]').each(function() {
			const $this = $(this);
			const item_code = $this.data().variantItemCode;
			get_item_info(item_code)
				.then(r => {
					if (!r.message) return;
					if(r.message.cart_settings.enabled) {
						// $this.find(".item-cart, .item-price, .item-stock").toggleClass("hidden", (!!!r.message.product_info.price || !!!r.message.product_info.in_stock));
					}
					if(r.message.cart_settings.show_price) {
						$this.find(".item-price").toggleClass("hidden", false);
					}
					if(r.message.cart_settings.show_stock_availability) {
						$this.find(".item-stock").toggleClass("hidden", false);
					}
					if(r.message.product_info.price) {
						$this.find(".item-price")
							.html(r.message.product_info.price.formatted_price_sales_uom + "<div style='font-size: small'>\
								(" + r.message.product_info.price.formatted_price + " / " + r.message.product_info.uom + ")</div>");

						if(r.message.product_info.in_stock==0) {
							$this.find(".item-stock").html(`<div style='color: red'> <i class='fa fa-close'></i> ${__('Not in stock')}</div>`);
						}
						else if(r.message.product_info.in_stock==1) {
							var qty_display = __('In stock');
							if (r.message.product_info.show_stock_qty) {
								qty_display += " ("+r.message.product_info.stock_qty+")";
							}
							$this.find(".item-stock").html("<div style='color: green'>\
								<i class='fa fa-check'></i> "+qty_display+"</div>");
						}
					}
				})
		})

		function get_item_info(item_code) {
			return frappe.call({
				type: "POST",
				method: "erpnext.shopping_cart.product_info.get_product_info_for_website",
				args: { item_code }
			})
		}
	})
	*/

	frappe.ready(() => {
		$('.page_content').on('click', '.item-slideshow-image', (e) => {
			const $img = $(e.currentTarget);
			const link = $img.prop('src');
			const $product_image = $('.product-image');
			$product_image.find('a').prop('href', link);
			$product_image.find('img').prop('src', link);

			$('.item-slideshow-image').removeClass('active');
			$img.addClass('active');
		});
	})
</script>
{% endblock %}
