{% extends "templates/web.html" %}

{% block title %} {{ title }} {% endblock %}

{% block header %}<h2>{{ title }}</h2>{% endblock %}

{% block page_content %}
<div class="partner-content" itemscope itemtype="http://schema.org/Organization">
	<div class="row">
		<div class="col-md-4">
			{% if logo %}
			<img itemprop="brand" src="{{ logo }}" class="partner-logo"
				alt="{{ partner_name }}" title="{{ partner_name }}" />
			<br><br>
			{% endif %}
			{% if addresses %}
				{% for address in addresses %}
					<address>
						{% if address.partner_address %}<p itemprop="address">{{ address.partner_address }}</p>{% endif %}
						{% if address.phone %}<p itemprop="telephone">{{ address.phone }}</p>{% endif %}
						{% if address.email %}<p itemprop="email"><span class="fa fa-envelope"></span> {{ address.email }}</p>{% endif %}
					</address>
				{% endfor %}
			{% endif %}
		</div>
		<div class="col-md-8">
			<p>{{ description }}</p>
		</div>
	</div>
</div>
{% endblock %}
