.container {
	max-width: 728px !important;
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
}

a {
	cursor: pointer;
}

img {
	max-width: 100%;
}

.content {
	padding-bottom: 30px;
}

.outer {
	padding: 0px 20px;
}

.navbar {
	margin: 0px -20px;
}

.banner {
	margin-top: 20px;
	padding: 0px 20px;
}

.missing-image {
	background-color: #eee;
	padding: 40px;
	width: 112px;
	font-size: 32px;
	color: #888;
}

.social-icons {
	font-size: 120%;
	float: right;
	text-align: right;
}
.social-icons a:hover {
	text-decoration: none;
}
.social-icons a i:hover {
	text-decoration: none;
}
.social-icons i {
	margin-left: 5px;
}

div.web-footer {
	padding-top: 10px;
}

.web-footer-menu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.web-footer-menu ul li {
	display: inline;
	padding: 2px 14px 2px 0px;
	margin: 0px;
}

.avatar {
	display: inline-block; 
	vertical-align: middle;
	overflow: hidden;
	background-color: #ddd;
	border: 1px solid #eee;
}

.avatar-small {
	margin-right: 5px;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
}
.avatar-small img {
	width: 30px; 
}

.avatar-medium {
	margin-right: 5px;
	width: 48px;
	height: 48px;
	border-radius: 48px;
	-moz-border-radius: 48px;
	-webkit-border-radius: 48px;
}
.avatar-medium img {
	width: 48px; 
}

.avatar-large {
	margin-right: 10px;
	width: 72px;
	height: 72px;
	border-radius: 72px;
	-moz-border-radius: 72px;
	-webkit-border-radius: 72px;
}
.avatar-large img {
	width: 72px; 
}

.avatar-x-large {
	margin-right: 10px;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
}
.avatar-x-large img {
	width: 100px; 
}

.carousel-control .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
}

.hidden-sm-inline {
	display: none;
}

@media (min-width: 768px) {
	.hidden-sm-inline {
		display: inline;
	}
}

.panel-heading, 
.panel-body {
	padding-left: 15px;
}


.breadcrumb {
	margin: 0px -20px;
	margin-bottom: 20px;
}

fieldset {
	margin-bottom: 20px;
}

/* buttons */
.btn-default {
  color: #ffffff;
  background-color: #a7a9aa;
  border-color: #a7a9aa;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  color: #ffffff;
  background-color: #9a9c9d;
  border-color: #8d9091;
}

.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #a7a9aa;
  border-color: #a7a9aa;
}