div.outer {
	padding: 30px;
	margin: 30px -30px 10px -30px;
	min-height: 400px;
	overflow: hidden;
}

.outer .navbar {
	margin: -30px -30px 10px -30px;
}

footer {
	text-align: left;
	margin: auto;
	margin-bottom: 20px;
}

.navbar-inner {
	border: 0px;
	border-bottom: 1px solid #ddd;
	border-radius: 0px;
	padding-right: 30px;
	padding-left: 30px;
}

p, li {
	line-height: 1.5em;
}

.layout-wrapper {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	border-radius: 0px 0px 5px 5px;
}

.layout-main {
	min-height: 400px;
	padding: 30px;
}

.missing-image {
	background-color: #eee;
	padding: 40px;
	width: 32px;
	font-size: 32px;
	color: #888;
}

.social-icons {
	font-size: 120%;
	float: right;
	text-align: right;
}
.social-icons a:hover {
	text-decoration: none;
}
.social-icons a i:hover {
	text-decoration: none;
}
.social-icons i {
	margin-left: 5px;
}


.web-footer-menu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.web-footer-menu ul li {
	display: inline;
	padding: 2px 14px 2px 0px;
	margin: 0px;
}

.avatar {
	display: inline-block; 
	vertical-align: middle;
	overflow: hidden;
	background-color: #ddd;
	border: 1px solid #eee;
}

.avatar-small {
	margin-right: 5px;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
}
.avatar-small img {
	width: 30px; 
}

.avatar-medium {
	margin-right: 5px;
	width: 48px;
	height: 48px;
	border-radius: 48px;
	-moz-border-radius: 48px;
	-webkit-border-radius: 48px;
}
.avatar-medium img {
	width: 48px; 
}

.avatar-large {
	margin-right: 10px;
	width: 72px;
	height: 72px;
	border-radius: 72px;
	-moz-border-radius: 72px;
	-webkit-border-radius: 72px;
}
.avatar-large img {
	width: 72px; 
}

.avatar-x-large {
	margin-right: 10px;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
}
.avatar-x-large img {
	width: 100px; 
}
