{% extends "templates/base.html" %}
{% block title %}All Programs{% endblock %}
{% from "www/lms/macros/card.html" import program_card %}

{% block head_include %}
	<style>
		div.card-hero-img {
			height: 220px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			background-color: rgb(250, 251, 252);
		}

		.card-image-wrapper {
			display: flex;
			overflow: hidden;
			height: 220px;
			background-color: rgb(250, 251, 252);
			justify-content: center;
		}

		.image-body {
			align-self: center;
			color: #d1d8dd;
			font-size: 24px;
			font-weight: 600;
			line-height: 1;
			padding: 20px;
		}

		section {
			padding: 5rem 0 5rem 0;
		}
	</style>
{% endblock %}

{% block content %}
<section class="top-section ">
	<div class='container pb-5'>
		<h1>All Programs</h1>
		<p class="mt-4">
			<a class="btn btn-primary btn-lg" href="{{ '/login#signup' if frappe.session.user == 'Guest' else '/lms/all-programs' }}">{{ 'Start Learning' if frappe.session.user == 'Guest' else 'Explore Programs'}}</a>
		</p>
	</div>
	<div class='container'>
		<div class="row mt-5">
			{% for program in all_programs %}
				{{ program_card(program.program, program.has_access) }}
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}