{% extends "frappe_theme/templates/base.html" %}
{% block title %}ERPNext Academy{% endblock %}
{% from "templates/includes/media.html" import media %}
{% block head_include %}
<meta name="description" content="ERPNext Academy is a learnig platform to gain expertise in the world's top 100% open source ERP software." />
<meta name="keywords" content="ERP Software, Cloud ERP, Open Source ERP, Accounting Software, Online ERP, Online Accounting, ERP for small business, Learn ERP, ERPNext Academy, Learn ERPNext, Learn Accounting" />
{% endblock %}
{% block content %}
<div id="content-holder" data-type="{{ content_type }}" data-content="{{ current_content.name }}" data-course="{{ course_name }}" data-program="{{ program_name }}">
    {% with content = current_content, next_content = next_content, course_name = course_name, program_name = program_name %}
    {% include "www/lms/templates/includes/" + content_type.lower() + ".html" %}
    {% endwith %}
</div>
<style>
.footer-message {
    display: none;
}

.video-top-section {
    padding-top: 3rem !important;
    padding-bottom: 1rem !important;
}

.video-description-section {
    padding-top: 0em !important;
}

.article-top-section {
    padding-top: 3rem !important;
    padding-bottom: 0rem !important;
}

.article-content-section {
    padding-top: 0em !important;
}

.quiz-section {
    padding-top: 0rem !important;
}
</style>
{% endblock %}