{% extends "frappe_theme/templates/base.html" %}
{% block title %}ERPNext Academy{% endblock %}
{% from "templates/includes/media.html" import media %}
{% block content %}
<div id="content-holder" data-type="{{ content_type }}" data-content="{{ content.name }}" data-course="{{ course_name }}" data-program="{{ program_name }}">
{% include "www/lms/templates/includes/" + content_type.lower() + ".html" %}

</div>
<style>
.footer-message {
    display: none;
}

.video-top-section {
    padding-top: 3rem !important;
    padding-bottom: 1rem !important;
}

.video-description-section {
    padding-top: 0em !important;
}

.article-top-section {
    padding-top: 3rem !important;
    padding-bottom: 0rem !important;
}

.article-content-section {
    padding-top: 0em !important;
}

.quiz-section {
    padding-top: 3rem !important;
    padding-bottom: 0rem !important;
}
</style>
{% endblock %}