{% extends "templates/base.html" %}
{% block title %}{{ education_settings.portal_title }}{% endblock %}
{% from "www/lms/macros/card.html" import program_card %}
{% from "www/lms/macros/card.html" import null_card %}

{% block head_include %}
	<meta name="description" content="{{ education_settings.description }}" />
	<meta name="keywords" content="ERP Software, Cloud ERP, Open Source ERP, Accounting Software, Online ERP, Online Accounting, ERP for small business" />
	<style>
		div.card-hero-img {
			height: 220px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			background-color: rgb(250, 251, 252);
		}

		.card-image-wrapper {
			display: flex;
			overflow: hidden;
			height: 220px;
			background-color: rgb(250, 251, 252);
			justify-content: center;
		}

		.image-body {
			align-self: center;
			color: #d1d8dd;
			font-size: 24px;
			font-weight: 600;
			line-height: 1;
			padding: 20px;
		}

		section {
			padding: 5rem 0 5rem 0;
		}
	</style>
{% endblock %}

{% block content %}
<section class="top-section" style="padding: 6rem 0rem;">
	<div class='container pb-5'>
		<h1>{{ education_settings.portal_title }}</h1>
		<p class='lead'>{{ education_settings.description }}</p>
		<p class="mt-4">
			{% if frappe.session.user == 'Guest' %}
				<a class="btn btn-primary btn-lg" href="/login#signup">{{_('Sign Up')}}</a>
			{% endif %}
		</p>
	</div>
	<div class='container'>
		<div class="row mt-5">
			{% for program in featured_programs %}
				{{ program_card(program.program, program.has_access) }}
			{% endfor %}
			{% if featured_programs %}
				{% for n in range( (3 - (featured_programs|length)) %3) %}
					{{ null_card() }}
				{% endfor %}
			{% endif %}
		</div>
	</div>
</section>
{% endblock %}