{% extends "templates/base.html" %}
{% block title %}{{ education_settings.portal_title }}{% endblock %}

{% block head_include %}
	<meta name="description" content="{{ education_settings.description }}" />
	<meta name="keywords" content="ERP Software, Cloud ERP, Open Source ERP, Accounting Software, Online ERP, Online Accounting, ERP for small business" />
	<style>
		div.card-hero-img {
			height: 220px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			background-color: rgb(250, 251, 252);
		}

		.card-image-wrapper {
			display: flex;
			overflow: hidden;
			height: 220px;
			background-color: rgb(250, 251, 252);
			justify-content: center;
		}

		.image-body {
			align-self: center;
			color: #d1d8dd;
			font-size: 24px;
			font-weight: 600;
			line-height: 1;
			padding: 20px;
		}
	</style>
{% endblock %}


{% macro card(program, is_enrolled) %}
<div class="col-sm mb-4 text-left">
	<div class="card">
		<a href="/lms/program?name={{ program.name }}" class="no-decoration no-underline">
			{% if program.hero_image %}
			<div class="card-hero-img" style="background-image: url({{ program.hero_image }})"></div>
			{% else %}
			<div class="card-image-wrapper text-center">
				<div class="image-body">{{ program.program_name }}</div>
			</div>
			{% endif %}
			<div class='card-body'>
				<h5 class='card-title'>{{ program.program_name }}</h5>
				<div>{{ program.description }}</div>
			</div>
			<div class='card-footer'>
				<a class='small'>Watch Intro</a>
			</div>
		</a>
	</div>
</div>
{% endmacro %}

{% block content %}
<section class="top-section ">
	<div class='container pb-5'>
		<h1>{{ education_settings.portal_title }}</h1>
		<p class='lead'>{{ education_settings.description }}</p>
		<p class="mt-4">
			<a class="btn btn-primary btn-lg" style="width: 170px;" href="{{ '/login#signup' if frappe.session.user == 'Guest' else '/lms/all-programs' }}">Start Learning</a>
		</p>
		<a href="https://erpnext.com" target="blank" class="mt-0 small text-muted">Go to erpnext.com</a>
	</div>
	<div class='container'>
		<div class="row mt-5">
			{% for program in featured_programs %}
				{{ card(program.program, program.is_enrolled) }}
			{% endfor %}
		</div>
		<p class='mt-4'>
			<a href='/lms/all-programs' class='text-muted'>View All Programs</a>
		</p>
	</div>
</section>
<section class="section-padding section-bg">
	<div class='container'>
	<div class='card-deck'>
		<div class="card">
			<!-- <img class='mt-3' src="/assets/erpnext_com/img/balloon.svg" style='height: 150px'> -->
			<div class='card-body'>
				<h5 class='card-title'>Curated Courses</h5>
				<div>Start with a 14 day trial to get instant access to your own ERPNext Instance. Get expert support and world class hosting too.</div>
			</div>
		</div>

		<div class="card">
			<!-- <img class='mt-3' src="/assets/erpnext_com/img/umbrella.svg" style='height: 150px'> -->
			<div class='card-body'>
				<h5 class='card-title'>Built by Experts</h5>
				<div>For self hosted users, ERPNext Support provides you the priority support and bug fix guarantee, so you can stop worrying.</div>
			</div>
		</div>

		<div class="card">
			<!-- <img class='mt-3' src="/assets/erpnext_com/img/sun.svg" style='height: 150px'> -->
			<div class='card-body'>
				<h5 class='card-title'>Learn from the OEMs</h5>
				<div>ERPNext is open source and infinitely extensible. Customize it, build upon it, add your own apps built with <a href="https://frappe.io/frappe" class="underline">Frappe Framework</a>.</div>
			</div>
		</div>
	</div>
	</div>
</section>
<section class='section-padding'>
	<div class='container text-center'>
		<h3 class='text-center'>About ERPNext</h3>
		<p class='lead'>ERPNext is the world's best 100% open source ERP used by over 5000 companies worldwide.</p>
		<div class='mt-4 '>
			<a class="btn btn-primary btn-lg" href="/pricing">Start Learning</a>
		</div>
	</div>
</section>
{% endblock %}