name: Generate Semantic Release
on:
  push:
    branches:
      - test-release
jobs:
  release:
    name: Release
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout Entire Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Node.js v14
        uses: actions/setup-node@v2
        with:
          node-version: 14
      - name: Setup dependencies
        run: |
          npm install @semantic-release/git @semantic-release/exec --no-save
      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release