<section class="section-padding">
        <div class='container'>
            <h3 class='text-center'>Highlights</h3>
            <div class='card-deck mt-5'>
                <div class="card">
                    <div class='card-body'>
                        <h5 class='card-title'>Curated Courses</h5>
                        <div>Learning paths specifically designed for the your use cases, whether you are a user, developer
                            or an
                            implementer</div>
                    </div>
                    <div class='card-footer'>
                        <a href="#" class='text-muted small'>Explore Learning Paths</a>
                    </div>
                </div>
    
                <div class="card">
                    <div class='card-body'>
                        <h5 class='card-title'>Comprehensive Content</h5>
                        <div>Content designed to cover all the fundamentals as well as expert tips and techniques to make
                            the most out of ERPNext.</div>
                    </div>
                    <div class='card-footer'>
                        <a href="#" class='text-muted small'>View Course List</a>
                    </div>
                </div>
    
                <div class="card">
                    <div class='card-body'>
                        <h5 class='card-title'>Certification</h5>
                        <div>ERPNext is open source and infinitely extensible. Customize it, build upon it, add your own
                            apps built with
                            <a href="https://frappe.io" class="underline">Frappe Framework</a>.</div>
                    </div>
                    <div class='card-footer'>
                        <a href="#" class='text-muted small'>Certification Benefits</a>
                    </div>
                </div>
            </div>
        </div>
    </section>