{% macro quiz(question, opt1, opt2, opt3, opt4) %}
<div class="question mt-4">
        <h5>{{ question }}</h5>
        <div class="options ml-2">
            <div class="form-check pb-1">
                <input class="form-check-input" type="radio" name="{{ question }}" id="{{ opt1 }}" value="{{ opt1 }}">
                <label class="form-check-label" for="{{ opt1 }}">
                    {{ opt1 }}
                </label>
            </div>
            <div class="form-check pb-1">
                <input class="form-check-input" type="radio" name="{{ question }}" id="{{ opt2 }}" value="{{ opt2 }}">
                <label class="form-check-label" for="{{ opt2 }}">
                    {{ opt2 }}
                </label>
            </div>
            <div class="form-check pb-1">
                <input class="form-check-input" type="radio" name="{{ question }}" id="{{ opt3 }}" value="{{ opt3 }}">
                <label class="form-check-label" for="{{ opt3 }}">
                    {{ opt3 }}
                </label>
            </div>
            <div class="form-check pb-1">
                <input class="form-check-input" type="radio" name="{{ question }}" id="{{ opt3 }}" value="{{ opt4 }}">
                <label class="form-check-label" for="{{ opt3 }}">
                    {{ opt4 }}
                </label>
            </div>
        </div>
    </div>
{% endmacro %}

<section class="article-section">
        <div class='container'>
            <div class="mt-3 row">
                <div class="col-md-8">
                    <h2>Quiz &mdash; Accounting with ERPNext</h2>
                </div>
            </div>
            <div class="content">
                <hr>
                <form>
                    {{ quiz('1. What is a Sales Invoice?','The bills that you raise to your Customers for the products or services you provide.','Bills that your Suppliers give you for their products or services.','The bills for accounting entries, like payments, credit and other types.','The bills that were recovered from an oblivion of files and folders stacked in a old and rusty closet.') }}
                    {{ quiz('2. How to create a Sales Invoice?','Accounts > Billing > Sales Invoice > New Sales Invoice','Accounts > Buying > New Sales Invoice','Accounts > CRM > New Sales Invoice','Accounts > Purchases > New Sales Invoice') }}
                    {{ quiz('3. The long term assets that have no physical existence but are rights that have value is known as','Current Assets','Fixed Assets','Intangible Assets','Investments') }}
                    <div class="text-right">
                        <button class='btn btn-outline-secondary' type="reset">Reset</button>
                        <button class='btn btn-primary' type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <div class="mt-3 text-right">
                <a class="text-muted" href="/report"><i class="octicon octicon-issue-opened" title="Report"></i> Report a Mistake</a>
            </div>
        </div>
    </section>