<h1>Birthday Email Notification</h1>
<h3>Employee Details:</h3>
<table class="table table-bordered small" style="max-width: 500px;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>{{ employee_name }}</td>
        </tr>
        <tr>
            <td>Profile Picture</td>
            <td>{{ image }}</td>
        </tr>
        <tr>
            <td>Birth Date</td>
            <td>{{ date_of_birth }}</td>
        </tr>
        <tr>
            <td>Company Email</td>
            <td>{{ company_email }}</td>
        </tr>
        <tr>
            <td>Company</td>
            <td>{{ company }}</td>
        </tr>
        <tr>
            <td>Personal Email</td>
            <td>{{ personal_email }}</td>
        </tr>
    </tbody>
</table>