<h4>{{_("Request for Quotation")}}</h4>
<p>{{ supplier_salutation if supplier_salutation else ''}} {{ supplier_name }},</p>
<p>{{ message }}</p>
<p>{{_("The Request for Quotation can be accessed by clicking on the following button")}}:</p>
<br>
<a
	href="{{ rfq_link }}"
	class="btn btn-default btn-sm"
	target="_blank">
	{{ _("Submit your Quotation") }}
</a>
<br>
<br>
{% if update_password_link %}
<br>
<p>{{_("Please click on the following button to set your new password")}}:</p>
<a
	href="{{ update_password_link }}"
	class="btn btn-default btn-xs"
	target="_blank">
	{{_("Set Password") }}
</a>
<br>
<br>
{% endif %}
<p>
	{{_("Regards")}},<br>
	{{ user_fullname }}
</p>
