<h4>{{_("Request for Quotation")}}</h4>
<p>{{ supplier_salutation if supplier_salutation else ''}} {{ supplier_name }},</p>
<p>{{ message }}</p>

<p>{{_("The Request for Quotation can be accessed by clicking on the following button")}}:</p>
<p>
	<button style="border: 1px solid #15c; padding: 6px; border-radius: 5px; background-color: white;">
		<a href="{{ rfq_link }}" style="color: #15c; text-decoration:none;" target="_blank">Submit your Quotation</a>
	</button>
</p><br>

<p>{{_("Regards")}},<br>
{{ user_fullname }}</p><br>

{% if update_password_link %}

<p>{{_("Please click on the following button to set your new password")}}:</p>
<p>
	<button style="border: 1px solid #15c; padding: 4px; border-radius: 5px; background-color: white;">
		<a href="{{ update_password_link }}" style="color: #15c; font-size: 12px; text-decoration:none;" target="_blank">{{_("Update Password") }}</a>
	</button>
</p>

{% endif %}
